#subList{background-color: #f4f6f3; height: 21px;border-top: 1px solid #cccccc;border-bottom:1px solid #cccccc; }
.ui-state-zebra { background: #EEEEEE; }
.ui-widget { font-family: Arial; font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial; font-size: 1em; }

/* We need latest version of Jquery UI to support clip: rect(1px,1px,1px,1px) property. 
Thus, adding this css class to override original. */
.ui-helper-hidden-accessible { position: absolute !important; clip: auto; }

.portlet-border-highlight{
	/* outline-style:solid;
	outline-color:#F0AB00;
	outline-width:2px; */
	outline-style:none;
	outline-color:none;
	outline-width:none;
}