#subList{background-color: #666666; height: 21px;}
.ui-state-zebra { background: #666666; }
.second-level-menu {	 background-color: #666666;}
li.themes_current { background-color: #666666; }
.ui-state-dkrow {padding: 3px ; font-size: 10px; line-height: 12px; color:inherit; background:#666666;}
.ui-widget { font-family: Arial; font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial; font-size: 1em; }