/*
	Uniform font size for everything. This can be override by assigning another class 
	to the element if required.
*/
table {
	text-align: left;
}

.sapUiRb {
	font-size: 13px;
}

.sapUiBtnS {
	font-size: 14px;
	padding: 0 14px !important;
}

.sapUiTfAutoComp, .sapUiTfCombo {
	/* this is to overwrite the changes made in ui.custom.config.css 
	  (removing overflow property to fix right border hiding issue)
	*/ 	
	overflow: visible !important;
	width: auto !important;
}

.sapUiBtnS, .sapUiTfComboIcon {
	margin-right: 0px;
}

.sapUiModuleSubmenuItemCls {
	border: 1px solid #bfbfbf !important;
	border-radius: 5px !important;
	height: 30px !important;
	line-height: 0px;
	margin-top: 0px;
	float: left;
	position: relative;
	box-shadow: 1px 1px 2px rgba(96, 96, 96, 0.5);
	color: #808080;
	left: 0px;
	background-color: #f7f7f7 !important;
}

.sapUiModuleSubmenuItemCls:hover {
	border: 1px solid #bfbfbf !important;
	box-shadow: 1px 1px 1px rgba(96, 96, 96, 0.5) !important;
	font-size: 14px;
}

.sapUiBtnS.sapUiBtnNorm:not(.sapUiModuleSubmenuItemCls):not(.sapUiPortletSettingsIcon) {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c4c4c4));
	border-color: #bfbfbf !important;
	border-radius: 3px;
	height: 30px !important;
	color: #4F4F4F; 	
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
} 

.sapUiUx3NavBarItem:focus {
	outline: none !important;	
}

.sapUxTwoColumnFormRenderer div[class*="sapUiRLElementFields"] div[class="sapUiRFLContainer"] {
	width: 50% !important;
}

.sapUxPortletSettingsIcon li[class~="sapUiMnuItm"]:hover {
	background: #5f83b9 !important;
}

/***************************************************************************
	By default sapUiBorderLayoutTop renders the elements in center position.
	The inline style is being override in the class below.
***************************************************************************/
.sapUiBorderLayoutTop {
	text-align: left !important;
}

/***************************************************************************
	Matching the border color & radius as per jQuery input element  
***************************************************************************/
.sapUiTf {
	border: 1px solid #B6B6B6;
	border-radius: 3px;
	border-bottom: 1px solid #B6B6B6;
}

.sapUiBtnS.sapUiBtnStd:hover, .sapUiBtnS.sapUiBtnStd.sapUiBtnStdHover {
	background-color: initial !important;	
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnStd:hover, .sapUiBtnS.sapUiBtnNorm.sapUiBtnStd.sapUiBtnStdHover {
	border-color: #bfbfbf !important;
}

.sapUiUx3NavBarItemSel {
	border-bottom: 4px solid #f8a245;
}

.sapUiUx3NavBarList li:not(.sapUiUx3NavBarItemSel) a:hover {
	/* on hover show border-bottom */
	border-bottom: 4px solid rgba(248, 162, 69, .5);
	transition: border-bottom .3s;
	-webkit-transition: border-bottom .3s;
	-moz-transition: border-bottom .3s;
	-o-transition: border-bottom .3s;
}

.sapUiUx3NavBarItemSel > a{
	color: #4F4F4F !important;
	font-weight: normal !important;
}

.sapUiUx3NavBarItem:hover {
	color: #4F4F4F !important;
}

.sapUiPanelHdrEmph {
	background-color: transparent;
	border-bottom: none;	
}

.sapUiBtnS.sapUiBtnAct:hover {
	background-color: #f7f7f7 !important;
}

.sapUiBtnS.sapUiBtnNorm.sapUiBtnAct:hover {
	border-color: #bfbfbf !important;
}

.sapUiDlgLabel {
	font-weight: normal;
	font-size: 17px;
	color: #404040;	
	padding-left: 10px;
}

.sapUiDlgHdr {
	width: 100%;
	margin-left: 0px;
	background: -webkit-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
}

.sapUiDlgFooter {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c4c4c4)) !important;
}

.sapUiDlgCont {
	min-height: 80px;
}

.sapUiDlgCont table tbody tr:first-child td:first-child img {
	display: none;
} 

.sapUiDlgCloseBtn {
	box-shadow: 1px 1px 1px #525d68;
	border-radius: 4px;
	padding: 0px;
	background-size: 11px;	
}

.sapUiLbx li span {
	font-size: 13px;
}

.sapUxWizardVerifyPage div[class~="sapUiRFLCompleteRow"] {
	border: 1px solid #dddddd;
	background: #eeeeee;
}