.msgDropdownMainCls ul:before {
	/* content: '';
	display: block;
	border-color: transparent transparent rgb(187, 187, 236) transparent;
	border-style: solid;
	border-width: 10px;
	position: absolute;
	top: -20px;
	left: 49%;
	margin-left: -4px; */
}

.mailMsgFileHolder {
	cursor: default;
	max-height: 0;
	
	transition: max-height .3s;
	-webkit-transition: max-height .3s;
	-moz-transition: max-height .3s;
	-o-transition: max-height .3s;
	
	overflow: hidden;
}

.msgDropdownMainCls:hover>.mailMsgFileHolder {
	max-height: 470px;
	transition: max-height .8s;
	-webkit-transition: max-height .8s;
	-moz-transition: max-height .8s;
	-o-transition: max-height .8s;
}

.msgDropdownMainCls ul {
	/* visibility: hidden;
	opacity: 0; */
	list-style: none;
	padding: 0;
	background-color: #fff;
	text-align: left;
	position: absolute;
	top: 38px;
	left: -210px;
	width: 400px;
	float: left;
	overflow: hidden;
	/* transition: visibility 0s 2s, opacity 2s linear;
	-webkit-transition: visibility 0s .2s, opacity .2s linear;
	-moz-transition: visibility 0s .2s, opacity .2s linear;
	-o-transition: visibility 0s .2s, opacity .2s linear; */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.newMsgComposeActionCls {
	float: right;
	padding: 10px;
	cursor: pointer;
}

.msgsTopActionBarCls, .alertsTopActionBarCls {
	float: left;
	width: 100%;
	font-size: 15px;
	color: #fff;
	background-color: #9492c8;
	border-radius: 5px;
	border-bottom-left-radius: 0; border-bottom-right-radius : 0;
	/* padding: 5px 0; */
	border-bottom-right-radius: 0;
}

.noMsgSpan {
	font-size: 15px;
	color: #313131;
	width: 100%;
	text-align: center;
	float: left;
	margin: 10px 0;
}

.msgDataHolder, .alertDataHolder {
	float: left;
	height: 100%;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #adadad;
	margin-top: 5px;
	position: relative;
	overflow: hidden;
}

.msgSenderDateDetails, .alertSenderDateDetails {
	width: 100%;
	font-size: 14px;
	margin: 5px 0;
	padding-left: 5px;
}

.msgSenderDateDetails span:not (.messageMemo) {
	color: #000000;
	margin-left: 5px;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.msgSenderName, .alertSubject {
	float: left;
	min-width: 60%;
	color: #027b9e;
	font-size: 16px;
}

.msgDate, .alertDate {
	float: right;
	color: #027b9e;
	font-size: 16px;
	margin-right: 13px;
}

.msgDetails, .alertDetails {
	color: #504F4F;
	font-size: 15px;
	float: left;
	line-height: 20px;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	height: 45px;
}

.alertDetails {
	margin: 0px !important;
	line-height: 25px;
	padding-left:5px;
	width:100%;
}

.alertSubject {
	margin: 0 !important;
}

.messageSubject, .alertSubject {
	display: block;
	margin: 3px 0 0 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 370px;
	overflow: hidden;
}

.messageMemo, .alertMemo {
	clear: both;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 370px;
	overflow: hidden;
	margin-left: 5px;
}

.msgMoreBtnSpan, .alertMoreBtnSpan {
	color: #fff;
	width: 100%;
	float: left;
	text-align: center;
	font-size: 16px;
	background-color: #9492c8;
	padding: 4px 0;
	cursor: pointer;
}

.topActionItemsCls span {
	float: left;
	padding: 10px 15px;
	cursor: pointer;	
}

.topActionItemsCls span:nth-child(1) {
	border-top-left-radius: 3px;
}

.topActionItemSelected {
	background-color: #62bb46;
	color: #fff;
}

.msgMoreLinkDownArrow, .alertMoreLinkDownArrow {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 2px;	
}

.msgActionItemHolder, .alertActionItemHolder {
	background-color: #4c525c;
	position: absolute;
	line-height: 20px;
	color: #fff;
	padding-top: 6px;
	display: inline-block;
	margin-top: 30px;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	
	right: -170px;
	transition: right .3s;
	-webkit-transition: right .3s;
	-moz-transition: right .3s;
	-o-transition: right .3s;
}

.alertActionItemHolder {
	margin-top: 12px;
	right: -70px;
	padding: 3px 1px 3px 5px;
}

.msgDataHolder:hover > .msgActionItemHolder, .alertDataHolder:hover > .alertActionItemHolder {
	right: 0;
	transition: right .3s;
	-webkit-transition: right .3s;
	-moz-transition: right .3s;
	-o-transition: right .3s;
}

.msgActionItemHolder span {
	display: inline-block;
	margin: 0 0px 0 5px;
	cursor: pointer;
}

/* .msgActionItemHolder span[class~="actionItemDivider"] {
	font-size: 17px;
	font-weight: bold;
	line-height: 14px;
	color: #909090;
	cursor: default !important;
	position: absolute;
} */

.msgItemHolderDiv {
	float: left;
	max-height: 435px;
	overflow-y: auto;
	width:100%;
}