﻿/*Created with Adobe RoboHelp 10.*/
BODY {
	font-family: Arial;
	background-color: #ffffff;
}
h1 {
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
}
LI.h1 {
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
}
LI.kadov-H1 {
	font-weight: bold;
	font-size: 20pt;
}
H2 {
	font-weight: bold;
	font-size: 12pt;
}
LI.h2 {
	font-weight: bold;
	font-size: 12pt;
}
LI.kadov-H2 {
	font-weight: bold;
	font-size: 16pt;
}
H3 {
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
}
LI.h3 {
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
}
LI.kadov-H3 {
	font-weight: bold;
	font-size: 12pt;
	font-style: italic;
}
H4 {
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
}
LI.h4 {
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
}
LI.kadov-H4 {
	font-weight: bold;
	font-size: 10pt;
}
H5 {
	font-weight: bold;
	font-size: 8pt;
}
LI.h5 {
	font-weight: bold;
	font-size: 8pt;
}
LI.kadov-H5 {
	font-weight: bold;
	font-size: 8pt;
}
H6 {
	font-weight: bold;
	font-size: 6pt;
}
LI.h6 {
	font-weight: bold;
	font-size: 6pt;
}
LI.kadov-H6 {
	font-weight: bold;
	font-size: 6pt;
}
P {
	margin-top: 9pt;
	margin-bottom: 9pt;
	font-size: 8pt;
}
LI.p {
	font-size: 8pt;
}
LI.kadov-P {
	font-size: 10pt;
}
A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
A.dropspot {
	cursor: hand;
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	color: #003f7f;
	text-decoration: none underline;
}
A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}
OL {
	margin-top: 0px;
	margin-bottom: 0px;
}
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
