/* Second level menu background */
#subList{background-color: #f4f6f3; height: 21px;border-top: 1px solid #cccccc;border-bottom:1px solid #cccccc; }

/* required comment for clearfix to work  \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */

/* We need latest version of Jquery UI to support clip: rect(1px,1px,1px,1px) property. 
Thus, adding this css class to override original. Fix required for rendering calendar */
.ui-helper-hidden-accessible { position: absolute !important; clip: auto; }

.ui-widget { font-family: Arial; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial; font-size: 1em; }