<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN" "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
    <tlibversion>0.0</tlibversion>
    <jspversion>1.0</jspversion>
    <shortname>author</shortname>
    <tag>
        <name>list</name>
        <tagclass>com.ffusion.jtf.taglib.authoring.list</tagclass>
        <teiclass>com.ffusion.jtf.taglib.authoring.listExtraInfo</teiclass>
        <bodycontent>JSP</bodycontent>
        <attribute>
           <name>items</name>
           <required>true</required>
           <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>enable</name>
        <tagclass>com.ffusion.jtf.taglib.authoring.enable</tagclass>
        <bodycontent>JSP</bodycontent>
        <attribute>
           <name>equals</name>
           <required>false</required>
           <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
           <name>requestVar</name>
           <required>false</required>
           <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>disable</name>
        <tagclass>com.ffusion.jtf.taglib.authoring.disable</tagclass>
        <bodycontent>JSP</bodycontent>
        <attribute>
           <name>equals</name>
           <required>false</required>
           <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
           <name>requestVar</name>
           <required>false</required>
           <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>getEnabled</name>
        <tagclass>com.ffusion.jtf.taglib.authoring.getEnabled</tagclass>
        <bodycontent>JSP</bodycontent>
    </tag>
    <tag>
        <name>clear</name>
        <tagclass>com.ffusion.jtf.taglib.authoring.clear</tagclass>
        <bodycontent>JSP</bodycontent>
        <attribute>
           <name>equals</name>
           <required>false</required>
           <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
           <name>requestVar</name>
           <required>false</required>
           <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>view</name>
        <tagclass>com.ffusion.jtf.taglib.authoring.view</tagclass>
        <bodycontent>JSP</bodycontent>
        <attribute>
           <name>url</name>
           <required>false</required>
           <rtexprvalue>true</rtexprvalue>
        </attribute>
	    <attribute>
	       <name>realPath</name>
	       <required>false</required>
	       <rtexprvalue>true</rtexprvalue>
	    </attribute>
	    <attribute>
	       <name>pageContents</name>
	       <required>false</required>
	       <rtexprvalue>true</rtexprvalue>
	    </attribute>
	    <attribute>
	       <name>lineCount</name>
	       <required>false</required>
	       <rtexprvalue>true</rtexprvalue>
	    </attribute>
    </tag>
    <tag>
        <name>update</name>
        <tagclass>com.ffusion.jtf.taglib.authoring.update</tagclass>
        <teiclass>com.ffusion.jtf.taglib.authoring.updateExtraInfo</teiclass>
        <bodycontent>JSP</bodycontent>
        <attribute>
           <name>page</name>
           <required>true</required>
           <rtexprvalue>true</rtexprvalue>
        </attribute>
	    <attribute>
	       <name>pageContents</name>
	       <required>true</required>
	       <rtexprvalue>true</rtexprvalue>
	    </attribute>
    </tag>
</taglib>

