#livechat{
	color: rgba(0,156,120,1);
	font-weight: bold;
}

#portalPortletsDialog {
    height: 215px !important;
}




.homePageStyle #outer-north,
.acctMgmtPageStyle #outer-north,
.cashMgmtPageStyle #outer-north,
.pmtTranPageStyle #outer-north,
.adminPageStyle #outer-north,
.approvalsPageStyle #outer-north,
.reportingPageStyle #outer-north,
.reportingPageStyle .copyrightContainer{
	background-color: rgba(0,156,120,1);
}

.homePageStyle .copyrightContainer,
.acctMgmtPageStyle .copyrightContainer,
.cashMgmtPageStyle .copyrightContainer,
.pmtTranPageStyle .copyrightContainer,
.adminPageStyle .copyrightContainer,
.approvalsPageStyle .copyrightContainer,
.reportingPageStyle .copyrightContainer{
	border-top: 3px solid rgba(0,156,120,1);
	background-color: rgba(0,156,120,1);
}


.homePageStyle #outer-north,
.acctMgmtPageStyle #outer-north,
.cashMgmtPageStyle #outer-north,
.pmtTranPageStyle #outer-north,
.adminPageStyle #outer-north,
.approvalsPageStyle #outer-north,
.reportingPageStyle #outer-north,

.homePageStyle .formActionItemPlaceholder .cardTitle,
.acctMgmtPageStyle .formActionItemPlaceholder .cardTitle,
.cashMgmtPageStyle .formActionItemPlaceholder .cardTitle,
.pmtTranPageStyle .formActionItemPlaceholder .cardTitle,
.adminPageStyle .formActionItemPlaceholder .cardTitle,
.approvalsPageStyle .formActionItemPlaceholder .cardTitle,
.reportingPageStyle .formActionItemPlaceholder .cardTitle,

.homePageStyle .formActionItemPlaceholder .cardLinks > span,
.acctMgmtPageStyle .formActionItemPlaceholder .cardLinks > span,
.cashMgmtPageStyle .formActionItemPlaceholder .cardLinks > span,
.pmtTranPageStyle .formActionItemPlaceholder .cardLinks > span,
.adminPageStyle .formActionItemPlaceholder .cardLinks > span,
.approvalsPageStyle .formActionItemPlaceholder .cardLinks > span,
.reportingPageStyle .formActionItemPlaceholder .cardLinks > span,

.homePageStyle .paneWrapper .header,
.cashMgmtPageStyle .paneWrapper .header,
.pmtTranPageStyle .paneWrapper .header,
.adminPageStyle .paneWrapper .header,
.approvalsPageStyle .paneWrapper .header,
.reportingPageStyle .paneWrapper .header,

.homePageStyle .leftPaneInnerWrapper .header,
.cashMgmtPageStyle .leftPaneInnerWrapper .header,
.pmtTranPageStyle .leftPaneInnerWrapper .header,
.adminPageStyle .leftPaneInnerWrapper .header,
.approvalsPageStyle .leftPaneInnerWrapper .header,
.reportingPageStyle .leftPaneInnerWrapper .header,

.homePageStyle .leftPane .header,
.cashMgmtPageStyle .leftPane .header,
.pmtTranPageStyle .leftPane .header,
.adminPageStyle .leftPane .header,
.approvalsPageStyle .leftPane .header,
.reportingPageStyle .leftPane .header,

.homePageStyle .SaveTemplate .header,
.cashMgmtPageStyle .SaveTemplate .header,
.pmtTranPageStyle .SaveTemplate .header,
.adminPageStyle .SaveTemplate .header,
.approvalsPageStyle .SaveTemplate .header,
.reportingPageStyle .SaveTemplate .header,
.acctMgmtPageStyle .paneWrapper .header,
.acctMgmtPageStyle .leftPaneInnerWrapper .header,
.acctMgmtPageStyle .leftPane .header,
.acctMgmtPageStyle .SaveTemplate .header,



.homePageStyle .ui-selectmenu-menu-dropdown > li:hover,
.homePageStyle .ui-daterangepicker > ul > li:hover,
.acctMgmtPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.acctMgmtPageStyle .ui-daterangepicker > ul > li:hover,
.cashMgmtPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.pmtTranPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.adminPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.approvalsPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.reportingPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.cashMgmtPageStyle .ui-daterangepicker > ul > li:hover,
.pmtTranPageStyle .ui-daterangepicker > ul > li:hover,
.adminPageStyle .ui-daterangepicker > ul > li:hover,
.approvalsPageStyle .ui-daterangepicker > ul > li:hover,
.reportingPageStyle .ui-daterangepicker > ul > li:hover,

.homePageStyle .moduleSubmenuDropdownHolder li:hover,
.homePageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.homePageStyle .dashboardSubmenuItemList li:hover ,
.acctMgmtPageStyle .moduleSubmenuDropdownHolder li:hover,
.acctMgmtPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.acctMgmtPageStyle .dashboardSubmenuItemList li:hover,
.cashMgmtPageStyle .moduleSubmenuDropdownHolder li:hover,
.pmtTranPageStyle .moduleSubmenuDropdownHolder li:hover,
.adminPageStyle .moduleSubmenuDropdownHolder li:hover,
.approvalsPageStyle .moduleSubmenuDropdownHolder li:hover,
.reportingPageStyle .moduleSubmenuDropdownHolder li:hover,
.cashMgmtPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.pmtTranPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.adminPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.approvalsPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.reportingPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.cashMgmtPageStyle .dashboardSubmenuItemList li:hover ,
.pmtTranPageStyle .dashboardSubmenuItemList li:hover ,
.adminPageStyle .dashboardSubmenuItemList li:hover ,
.approvalsPageStyle .dashboardSubmenuItemList li:hover ,
.reportingPageStyle .dashboardSubmenuItemList li:hover ,


.homePageStyle .copyrightContainer,
.acctMgmtPageStyle .copyrightContainer,
.cashMgmtPageStyle .copyrightContainer,
.pmtTranPageStyle .copyrightContainer,
.adminPageStyle .copyrightContainer,
.approvalsPageStyle .copyrightContainer,
.reportingPageStyle .copyrightContainer,

.homePageStyle .wizardProgressIndicatorCls li.active:before,
.homePageStyle .wizardProgressIndicatorCls li.active:after,
.acctMgmtPageStyle .wizardProgressIndicatorCls li.active:before,
.acctMgmtPageStyle .wizardProgressIndicatorCls li.active:after,
.cashMgmtPageStyle .wizardProgressIndicatorCls li.active:before,
.pmtTranPageStyle .wizardProgressIndicatorCls li.active:before,
.adminPageStyle .wizardProgressIndicatorCls li.active:before,
.approvalsPageStyle .wizardProgressIndicatorCls li.active:before,
.reportingPageStyle .wizardProgressIndicatorCls li.active:before,
.cashMgmtPageStyle .wizardProgressIndicatorCls li.active:after,
.pmtTranPageStyle .wizardProgressIndicatorCls li.active:after,
.adminPageStyle .wizardProgressIndicatorCls li.active:after,
.approvalsPageStyle .wizardProgressIndicatorCls li.active:after,
.reportingPageStyle .wizardProgressIndicatorCls li.active:after,

.homePageStyle .moduleSubmenuDropdownHolder li:hover,
.homePageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.homePageStyle .dashboardSubmenuItemList li:hover,
.acctMgmtPageStyle .moduleSubmenuDropdownHolder li:hover,
.acctMgmtPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.acctMgmtPageStyle .dashboardSubmenuItemList li:hover,
.cashMgmtPageStyle .moduleSubmenuDropdownHolder li:hover,
.pmtTranPageStyle .moduleSubmenuDropdownHolder li:hover,
.adminPageStyle .moduleSubmenuDropdownHolder li:hover,
.approvalsPageStyle .moduleSubmenuDropdownHolder li:hover,
.reportingPageStyle .moduleSubmenuDropdownHolder li:hover,
.cashMgmtPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.pmtTranPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.adminPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.approvalsPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.reportingPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.cashMgmtPageStyle .dashboardSubmenuItemList li:hover,
.pmtTranPageStyle .dashboardSubmenuItemList li:hover,
.adminPageStyle .dashboardSubmenuItemList li:hover,
.approvalsPageStyle .dashboardSubmenuItemList li:hover,
.reportingPageStyle .dashboardSubmenuItemList li:hover
{
  background-color: rgba(0,156,120,1);
}

.homePageStyle input[type='textbox'],
.homePageStyle input[type='text'],
.homePageStyle .ui-widget-content.ui-corner-all.txtbox,
.homePageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.homePageStyle .customSelectBox input,
.acctMgmtPageStyle input[type='textbox'],
.acctMgmtPageStyle input[type='text'],
.acctMgmtPageStyle .ui-widget-content.ui-corner-all.txtbox,
.acctMgmtPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.acctMgmtPageStyle .customSelectBox input,

.cashMgmtPageStyle input[type='textbox'],
.pmtTranPageStyle input[type='textbox'],
.adminPageStyle input[type='textbox'],
.approvalsPageStyle input[type='textbox'],
.reportingPageStyle input[type='textbox'],

.cashMgmtPageStyle input[type='text'],
.pmtTranPageStyle input[type='text'],
.adminPageStyle input[type='text'],
.approvalsPageStyle input[type='text'],
.reportingPageStyle input[type='text'],

.cashMgmtPageStyle .ui-widget-content.ui-corner-all.txtbox,
.pmtTranPageStyle .ui-widget-content.ui-corner-all.txtbox,
.adminPageStyle .ui-widget-content.ui-corner-all.txtbox,
.approvalsPageStyle .ui-widget-content.ui-corner-all.txtbox,
.reportingPageStyle .ui-widget-content.ui-corner-all.txtbox,

.cashMgmtPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.pmtTranPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.adminPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.approvalsPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.reportingPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,

.cashMgmtPageStyle .customSelectBox input,
.pmtTranPageStyle .customSelectBox input,
.adminPageStyle .customSelectBox input,
.approvalsPageStyle .customSelectBox input,
.reportingPageStyle .customSelectBox input
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#009c78), to(#009c78)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
	background-image: -webkit-linear-gradient(#009c78, #009c78), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
	background-image: -o-linear-gradient(#009c78, #009c78), -o-linear-gradient(#D2D2D2, #D2D2D2);
	background-image: linear-gradient(#009c78, #009c78), linear-gradient(#D2D2D2, #D2D2D2);
}

.homePageStyle .portal-page .portlet-header.ui-widget-header,
.acctMgmtPageStyle .portal-page .portlet-header.ui-widget-header,
.cashMgmtPageStyle .portal-page .portlet-header.ui-widget-header,
.pmtTranPageStyle .portal-page .portlet-header.ui-widget-header,
.adminPageStyle .portal-page .portlet-header.ui-widget-header,
.approvalsPageStyle .portal-page .portlet-header.ui-widget-header,
.reportingPageStyle .portal-page .portlet-header.ui-widget-header,

.homePageStyle .bookmarkItemListCls > a.ui-state-focus,
.acctMgmtPageStyle .bookmarkItemListCls > a.ui-state-focus,
.cashMgmtPageStyle .bookmarkItemListCls > a.ui-state-focus,
.pmtTranPageStyle .bookmarkItemListCls > a.ui-state-focus,
.adminPageStyle .bookmarkItemListCls > a.ui-state-focus,
.approvalsPageStyle .bookmarkItemListCls > a.ui-state-focus,
.reportingPageStyle .bookmarkItemListCls > a.ui-state-focus
{
	background: rgba(0,156,120,1) !important;
}

 .homePageStyle .cardTitle,
 .acctMgmtPageStyle .cardTitle,
 .cashMgmtPageStyle .cardTitle,
.pmtTranPageStyle .cardTitle,
.adminPageStyle .cardTitle,
.approvalsPageStyle .cardTitle,
.reportingPageStyle .cardTitle,
 
 .homePageStyle .cardLinks > span,
 .acctMgmtPageStyle .cardLinks > span,
 .cashMgmtPageStyle .cardLinks > span,
.pmtTranPageStyle .cardLinks > span,
.adminPageStyle .cardLinks > span,
.approvalsPageStyle .cardLinks > span,
.reportingPageStyle .cardLinks > span,
  
 .homePageStyle .formActionItemPlaceholder .cardTitle,
 .acctMgmtPageStyle .formActionItemPlaceholder .cardTitle,
 .cashMgmtPageStyle .formActionItemPlaceholder .cardTitle,
.pmtTranPageStyle .formActionItemPlaceholder .cardTitle,
.adminPageStyle .formActionItemPlaceholder .cardTitle,
.approvalsPageStyle .formActionItemPlaceholder .cardTitle,
.reportingPageStyle .formActionItemPlaceholder .cardTitle,
 	
 .homePageStyle .formActionItemPlaceholder .cardLinks > span,
 .acctMgmtPageStyle .formActionItemPlaceholder .cardLinks > span,
 .cashMgmtPageStyle .formActionItemPlaceholder .cardLinks > span,
.pmtTranPageStyle .formActionItemPlaceholder .cardLinks > span,
.adminPageStyle .formActionItemPlaceholder .cardLinks > span,
.approvalsPageStyle .formActionItemPlaceholder .cardLinks > span,
.reportingPageStyle .formActionItemPlaceholder .cardLinks > span,
 
 .homePageStyle .innerPortletsContainer .portlet-header .portlet-title,
 .acctMgmtPageStyle .innerPortletsContainer .portlet-header .portlet-title,
 .cashMgmtPageStyle .innerPortletsContainer .portlet-header .portlet-title,
.pmtTranPageStyle .innerPortletsContainer .portlet-header .portlet-title,
.adminPageStyle .innerPortletsContainer .portlet-header .portlet-title,
.approvalsPageStyle .innerPortletsContainer .portlet-header .portlet-title,
.reportingPageStyle .innerPortletsContainer .portlet-header .portlet-title,
 
 .homePageStyle input[type="radio"]:checked::before,
 .acctMgmtPageStyle input[type="radio"]:checked::before,
 .cashMgmtPageStyle input[type="radio"]:checked::before,
.pmtTranPageStyle input[type="radio"]:checked::before,
.adminPageStyle input[type="radio"]:checked::before,
.approvalsPageStyle input[type="radio"]:checked::before,
.reportingPageStyle input[type="radio"]:checked::before,
 
 .homePageStyle .ui-datepicker-calendar .ui-state-active,
 .acctMgmtPageStyle .ui-datepicker-calendar .ui-state-active,
 .cashMgmtPageStyle .ui-datepicker-calendar .ui-state-active,
.pmtTranPageStyle .ui-datepicker-calendar .ui-state-active,
.adminPageStyle .ui-datepicker-calendar .ui-state-active,
.approvalsPageStyle .ui-datepicker-calendar .ui-state-active,
.reportingPageStyle .ui-datepicker-calendar .ui-state-active
  {
  color: rgba(0,156,120,1);
}

.homePageStyle .mainSubmenuItemsCls li a:hover,
.homePageStyle .mainSubmenuItemsCls li a.hovered,
.acctMgmtPageStyle .mainSubmenuItemsCls li a:hover,
.acctMgmtPageStyle .mainSubmenuItemsCls li a.hovered,

.cashMgmtPageStyle .mainSubmenuItemsCls li a:hover,
.pmtTranPageStyle .mainSubmenuItemsCls li a:hover,
.adminPageStyle .mainSubmenuItemsCls li a:hover,
.approvalsPageStyle .mainSubmenuItemsCls li a:hover,
.reportingPageStyle .mainSubmenuItemsCls li a:hover,

.cashMgmtPageStyle .mainSubmenuItemsCls li a.hovered,
.pmtTranPageStyle .mainSubmenuItemsCls li a.hovered,
.adminPageStyle .mainSubmenuItemsCls li a.hovered,
.approvalsPageStyle .mainSubmenuItemsCls li a.hovered,
.reportingPageStyle .mainSubmenuItemsCls li a.hovered

  {
  color: rgba(0,156,120,1) !important;
  border-color: rgba(0,156,120,1) !important;
}

.homePageStyle .dashboardSelectedItem,
.acctMgmtPageStyle .dashboardSelectedItem,
.cashMgmtPageStyle .dashboardSelectedItem,
.pmtTranPageStyle .dashboardSelectedItem,
.adminPageStyle .dashboardSelectedItem,
.approvalsPageStyle .dashboardSelectedItem,
.reportingPageStyle .dashboardSelectedItem,

.homePageStyle .copyrightContainer,
.acctMgmtPageStyle .copyrightContainer,
.cashMgmtPageStyle .copyrightContainer,
.pmtTranPageStyle .copyrightContainer,
.adminPageStyle .copyrightContainer,
.approvalsPageStyle .copyrightContainer,
.reportingPageStyle .copyrightContainer,

.homePageStyle input[type="radio"],
.acctMgmtPageStyle input[type="radio"],
.cashMgmtPageStyle input[type="radio"],
.pmtTranPageStyle input[type="radio"],
.adminPageStyle input[type="radio"],
.approvalsPageStyle input[type="radio"],
.reportingPageStyle input[type="radio"],

.homePageStyle input[type="checkbox"],
.acctMgmtPageStyle input[type="checkbox"],
.cashMgmtPageStyle input[type="checkbox"],
.pmtTranPageStyle input[type="checkbox"],
.adminPageStyle input[type="checkbox"],
.approvalsPageStyle input[type="checkbox"],
.reportingPageStyle input[type="checkbox"]
{
	border-color: rgba(0,156,120,1)
}

.topbarLeftDiv{
		padding-left: 0px;
}
		
.profileInfoContainer{
		padding-left: 30px;
}

.bookmarkBoxHolder{
	width: auto;
}

.ffiUiIcoMedium.ffiUiIco-icon-cloud, .ffiUiIcoMedium.ffiUiIco-icon-cloud-active{
		width: 35px;
}	

.ffiUiIcoMedium.ffiUiIco-icon-approval,
.ffiUiIcoMedium.ffiUiIco-icon-alert,
.ffiUiIcoMedium.ffiUiIco-icon-mail{
		width: 24px;
}	

.topbarRightDiv li a.ffiUiIcoMedium.globalMsgIcoCls{
		background-size: 100%;
}		
.topbarRightDiv li.ffiUiIcoMedium.globalMsgIcoCls{
		background-size: 100%;
}		
.topbarRightDiv{
		width: 180px;
}