.portletListName {
	float:left;
	font-weight:normal;
	font-size: 13px;
}
.portletListAdd {
	float:right;
}

.portal-dialog {
	 font-size:0.8em;
}

.layout-chooser {
	text-align:center;
	cursor:hand;
	padding:5px;
}

.saveThemeDialog {
	/* font-family: arial; */
    font-size: 13px;
    font-weight: normal;
    text-align: center;
}

div.visualize.visualize-bar{padding-left: 60px;}
ul.visualize-labels-x { left: 60px; }
ul.visualize-labels-y { left : 60px;}

.layoutChooserDiv {
    float: left;
    margin: 18px;
    text-align: center;
    width: 95%;
    height: 165px;
}

.innerLayoutChooserDiv {
	display: inline-block;
	margin: auto;
}

.layoutOptionDiv {
	display: inline;
	float: left;
    height: 100px;
    /* margin: 0 15px; */
    text-align: center;
}

.layoutTileOption {
	float: left;
    font-size: 100px;
    margin: 0 17px;
    cursor: pointer;
    min-width: 100px;
    padding: 2px 10px 20px !important;
    box-shadow: 2px 2px 2px #666666;
    border: 2px solid transparent !important;
}

.layoutNameBar {
    clear: both;
    display: list-item;
    font-size: 13px;
    list-style: none outside none;
    margin-bottom: 5px;
    width: auto;
}

.selectedLayoutstyle {
	border: 2px solid green !important;
	transition : border 500ms ease-out; 
  	-webkit-transition : border 500ms ease-out; 
  	-moz-transition : border 500ms ease-out;
  	-o-transition : border 500ms ease-out;   
}

.layoutSearchInputCls {
	float: right;
    height: 15px !important;
    margin-right: 35px;
    width: 260px !important;
}

.layoutSaveDialog {
	margin: 10px auto;
    text-align: left;
    font-size: 13px;	
}

.layoutSetAsDefault input {
	vertical-align: middle;
}

.overwriteWarningLbl {
	display: none;
    font-style: italic;
    margin-top: 15px;
	color: #E63201;
	font-style: italic;
}

.inputSaveLayoutError {
	display: none;
    font-style: italic;
    margin-top: 15px;
	color: #E63201;
	font-style: italic;
}

/** Initial state for portlet **/
.portlet-state-initial {
    min-height: 70px;
    min-width: 100%;
    text-align: center;
    color: rgb(79, 79, 79);
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: normal;
    line-height: 18.2000007629395px;
}