#subList{background-color: #f4f6f3; height: 21px;border-top: 1px solid #cccccc;border-bottom:1px solid #cccccc; }
.ui-state-zebra { background: #EEEEEE; }
.portlet-border-highlight{
	/* outline-style:solid;
	outline-color:#F0AB00;
	outline-width:2px; */
	outline-style:none;
	outline-color:none;
	outline-width:none;
}

.portlet-border-highlight{
	/* outline-style:solid;
	outline-color:#F0AB00;
	outline-width:2px; */
	outline-style:none;
	outline-color:none;
	outline-width:none;
}