.sapUxModule input { test
	padding: 6px 0 6px 6px !important;
	height: 16px !important;
}

.sapUxModule .sapUiTf {
	width: auto;
}

.sapUiMasterWrapper {
	border: 1px solid #B6B6B6;
	border-radius: 3px;
	background: #ffffff;
	padding: 5px !important;
}

.sapUiPortletSettingsIcon {
	padding: 0px 16px !important;
	font-size: 13px !important;
	height: 23px !important;
	border-radius: 0 !important;	
	color: #4F4F4F !important;
}

.sapUiFloatContentRight {
	float: right;
}

.sapUiFloatContentLeft {
	float: left;
}

.sapUiFullWidth {
	width: 100%;
}

.sapUiFullHeight {
	height: 100%;
}

.sapUiMarginBottom10 {
	margin-bottom: 10px;	
}

.sapUxDashboardWrapper > div[class~="sapUiHLayoutChildWrapper"] {
	width: 500px;
}


/*****************************************************
		Form layout render styles
*****************************************************/
.column0, .column1 {
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.sapUxFormTitle {
	font-size: 18px;
  	width: 100%;
}

.sapUxFormRow {
	width: 100%;
	margin-bottom: 10px;
	float: left;
}

.sapUxFormRow .sapUxFormFields .sapUxFormField input {
	padding-left: 5px !important;
}

.sapUxInlineField {
	float: left;
	width: 42% !important;
}
 
.sapUxInlineField:first-child {
	margin-right: 10px;
}
 
.sapUxModule input:not(.sapUxInlineField) {
	padding: 6px 0 6px!important;
	height: 16px !important;
	width: 250px !important;
}

/*****************************************************
	Dashboard styles
*****************************************************/
.sapUxDashboardElement .sapUiHLayoutChildWrapper  {
	min-width: 900px;
	height: 35px;
}

.sapUxDashboardWrapper .sapUiUx3NavBar {
	height: 100%;
}

.sapUxDashboardWrapper .sapUiUx3NavBarList {
	height: 32px;
}

.sapUxDashboardElement .sapUiHLayoutChildWrapper .sapUiUx3NavBarList>li {
	line-height: 28px !important;
	margin-top: 0 !important;
	vertical-align: top;
}

.sapUxDashboardSubmenuLbl {
	cursor: pointer;
	padding-left: 35px;
	line-height: 20px;
	max-width: 90px;
	text-overflow: ellipsis;
	font-size: 15px !important;
}

.sapUxDashboardLeftElementHolder {
	float: left;
}

.sapUxDashboardLeftElementHolder div {
	line-height: 20px;
	border-radius: 5px;
	border: 1px solid #9c9c9c;
	float: left;
	font-size: 15px !important;
	padding: 5px 0 5px 10px;
	text-align: left;
	position: absolute;
	left: 10px;
	box-shadow: 1px 1px 1px rgba(96, 96, 96, .5);
	background-repeat: no-repeat;
	background-position: inherit;
	padding-right: 10px;
	height: 22px;
	z-index: 10000;
	width: auto;
}

.sapUXDashboardUiCls {
	box-shadow: 1px 2px 5px 1px rgba(146, 130, 130, 0.5);
	background: #f8f8f8;
	text-align: center;
	margin: 0 0 10px 0;
	padding: 5px 0;
	width: 100%;
	height: 35px;
	line-height: 35px;
	position: relative;
}

.sapUxDashboardLeftElementHolder>div:hover > .moduleSubmenuDropdownHolder {
	visibility: visible;
	opacity: 1;	
}

/********************************************
	Portlet / Wizard styles
********************************************/
.sapUxPortletHeader, .sapUxWizrdHeader {
	font-size: 18px !important;
	font-weight: normal;
	margin: 0;
	color: #2B94E2;
	width: auto !important;
	float: left;
}

/*******************************************
	first-child holds the portlet title
*******************************************/
.sapUxWizardHeaderWrapper > div:first-child {
	float: left;
}

/*******************************************
	lirst-child holds the gear icon
*******************************************/
.sapUxWizardHeaderWrapper > div:last-child {
	float: right;
}

.sapUxWizardHeaderWrapper {
	width: 100%;
}

.sapUxWizardTopArea {
	height: 50px !important;
	overflow: hidden !important;
}

.sapUxWizardBottomArea {
	top: 50px !important;
}

.sapUxWizardScreensRenderer {
	width: 100%;
}

.sapUxWizardScreensRenderer>div:first-child {
	width: 29%;
	margin-right: 1%;
	float: left;
}

.sapUxWizardScreensRenderer>div:nth-child(2) {
	width: 70%;
}

.sapUxWizardScreensRenderer>div:first-child, .sapUxWizardScreensRenderer>div:nth-child(2) {
	background: url("../../../../../../grafx/paneBg.png") repeat;
	padding: 0px !important;
	background-size: 100% 100%;
	height: 25px;
	text-align: left;
}

.sapUxWizardScreensRenderer>div:first-child section, .sapUxWizardScreensRenderer>div:nth-child(2) section {
	height: auto;
	min-height: 100px;
	border: 1px solid #ddd;
}

.sapUxWizardScreensRenderer>div:first-child h5, .sapUxWizardScreensRenderer>div:nth-child(2) h5 {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	/* position: absolute; */
	margin: 0 0 0 6px;
}

.sapUxTwoColumnFormRenderer .sapUiFormResLayout>div {
	padding: 0px;
}

.sapUxFormActionButtonHolder {
	width: 100%;
	text-align: center;
}

.sapUxFormActionButtonHolder div:first-child {
	margin-right: 10px;
}

.sapUxPortletSettingsIcon div[class~="sapUiMnuItmIco"] {
	display: none;
}

.sapUxPortletSettingsIcon li[class~="sapUiMnuItm"] {
	cursor: pointer;
}

.sapUxPortletSettingsIcon div[class~="sapUiMnuItmTxt"] {
	font-size: 13px;
}

.sapUxErrorLabel {
	color: #990000;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

/*******************************************
	verify and confirm page style
*******************************************/
.sapUxFormActionButtonHolder div {
	margin-right: 10px;
}

.sapUxConfirmVerifyContent{
	background: none repeat scroll 0 0 #eee;
 	border: 1px solid #ddd;
  	display: flex;
  	margin-bottom: 10px;
  	overflow-x: hidden;
}

.sapUxConfirmVerifyContent .sapUxFormRow{
	border-bottom: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 0px;
}

.sapUxConfirmVerifyContent .sapUxFormRow .sapUxFormFields div:first-child{
	width:35%;
	float: left;
}

.sapUxConfirmVerifyContent .sapUxFormRow .sapUxFormFields div:nth-child(2){
	width:65%;
	float: left;
}

.sapUxConfirmVerifyContent .sapUxFormRow:last-child{
	border-bottom:none;
	margin-bottom: 0px !important;
}

.sapUxConfirmVerifyContent .sapUxFormRow:last-child .sapUxFormFields{
    padding-bottom:0;
}

.sapUxConfirmVerifyContent .formLabel label{
   color: #6a6969;
}

.sapUxConfirmVerifyContent .sapUxFormField span{
	color: #303030;
	font-size: 13px !important;
}

.sapUxMarginTop10{
	margin-top:10px;
}

.sapUxLookUpBoxWidth{
	 margin-right: 14px;
}

/***************************************
	Tmp classes, to be removoed later
***************************************/
.tmpAddBorder {
	border: 1px solid blue;
}
