@CHARSET "ISO-8859-1";
/* Most of these classes are required by OnlineStatemens module */
.tabledata_gray, .txt_normal_bold, .tabledata_white,.header_row2,.filter_table,.txt_normal { font-family: Arial, Helvetica, sans-serif;}
 
.filter_table {  font-size: 13px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: none; padding-left: 5px; padding-top: 2px; padding-bottom: 2px;}
.txt_normal { font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 13px; color: #000000; }
.txt_normal_bold { font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; font-size: 13px; color: #000000;  }
.sectionsubheadTd{text-align: right;padding-right: 5px;}
/* .sectionsubhead{margin-right: 10px;} */
.tabledata_white { background-color: #ffffff; font-size: 13px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #000000; padding-left: 5px ; height: 18px ; padding-right: 5px; }
.tabledata_gray { background-color: #efefef; font-size: 13px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #000000; padding-left: 5px ; height: 18px ; padding-right: 5px; }
.header_row2 { background-color: #d1d7ec; font-size: 13px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; padding-left: 0px ; height: 18px; padding-right: 0px; vertical-align: top }
.txt_align_centre{text-align: center;}
.account_grid_header{font-size: 18px !important;font-weight: normal !important;margin: 0px 0px 10px;color: #2E6E9E; text-align:center;white-space: nowrap;}
 .formPane, .templateAccPane{width:100%; float:left; padding:0} 
 .leftAccountPane {
    width:96% !important;
    margin-bottom: 20px !important;
    float: left; border:1px solid #ddd;
    text-align:left;
 } 
 .account_Expand{line-height:20px !important;}
.accountSelectMenu .selectBoxHolder{float: none !important;}
.spacerDiv{width:30px !important; text-align: center;}
.onlineAccContentDiv{float: none !important; margin-left: 10px; margin-top: 0 !important;}
.gridActionColumnHolderDiv .gridActionColumnHolderDivHover{display:none !important;}