/*
* This css file provides custom overrides for css classes for sap banking theme
*/
button[class~="sapUiBtn"]{
	/*border: 1px solid !important;*/
	float: left !important;
}

/* label[id*="deviceNameLabel"], label[id*="deviceNumberLabel"], label[id*="countryLabel"], label[id*="carrierLabel"]  {
    margin-left: 80px;
} */

.addDeviceFormStyle{
    padding: 30px 0 10px 50px;
}

.addDeviceFormStyle label{
	/* margin-left: 25px; */
	font-family: Ubuntu;
}

.btnSpacingRgt{
	margin-right: 7px !important;
}

.addDeviceFormStyle table tr td{
    padding: 3px;
}

.customBtnHolderDiv {
    margin-left: 40%;
    display: inline-block;
    width: 70% !important;
    vertical-align: middle;
}

.customBtnHolderDiv button{
	font-family: Ubuntu;
    padding: .4em 1em !important;
   	line-height: 1.4em;
  	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
 	height: 33px !important;
}

.required{
	font-size: 12px !important;
}

.errorLabel{
	font-size: 13px !important;
}

.customSelectBox{
	width: 60% !important;
}

.customSelectBox input{
	border: 0 !important;
}

.customSelectBox2 input{
	width: 95% !important;
	margin-bottom: 5px;
}

.addDeviceFormStyle .sapUiTfStd>.sapUiTfComboIcon:hover{
	background-image: url(img/combobox/ComboBoxArrow_regular.png) !important;
  	background-color: transparent !important;
}

.addDeviceFormStyle .sapUiLnk, input[type="checkbox"], .addDeviceFormStyle .sapUiCbChk {
	outline: none !important;
}

.sapUiLbxStd>ul>.sapUiLbxISel>span, .sapUiLbxStd>ul>.sapUiLbxISel{
   background: none repeat scroll 0 0 #5F83B9 !important;
   border-color: #466086;
   border-radius: 0;
   font-weight: normal;  
   color: #fff; 
}

.sapUiLbxStd>ul>.sapUiLbxISel>span, .sapUiLbxStd>ul>.sapUiLbxISel{
	color: #fff !important;
  	background-color: #5F83B9 !important;
}

.sapUiLbxI:hover:not(.sapUiLbxIDis), .sapUiLbxRo:not(.sapUiLbxIDis)>ul>.sapUiLbxI.sapUiLbxISel:hover, .sapUiLbxStd>ul>.sapUiLbxISel:hover>span, .sapUiLbxStd>ul>.sapUiLbxISel:hover, .sapUiLbx:not(.sapUiLbxDis)>ul>.sapUiLbxI:hover:not(.sapUiLbxISel):not(.sapUiLbxIDis)>span{
	background: none repeat scroll 0 0 #5F83B9 !important;
}

.sapUiLbxI {
   line-height: 21px !important;
}
/* 
.sapUiTfCombo {
  overflow: visible !important;
} */

.sapUiLbxStd>ul>.sapUiLbxISel>span, .sapUiLbxStd>ul>.sapUiLbxISel{
	border-color: transparent !important;
}
.sapUiLbxI {
  line-height: 25px;
}
