/*-------------------------------------------------------------------------------------------
	[ Overrides fullcalndar.css styles ]
	
	Usage: The file to be used for custom configuration (such as custom font property). Default 
	values are set for reference and can be edited as required or new attributes can be added 
	in respective class for UI enhancements.
-------------------------------------------------------------------------------------------*/

/* 	[ Class: .fc-header-title ]
	
	Usage: Setting header title font properties
	Example: Month name
	
*/

.fc-header-title { font-family: arial; font-size: 13px;  font-weight: normal; color: #5B5B5B; }

/* 	[ Class: html .fc, .fc table ]
	
	Usage: Setting title font properties for
			1) Day headers (mon, tue...)
			2) Button with label "today"
			3) Buttons with month, week and day option
			4) Date label (e.g. 1, 2, 3....)
	Example: Month name
	
*/

html .fc, .fc table { font-family: arial; font-size: 12px;  font-weight: normal; }

.fc td.fc-sat{
			width: 122px;
		}
		
/*
* overriding fullcalendar-extra.css file class
*/
.completedevent {
	background-color: auto;
	color: auto;           
	border: none;  
}

.calendarDayTaskLblHolderCls {
	font-size: 13px;
    line-height: 30px;
    padding-left: 5px;
} 

.calendarWeekTaskLblHolderCls {
	border-radius: 5px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 20px;
    margin: 0 auto;
    padding: 5px;
    width: 80%;
  	}

.calendarPendingApprovalRecordCls {
	color: #D08005;
	margin-right: 10px;
}

.calendarPendingRecordCls {
	color: #986697;
	margin-right: 10px;
}

.calendarCompletedApprovalRecordCls {
	color: #3FA83F;
	margin-right: 10px;
}

.weekViewPendingApprovalRecordCls {
	background-color: #D08005;
	color: #fff;
}

.weekViewPendingRecordCls {
	background-color: #986697;
	color: #fff;
}

.weekViewCompletedApprovalRecordCls {
	background-color: #3FA83F;
	color: #fff;
}

/*
* Overriding default classes
*/

.fc-content {
	border: 10px solid #e0e0e0;
    position: relative;
    cursor: default;
}

.fc-content th {
	padding: 5px 0;
	font-size: 13px;
}

.fc-other-month {
	background-color: #fff !important;
}

.fc-widget-header, .fc-widget-content {
	/* border: 1px solid #EBEBEB !important; */
}

.fc-grid .fc-day-number {
	padding: 5px;
	font-size: 15px;
}

.completedeventDayView {
	float: left;
	position: relative !important;
	top: 50px !important;
	margin-bottom: 20px;
	cursor: pointer;
}

.fc-event-title {
	font-size: 13px;
}

/*
* Classes being used to show data in tabular format in calendar component
*/
.transactionHistoryDataHolderDiv table tr:first-child > td {
		background: #dbdbda !important;
		color: #4f4f4f !important;
		font-weight: bold;
}

.transactionHistoryDataHolderDiv table tr td {
	padding: 10px 3px;
}

.transactionHistoryDataHolderDiv tr:nth-child(odd) {
	background: #eeeeee;
}