/*
	Classes to apply custom icons to the UI
*/

.ffiUiIcoSmall {
	background-image: url(../grafx/icons/customIconSprite.png);
	display: inline-block;
	height: 16px;
	width: 16px; 
}

.ffiUiIco-icon-inquiry { background-position: -2px -2px; }
.ffiUiIco-icon-trash,  .ffiUiIco-icon-delete{ background-position: -21px -2px; }
.ffiUiIco-icon-edit { background-position: -43px -2px; }
.ffiUiIco-icon-view { background-position: -62px -2px; }
.ffiUiIco-icon-downArrow { background-position: -82px -2px; }
.ffiUiIco-icon-search { background-position: -103px -2px; }
.ffiUiIco-icon-info { background-position: -123px -2px; }
.ffiUiIco-icon-close { background-position: -203px -2px; }
.ffiUiIco-icon-help { background-position: -220px -2px; }
.ffiUiIco-icon-message { background-position: -237px -2px; }
.ffiUiIco-icon-upload { background-position: -261px -2px; }
.ffiUiIco-icon-clone { background-position: -282px -2px; }
.ffiUiIco-icon-error { background-position: -306px -2px; }
.ffiUiIco-icon-location { background-position: -328px -2px; }
.ffiUiIco-icon-gear { background-position: -348px -2px; }

.ffiUiIco-icon-reply { background-position: -270px -30px; }
.ffiUiIco-icon-apply { background-position: -182px -2px; }

.ffiUiIco-icon-arrowRight { background-position: -342px -30px; }
.ffiUiIco-icon-revert { background-position: -5px -226px; }
.ffiUiIco-icon-discard { background-position: -27px -225px; }
.ffiUiIco-icon-approvalGroups { background-position: -51px -226px; }
.ffiUiIco-icon-modifyChanges { background-position: -75px -226px; }
.ffiUiIco-icon-viewPermission { background-position: -97px -226px; }
.ffiUiIco-icon-permission { background-position: -117px -226px; }
.ffiUiIco-icon-approve { background-position: -140px -226px; }
.ffiUiIco-icon-export { background-position: -164px -230px; }
.ffiUiIco-icon-skipRecurring { background-position: -206px -226px; }
.ffiUiIcoMedium {
	background-image: url("../grafx/icons/customIconSprite.png");
    display: inline-block;
    height: 25px;
    width: 35px; 
}

.ffiUiIco-icon-cloud { background-position: -2px -66px; }
.ffiUiIco-icon-cloud-active { background-position: -42px -66px; }
.ffiUiIco-icon-mail { background-position: -82px -66px; }
.ffiUiIco-icon-alert { background-position: -122px -66px; }
.ffiUiIco-icon-approval { background-position: -162px -66px; }
.ffiUiIco-icon-userShortcut { background-position: -202px -66px; }
.ffiUiIco-icon-systemShortcut { background-position: -242px -66px; }
.ffiUiIco-icon-printer { background-position: -285px -66px; }

.ffiUiIco-icon-medium-wires { background-position: -324px -259px; }
.ffiUiIco-icon-medium-transfer { background-position: -287px -261px; }
.ffiUiIco-icon-medium-ach { background-position: -355px -258px; }
.ffiUiIco-icon-medium-childSupport { background-position: 0px -298px; }
.ffiUiIco-icon-medium-tax { background-position: -32px -300px; }
.ffiUiIco-icon-medium-billPay { background-position: -66px -297px; }
.ffiUiIco-icon-medium-stops { background-position: -96px -303px; }
.ffiUiIco-icon-medium-cashCon { background-position: -128px -301px; }
.ffiUiIco-icon-medium-delete { background-position: -303px -30px; }
.ffiUiIco-icon-medium-home { background-position: -400px -520px; }
.ffiUiIco-icon-medium-message { background-position: -433px -520px; }
.ffiUiIco-icon-medium-alert { background-position: -463px -520px; }
.ffiUiIco-icon-check { background-position: -242px -30px; }
.ffiUiIco-icon-medium-accountHistory {background-position: -96px -153px;}
.ffiUiIco-icon-medium-audit {background-position: -124px -153px}
.ffiUiIco-icon-medium-conBalance {background-position: -433px -264px;}
.ffiUiIco-icon-medium-accountBalance {background-position: -463px -259px;}
.ffiUiIco-icon-medium-tranSearch {background-position: -496px -259px;}
.ffiUiIco-icon-medium-fileUpload {background-position: -528px -259px;}
.ffiUiIco-icon-medium-cashFlow {background-position: -526px -298px;}
.ffiUiIco-icon-medium-positivePay {background-position: -592px -263px;}
.ffiUiIco-icon-medium-controlDisbursement {background-position: -623px -264px;}
.ffiUiIco-icon-medium-lockBox {background-position: -654px -261px;}
.ffiUiIco-icon-medium-adminSummary {background-position: -159px -299px;}
.ffiUiIco-icon-medium-adminCompany {background-position: -194px -301px;}
.ffiUiIco-icon-medium-adminDivision {background-position: -222px -301px;}
.ffiUiIco-icon-medium-adminGroups {background-position: -259px -301px;}
.ffiUiIco-icon-medium-adminUsers {background-position: -289px -301px;}
.ffiUiIco-icon-medium-approvalWorkflow {background-position: -3px -153px;}
.ffiUiIco-icon-medium-approvalGroups {background-position: -37px -153px;}
.ffiUiIco-icon-medium-approvalPending {background-position: -64px -156px;}
.ffiUiIco-icon-medium-manageUsers {background-position: -321px -301px;}
.ffiUiIco-icon-medium-onlineStatement {background-position: -159px -299px;}
.ffiUiIco-icon-medium-services {background-position: -347px -299px;}
.ffiUiIco-icon-medium-faq {background-position: -372px -299px;}
.ffiUiIco-icon-medium-imageSearch {background-position: -181px -225px;}






.ffiUiIcoLarge {
	background-image: url("../grafx/icons/customIconSprite.png");
    display: inline-block;
    height: 40px;
    width: 35px; 
}
.ffiUiIco-icon-home {background-position: -3px -100px;}
.ffiUiIco-icon-accounts {background-position: -43px -100px;}
.ffiUiIco-icon-cashFlow {background-position: -83px -100px;}
.ffiUiIco-icon-transfer {background-position: -122px -100px;}
.ffiUiIco-icon-admin {background-position: -162px -100px;}
.ffiUiIco-icon-reporting {background-position: -202px -100px;}
.ffiUiIco-icon-prefrences {background-position: -242px -100px;}
.ffiUiIco-icon-bookmark-search-icon {background-position: -282px -100px;}
.ffiUiIco-icon-approval-icon {background-position: -322px -100px;}
.ffiUiIco-icon-service-center {background-position: -363px -100px;}