input:not([type="radio"]) {
	border-radius: 0px;
}

#security {
	height: auto !important;
}
	
@media only screen and (device-width: 768px) {
	* {
		box-model: border-box;
	}
	
	.mainMenuBtnBarcls a{
		font-size:15px !important;
	}
	
	.loginPageBg{
   	 	background-size:cover !important;	
	}
	
	.ui-dialog .ui-dialog-titlebar-close span {
		margin: 0;
		padding: 0;
	}
	
	/* Secutiry tips dialog on login screen */	
	#security {
		height: auto !important;
	}
	
	/* Wizard changes - single transfer*/
	.SaveTemplate, .leftPane {
		width: 10%;
	}
	
	.rightPaneWrapper {
		/* width: 68%; */
		margin: 10px 0 0 20px !important;
		width: 68% !important;
	}
	
	input.combobox {
		width: 88% !important;
	}
	
	/* Top bar bookmark input box */
	#shortcutSearchInput {
		width: 180px !important;
		height: 16px;
	}
	
	.globalMsgIcoCls {
		margin-right: 5% !important;
	}
	
	.topbarRightDiv {
		min-width: 360px !important;
	}
	
	.lastLoginSection, .copyrightText, .footerLinksSec {
		font-size: 10px;
	}
	
	.lastLoginSection {
		padding-left: 80px;
	}
	
	.mainMenuBtnBarcls > li {
		width: 110px !important;
	}
	
	/* Menu bar items*/
	.mainSubmenuItemsCls {
		width: 100% !important;
		margin: 0px !important;
		padding: 0 !important;
	}
		
	.mainSubmenuItemsCls li {
		width: 292px !important;
	}
	
	/*
		Multiple transfer form updates
	*/
	
	#templateForMultipleTransfer {
	
		width: 100% !important;
	}
	
	#MultipleTransferForm, #wireFormHolderDiv, #wireTransferBatchDiv, #wireBatTemplate{
		margin: 10px 0 0 20px !important;
		width: 68% !important;
	}
	
	/*
		Wire
	*/
	.leftPaneInnerWrapper, .paneWrapper {
		width: 100% !important;
	}
	
	#wireAddeditPayeeFields {
		width: 80% !important;
	}
	
	#wireAddeditPayeeFields input:not(#beneficiaryAddress1):not(#beneficiaryAddress2):not(#bankAddress1):not(#bankAddress2), #wireAddeditPayeeFields a{
		width: 10.7em !important;
	}
	
	#beneficiaryAddress1, #beneficiaryAddress2,#bankAddress1 ,#bankAddress2 {
		width: 93%;
	}
	
	#wireBatchName, #wireBatchTypeSelectID-menu{
		width:220px !important;
	}
	/*
		Wire Batch
	*/
	#confirmBatchBeneficiary{width:65% !important;margin: 10px 0 0 20px !important;}
	 
	#wireBatTemplate input.combobox, .tableDataForDvc input:not(#payeeRouteBankIdentifier),  #accountNumberId_autoComplete, #payeeAccountID_autoComplete, #stockBox input
	 {
		width:80% !important;
	} 
	
	.confirmPageDetails, .rightContentClsForDvc {
		margin: 10px 0 0 20px !important;
		width: 66% !important;
	}
	
	.inlineBlock span:nth-child(2){
		width:50% !important;
	}
	
	#releaseWiresGridID td a{
		width:6em !important;
	}
	
	.rightPaneForDvc{
		width:95% !important;
		margin: 0px 0 0 10px !important;
	}
	
	.rightPaneConfirmDvc{
		margin: 10px 0 0 0px !important; 
		width: 67% !important;
	}
	
	#TransferEdit  #ToAccount_autoComplete, #TransferEdit > #multipleTransferPanel #FromAccount_autoComplete{ 
		width:53% !important; 
	}
	
	#singleTransferForm #TransferNew .selectBoxHolder, #TransferEdit .selectBoxHolder {
		width:auto !important;
	}
	
	#singleTransferForm input.combobox, #externalAccountsGrid input{
		width:90% !important; 
	}
	
	#billPayBankFormId input , #ach_BankFormID input, #transferInquiryForm #FromAccount_autoComplete, #transferInquiryForm #ToAccount_autoComplete, #bankFeeInquiryForm #accountID_autoComplete,
	#accountHistoryInquiryForm #accountID_autoComplete, #sessionActivityPortID #accountDisplayTextFormat_autoComplete, #ExchangeRateForm #relativeCurrencyCode_autoComplete, 
	#QuickSearchBillpayFormID #AccountId_autoComplete, #QuickSearchBillpayFormID #PayeeId_autoComplete, #dashBoardDivisionId_autoComplete{ 
		width: 230px !important;
	}
	
	.tempMultiCls { margin-left:-23px; }
	
	#gview_externalAccountsGrid .ui-jqgrid-htable #jqgh_externalAccountsGrid_status, #pendingImagesSummary #gview_accountPendingImagesID .ui-jqgrid-htable #cb_accountPendingImagesID{
		margin-left:-5px;
	}

	/*
		Preference Menu
	*/
	.marginLeft-0{
		margin-left:0px !important; 
	}
	
	.dialogHtDvc{
		max-height: 480px;
		overflow-y: auto; 
		overflow-x:hidden; 
	}
	
	.updateProfTablLeft tr td:nth-child(1), #approvePaymentsGrid input[name=reason]{
		width:150px;
	}
	
	#calcHolderDiv .selectBoxHolder input{width:190px !important;}
	.approvalDialogHt2{max-height: 450px !important;overflow-y: auto;overflow-x:hidden;}
	
	/*
		Accounts
	*/
	
	#reportOn-menu{
		width:122px !important; 
	}
	
	#accountGroupID-menu{
		width:118px !important; 
	}
	
	#zbaDisplay-menu{
		width:87px !important; 
	}
	
	#accountCriteriaForm .acntDashboard_masterItemHolder{
		margin-left: 5px !important;
	}
	
	.acntDashboard_itemHolder{
		margin-right:0px !important;
	}
	
	#transactionTypesID, #corporateAccountMultiSelectDropDown{
		width:370px;
		height:30px;
	}
	
	.ui-extmultiselect{
		padding:6px 0 6px 4px !important; 
	}
	
	#enableOlAccountsOr, #enableOlAccounts{
		display:block !important;
		margin:5px auto;
		width: 100% !important;
		text-align: center;
	}
	
	 #UserInfoForm input, #UserInfoForm #secUsersCountry-menu, #UserInfoForm #secUsersState-menu, #userTransfersForm input, #userPaymentsForm input, #wireAddeditPayeeFields #selectBeneficiaryCountryID-menu{ 
		width:170px !important;
	}
	
	#dvcPswdManageUser{
		width:175px !important;
	}
	
	#dvcStockPortfolio input{
		width:70%;
	}
	
	.dvcPlusIconTd span{
		margin-left:5px;
	}
	
	#payeeInfoContent, #BillpayPayeeEdit #selectPayeeStateID_autoComplete, #BillpayPayeeEdit #selectPayeeCountryID_autoComplete{
		width:67% !important;
	}
	
	/* .ui-dialog .ui-dialog-titlebar-close{
		padding:0 10px 0 10px !important;
	} */
	
	.ui-dialog-titlebar > button[class~="ui-dialog-titlebar-close"]{
		height: 20px !important;
	}
	
	#QuickSearchFrmTempID #searchAcctID_autoComplete{
		width:200px !important;
	} 
	
	#accountCriteriaForm #corporateOnly table tr td{
		padding-right:5px;
	}
	/*
		Cash Flow
	*/
	
	#CashDisplayCurrencyCodeID_autoComplete, #addEditVariableSection input:not(input[type="radio"]){
		width:80% !important; 
	}
	
	#accountCriteriaForm #consumerAccountsDropDown-menu{
		width:344px !important;
	}
	
	#BuildFormID .hasDatepicker{
		width:70px;
	}
	
	#wireAddeditPayeeFields #selectBeneficiaryScopeID-menu{
		width:135px !important;
	}
	
	.achPayeeDetailsDiv{
		width:64% !important;
	}
	
	#achPayeeAddEditDiv input[type="text"]:not(#BANKNAME), #achPayeeAddEditDiv #PayeeType-menu, #achPayeeAddEditDiv #CompanyID-menu , #achPayeeAddEditDiv #payeeGroupId-menu , #achPayeeAddEditDiv #AccountType-menu,
	#editBusinessForm #StateSelect_autoComplete, #editBusinessForm #CountrySelect_autoComplete, #frmEditAccount #StateSelect_autoComplete,  #frmEditAccount #CountrySelect_autoComplete, #LocationDivisionSelect #perLocDivisionSelect_autoComplete,
	.adminUserTr input, .adminUserTr #selectUserGroupID-menu, .adminUserTr #selectUserStatusID-menu, .adminUserTr2 #selectUserLanguageID-menu, .adminUserTr #selectGroupID-menu, .adminUserTr #selectStatusID-menu,
	 .adminUserTr #selectAdminID-menu, .adminUserTr2 #selectLanguageID-menu {
		width:180px !important;
	}
	
	#achPayeeAddEditDiv #BANKNAME, #TaxPayFormId #taxAccountNumberValue{
		width:120px !important;
	} 
	
	#addEditVariableSection #AddEditACHBatchNumberPayments{
		width:30px !important;
	}
	
	.adminUserTr2 #selectUserStateID_autoComplete, .adminUserTr2 #selectUserCountryID_autoComplete, .adminUserTr2 #selectUserStateID_autoComplete, .adminUserTr2 #selectCountryID_autoComplete {
		width:160px !important;
	}
	
	#leftPaneForDvc .labelValue{
		width:55%;
	}
	
	#adminTblWidth{
		width:90% !important;
	}
	
	 #editLocationPanel, #addLocationPanel{
		width:98% !important;
	}
	
	#userPasswordDvc{
		width:185px !important;
	}
	
	#userConfirmLeftPane{
		width:250px !important;
	}
	
	#daApprovePaymentsGrid input[name=daReason]{
		width:150px !important;
	}
	
	#achPayeeAddEditDiv #COUNTRY-menu, #achPayeeAddEditDiv #BranchCountry-menu, #achPayeeAddEditDiv #CURRENCY-menu, #achPayeeAddEditDiv #FOREIGNEXCHANGE-menu, 
	#achPayeeAddEditDiv #achPayeeCountry-menu, #achPayeeAddEditDiv #BankIdentifierType-menu, #selectPaymentFromAccountIDID_autoComplete{
		width:180px !important;
	}

	.sectionhead_greyDA  {font-size: 9px !important;}
	
	#pagedReportDiv > table:first-child{
		width: 84% !important;
	}	
	
	#pagedReportDiv  > table:first-child tr td{
		padding:1px !important;
	}
	
	#pagedReportDiv > table:nth-child(2), #pagedReportDiv > table:nth-child(3){
		width: 91% !important;
	}
	
	#addBillPayAccountsForm .selectBoxHolder .ui-button{
		margin-left:-10px;
	}
	
	.sapUiLbl{
		font-size: 11px !important;
	}
	
	/* date range style */
	
	.ui-daterangepickercontain{
		margin-left:0px;
	}
	
	.ui-daterangepicker .ranges{
		margin-left:-5px !important;
	}
	
	.ui-daterangepicker ul{
		width:8.2em !important;
	}
	
	.ui-daterangepickercontain .ui-daterangepicker{
		max-width:625px !important;
	}
	
	/* Select columns, Reload Grid, Show Memo text size */
	.ui-pg-div{
		font-size:12px;
	}
	
	/* date range style */
	
	
	/*
		SAP UI5 overrides
	*/
	
	/* Add device screen */
	.wizardSupportCls { 
		width: 100% !important;
	}
	.sapUiHLayoutChildWrapper { 
		width: 100% !important; 
	}
	
	.sapUiFormActionBtnBar .sapUiHLayoutChildWrapper {
		width: auto !important; 
	}
	
	.sapUiTfCombo input {
		width: 90% !important;
		border: none !important;
	}
	
	.selectBoxHolder button[class*="ui-button"]{
		right: 2px;
	}
	
	#sessionActivityPortID #recordsOnGridPage_autoComplete{
		width: 90px !important;
	}

	#SourceAndTargetAccountSelect .selectBoxHolder button[class*="ui-button"]{
		right: 8px;
	}  
	
	.approverNameLabel, .approverName, .submittedFor{
		width: 16% !important;
	}
	
	.approvalRowLabel{
		width: 11% !important;
	}
	
	#addLocationPanel table:nth-of-type(3) tr:nth-of-type(2) td:nth-of-type(1) {
	  width: 250px !important;
	}
	
	#addEditVariableSection #FrequencyID-menu{
		width:105px !important;
	}
	
	span#lineBreakForDevice:after {
	  content: "\a";
	  white-space: pre;
	}
	
	#AddEditACHBatchCompanyID-menu, #standardEntryClassCodeId-menu, #countryID-menu, #CURRENCY-menu, 
	#addEditVariableSection input[type="text"]:not(#AddEditACHBatchDateId):not(#AddEditACHBatchNumberPayments):not(#achBatchPayee){
		width:90% !important;
	} 
		
    #achBatchPayee{
    	width: 275px !important;
    }
    
    #gbox_achEntriesGridId {
    	padding-right: 0 !important;
    }
    
    input#cb_achEntriesGridId {
	    bottom: 4px;
	    position: relative;
	}
	
	 #viewACHMultiBatchDetailsDialogID .rightPaneWrapper {
	 	margin-left: 0px !important;
	 }
	 
	 #achMultipleBatch .hasDatepicker{
	 	width: 65px !important;
	 	padding-left: 0px;
	 	padding-right: 0px;
	 }
	 
	 .dvcDateTd{
	 	width: 18% !important;
	 }
	 
	 div.entryFormInputFieldWrapper #taxIdentificationValue {
	    width: 160px !important;
	 }
	 
	#achAddEditEntrySection .rightPaneWrapper{
	 	margin-top: 0;
	 }
	 
	 #achAddEditEntrySection .leftPaneWrapper {
	    margin-left: 5px;
	} 
	
}


/* For landscape layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  	.ui-dialog .ui-dialog-titlebar-close span {
		margin: 0;
		padding: 0;
	}
	
	#security {
		height: 500px !important;
	}
	
	.inlineBlock span:nth-child(2){
		width:45% !important;
	}

	/* #gview_externalAccountsGrid .ui-jqgrid-htable #jqgh_externalAccountsGrid_status{
		margin-left:-8px
	} */
	
}