#date { color: inherit; font-size: 10px; line-height: 11px;   padding: 3px }
.txtbox      { color: inherit; border: solid 1px;   }
.tbrd_ltb    { color: inherit; font-size: 10px; line-height: 11px;   padding: 3px; border-style: solid; border-width: 1px 0px 1px 1px }
.tbrd_full { color: inherit; font-size: 10px; line-height: 11px;   padding: 3px; border: solid 1px  }
.tbrd_l { color: inherit; border-style: solid; border-width: 0px 0px 0px 1px }
.tbrd_r { color: inherit; border-style: solid; border-width: 0px 1px 0px 0px }
.tbrd_lr { color: inherit; border-style: solid; border-width: 0px 1px 0px 1px }
.tbrd_t { border-color: black; color: inherit; border-style: solid; border-width: 1px 0px 0px 0px }
.tbrd_lt { color: inherit; border-style: solid; border-width: 1px 0px 0px 1px }
.tbrd_ltr { color: inherit; border-style: solid; border-width: 1px 1px 0px 1px }
.tbrd_tr { color: inherit; border-style: solid; border-width: 1px 1px 0px 0px }
.tbrd_b { color: inherit; border-style: solid; border-width: 0px 0px 1px 0px }
.tbrd_lb { color: inherit; border-style: solid; border-width: 0px 0px 1px 1px }
.tbrd_br { color: inherit; border-style: solid; border-width: 0px 1px 1px 0px }
.tbrd_tb   { color: inherit; font-size: 10px; line-height: 11px;   padding: 3px; border-style: solid; border-width: 1px 0px 1px 0px }
.tbrd_trb   { color: inherit; font-size: 10px; line-height: 11px;   padding: 3px; border-style: solid; border-width: 1px 1px 1px 0px }
.disabledbutton   { color: #999999; font-weight: bold; font-size: 10px; line-height: 11px;   /*background-color: silver;*/ padding: 1px; border: solid 1px #999 }
.disabledBtnStyle{opacity:0.35 !important; background-image:none !important; filter:alpha(opacity=50) !important;cursor: default !important;}
.disabledBtnStyle:active {outline: none;border: none;}
.disabledBtnStyle:focus {outline:none;}
.submitbutton       { color: inherit; font-weight: bold; font-size: 10px; line-height: 11px;   /*background-color: silver;*/ padding: 1px; border: solid 1px black }
.pagehead { color: inherit; font-weight: bold; font-size: 13px; line-height: 15px;   padding-top:2px; }
/* .sectionhead, .sectionhead_grey   { color: inherit; font-weight: bold; font-size: 11px; line-height: 15px;   } */
.sectionhead_grey {/*background-color: #f5f5f5;*/ }
/* .sectionsubhead, .sectiontitle, .sectionsubhead_dim, .sectionsubhead_white, .sectionsubhead_grey, .plainsubhead   { color: inherit; font-weight: bold; font-size: 10px; line-height: 10px;   } */
.plainsubhead { font-weight: normal }
.sectionsubhead_white { /*background-color:white;*/ }
.sectionsubhead_grey { /*background-color: #f5f5f5;*/ }
.sectionsubhead_dim {color: #696969;}
.sectiontitle {color: white; line-height: 14px;}
.mainfont, .mainfontbold, .errortext {   font-size:12px; font-weight:normal; color:inherit; }
.mainfontbold {font-weight:bold;}
.errorcolor, .errortext {color: red;}
.negativenumbercolor {color: red !important;}
.submain {   font-size:13px; font-weight:normal; color:inherit; }
.sectionsubheadb { color: inherit; font-weight: 600; font-size: 10px; line-height: 10px;   }
table.columndatatable {border:0; width: 100%; border-collapse: collapse; table-layout:fixed;} /* cellpadding: 3; cellspacing: 0; */
/* .columndata, .columndata_bold, .columndata_error, .columndata_white, .columndata_grey { font-size: 10px; line-height: 11px;   padding: 3px } */
.columndata_bold { font-weight:bold; }
.columndata_error { color:red; }
.columndata { color: inherit; }
.columndata_white { color: inherit; /*background-color: white;*/ }
.columndata_grey { color: inherit; /*background-color: #f5f5f5;*/ }
.ltrow_color, .ltrow, .pltrow { color:inherit; /* background-color:#dae0d8 */}
.ltrow, .pltrow { padding: 3px ; font-size: 10px; line-height: 11px; }
.ltrow1_color, .ltrow1, .pltrow1 { color:inherit; /*background-color:#f0f8ff */}
.ltrow1, .pltrow1 { padding: 3px ; font-size: 10px; line-height: 11px; }
.ltrow2_color, .ltrow2, .pltrow2 { color:inherit; /* background-color:#f5f5f5 */} /* Alternate row color in reporting page*/
.ltrow2, .pltrow2 { padding: 3px ; font-size: 10px; line-height: 11px; } /* Alternate row color in reporting page*/
.ltrow3, .pltrow3 { padding: 3px ; font-size: 10px; line-height: 11px; color:inherit; /*background-color:#efeadb*/ } /* Alternate row color in admin section*/
.ltrow4_color, .ltrow4, .pltrow4 { color:inherit; /*background-color:#efeadb*/ }
.ltrow5 {color: inherit; /*background-color: white;*/ }
.ltrow6 { color:inherit; /*background-color:#dae0d8*/ }
.dkrow, .pdkrow { padding: 3px ; font-size: 10px; line-height: 11px; color:inherit; /*background-color:white*/ }
.adminBackground {/*background-color: #e6dbbb;*/ color: inherit;}
.whiteBackground {/*background-color: #FFFFFF*/}
.greenClayBackground{ /*background-color: #dae0d8*/}
.lightBackground {/*background-color: #f5f5f5;*/}
.corner_cellbg{background-image: url('/cb/web/multilang/grafx/corner_cellbg.gif')}
.reportsBackground {/*background-color: #f5f5f5;*/ color: inherit;}
.reportsBackground2 {/*background-color: #ffffff;*/ color: inherit;}
.reportsBackground3 {/*background-color: #BBBBBB;*/ color: inherit;}
.reportsBackground4 {/*background-color: #DDDDDD;*/ color: inherit;}
.pltrow { font-size:10px }
.pltrow1 { font-size:10px }
.pltrow2 { font-size:10px }
.pdkrow { font-size:10px }
.promptfont, .promptfontbold {
	 
	font-size:11px;
	font-weight:normal;
	color:inherit;
}

.promptfontbold {
	font-weight:bold;
}
hr.thingrayline {height: 1px; color: #999999; background: #999999; border-style: none}
.reportHeading { line-height: 20px;   }
.reportSectionHeading { color: inherit; font-weight: bold; font-size: 10px; line-height: 10px;   }
.reportColumnHeading { color: inherit; font-weight: bold; line-height: 10px;   }
.reportHeader { line-height: 20px;   }
.reportFooter { line-height: 20px;   }
.reportData {line-height: 20px;   padding: 3px }
.reportDataShaded { /*background-color: #DDDDDD;*/ }
.reportDataOnlineDisplayShaded { /*background-color: #f5f5f5;*/ }
.reportDataSubtotal {  font-size: 10px; line-height: 10px;   padding: 3px }
.reportParagraph { line-height: 20px;   padding: 3px }
.sampleBankReportData { color: inherit;font-size: 10px; line-height: 11px;  font-face: Courier; padding: 3px }
.errorBackground { /*background-color: #EAEAEA*/}
.indent1 { padding-left: 2em; }
.indent2 { padding-left: 4em; }
.indent3 { padding-left: 6em; }
.indent4 { padding-left: 8em; }
.pswdindicatorborder {border: 1px black solid;}
.pswdindicatordefault {background: #F0F0F0; color: #B8B8B8;}
.pswdindicatortxt {   font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 10px; color: black}
/* New styles for Password*/

.pswdindicatorborder {
	height:21px;
	vertical-align:bottom;
	text-align: center;
	color: #fff;
	background:url("../grafx/toolbar/toolbarBg.png") 50% 50% repeat-x;
	width: 175px;
	border: 1px solid #918E8E;
	font-size: 13px;
	font-weight:bold;
	position:relative;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	position: relative;
}

.pswdindicatordefault{
	position: absolute; 
	color: #fff;
	left: -1px;
	top: -1px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background: none;
	width: 100%;
	height: 21px;
	opacity: 0;
	filter: alpha(opacity=0);
	line-height: 21px;
}
#idWeak.active{
	background: url("/cb/web/multilang/grafx/weakPassBg.png") repeat-x;
	border:1px solid #b60404;
	opacity: 1;
	filter: alpha(opacity=100);
}
#idMedium.active{
	background: url("/cb/web/multilang/grafx/mediumPassBg.png") repeat-x;
	border:1px solid #f1730d;
	opacity: 1;
	filter: alpha(opacity=100);
}
#idStrong.active{
	background: url("/cb/web/multilang/grafx/strongPassBg.png") repeat-x;
	border:1px solid #0ecb22;
	opacity: 1;
	filter: alpha(opacity=100);
}
/* New styles for Password*/
.menuPrimaryText { font-weight: bold; font-size:1em; color: #FFFFFF; text-align:left; text-transform: uppercase; font-stretch: ultra-condensed; padding-top:2px;}
.menuLink { text-decoration: none; }
.logoStyle{ padding-bottom: 10px; }
.menuBackgroundDarkGreen, .menuBackgroundBlue, .menuBackgroundDarkBlue, .menuBackgroundOrange, .menuBackgroundDarkRed, .menuBackgroundPurple { height:35px; }
.menuBackgroundDarkGreen{ background:url(/cb/web/multilang/grafx/hdr_background.gif) }
.menuBackgroundBlue { background:url(/cb/web/multilang/grafx/cash/hdr_background.gif) }
.menuBackgroundDarkBlue { background:url(/cb/web/multilang/grafx/payments/hdr_background.gif) }
.menuBackgroundOrange { background:url(/cb/web/multilang/grafx/user/hdr_background.gif) }
.menuBackgroundPurple { background:url(/cb/web/multilang/grafx/account/hdr_background.gif)}
.menuBackgroundDarkRed { background:url(/cb/web/multilang/grafx/reports/hdr_background.gif) }
.menuBackgroundBrown { background:url(/cb/web/multilang/grafx/approvals/hdr_background.gif) }
.menuSecondaryText {  font-weight: bold; font-size: 1em; color:inherit; padding-left:2px; font-stretch: condensed; text-align:left; }
.menuSecondaryContainer{ text-decoration: none; vertical-align:middle; }
.arrowStyleActive {  background-position: 80% 50%; background-image: url("/cb/web/multilang/grafx/hdr_menu_arrow.gif"); background-repeat: no-repeat; vertical-align:middle; padding-right:10px; padding-left:8px; -moz-opacity:.50; opacity:.50; filter: alpha(opacity = 50); zoom:1; height:35px;}
.arrowStyleInactive { background-position:80% 50%; background-image: url("/cb/web/multilang/grafx/hdr_menu_arrow.gif"); background-repeat: no-repeat; vertical-align:middle; padding-right:10px; padding-left:8px; -moz-opacity:.0; opacity:0; filter: alpha(opacity = 0); zoom:1; height:35px;}
/*.required, .notrequired { color: #990000; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; text-decoration: none;  }*/
.localeButton { border-style: none; }
.instructions {   
	font-size: 13px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #615D62; padding-left: 15px; padding-right: 5px ; padding-top: 8px; padding-bottom: 8px;}
.sectionheadDA  { color: red; font-weight: bold; font-size: 13px; line-height: 15px;}
.sectionhead_greyDA  { color: #696565; font-weight: bold !important; font-size: 10px !important; line-height: 11px;  padding: 3px}
.columndataDA { color:red; font-size: 13px; line-height: 11px; }
.sectionsubheadDA{ color: red; font-weight: bold; font-size: 10px; line-height: 10px; }
.columndataDANote { color: blue; font-size: 10px; line-height: 13px; }
.ffiHidden{ display: none; }
.ffiVisible{ display: block; }
.memo{ padding:0 0 0 30px; }
.unreadMessage{padding:0 0 0 5px;position:relative;}
.logo {
	width: 168px;
	height: 40px;
	float: left;
	margin: 3px 0px 0px 3px;
	background-image: url(../images/ffbanklogo.png);
	background-position: 0 0;
}
.dateLocale{
	padding-top: 3px;
	color: white;
	font-size: 15px;
	font-weight: normal;
	float: right;
	margin-right: 10px;
}

.loginMessagePanel{
	margin: 2px 2px 2px 2px;	
	padding: 1px 1px 1px 1px;	
	font-size: 10px;
}

.loginGlobalMessage{
	border-top: 1px solid #C5DBEC;
}

.termsAndConditions{
	margin: 2px 2px 2px 2px;	
}
.permissionButtonAlign{
	position:relative;
	right:70px;
}
.cleanSpacer{
	padding:2px 2px 2px 2px;
	margin:2px 2px 2px 2px;
}

#ui-datepicker-div { display: none; }

@media print{
	.hiddenWhilePrinting{
		/* display:none !important; */
		opacity: 0 !important;
	}
}

.acct_mgmt_font {
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    font-size: 11px;
    color: rgb(0, 0, 0);
}

.breakWord{
	white-space: pre-wrap;
    word-wrap: break-word;
    -ms-word-break: break-all; /* Internet Explorer 8 */
    width:100%;
}

.breakWordWhenSpace{
	white-space: pre-wrap;
    word-wrap: normal;
    width:100%;
}

.rejectedRowLabel{
	width:8%;
	float:left;
	font-weight: bold;
	margin-left:35px;
}

.rejectedBy{
	width:14%;float:left;
}

.rejectedReason{
	width: auto;
	float: left;
	margin-left: 35px;	
}

.rejectedReasonWithoutName{
	width:92%;float:right;
}

.submittedBy{
	width:14%;float:left;
}
.submittedFor{
	width:14%;
	float:left;
}
.approverName{
	width:14%;
	float:left;
}

.approverNameLabel{
	width:13%;
	float:left;
	font-weight: bold;
	margin-left:35px;
}

.approvalRowLabel{
	width:8%;
	float:left;
	font-weight: bold;
}
.rejectReasonFont  {	
	color: red;
	/* font-size: 9px; line-height: 15px; 
	font-family: inherit; */ 
}

.description{
	width:250px; 
	border:0px solid #000000;
	word-wrap:break-word;
}
.textWrapInTd{
	word-break :break-all
}

/*#####################################
		Revision Changes
######################################*/

.sectionhead, .sectionhead_grey   { 
	color: inherit; 
	font-weight: normal;
	font-size: 13px; 
	line-height: 15px;   
}

.sectionsubhead, .sectiontitle, .sectionsubhead_dim, .sectionsubhead_white, .sectionsubhead_grey, .plainsubhead { 
	color: inherit; 
	font-weight: normal; 
	font-size: 13px; 
	line-height: normal;
}

.columndata, .columndata_bold, .columndata_error, .columndata_white, .columndata_grey { 
	font-size: 13px; 
	/* line-height: 12px; */   
	line-height: normal;
	padding: 3px;
	font-weight: normal; 
}


/*######################################
			New addition
#######################################*/

/**************************************
			Common styles
**************************************/
.requiredField, .required, .notrequired, .warningField {
	color: #990000;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	font-family: Ubuntu !important;
}

.informationField {
	color: #444444;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin: 15px;
    text-align: justify;
}

.informationField span {
 	display: inline-block;
	width: 92%;
 }
 
.anchorText, #ach_bankListRowsID a, #contactInfoContentDiv .txt_normal a {
	color: #065292 !important;
    text-decoration: none !important;
}

/*************************************
			New styles
**************************************/
.shortcutQuickLinksArea a, .shortcutQuickLinksArea p, .shortcutQuickLinksArea span {
	font-size: 13px;
	font-weight: normal;
	float: left;
}

.shortcutQuickLinksArea .ui-button {
	float: right;
}

.themes_list {
	overflow: hidden;	
}

.themes_list a {
	outline: none;
	cursor: pointer;
	margin-right: 3px;
	text-decoration: none;
}

.themesHolder li{
	width: 100%;
	border: none;
	border-bottom: 1px solid #eee;
	padding: 5px;
	margin: 0px;
	overflow: hidden;
}

/*.themes_current {
	 
	font-weight: bold; 
	background-color: #EAF4FD !important;
	background-size: 20px 20px !important;
	
}
*/

.themes_current:after {
	/* content: url(../images/selectedTheme.png); */
}

.themesHolder li:nth-child(even) {
	/* background: #EEEEEE; */
}

.sendQuickMessage {
	font-size: 13px;
	font-weight: normal;
}

.userProfilePrefrence td:nth-child(odd) {
	margin-right: 10px;
	float: left;
}

.shortcutKeysWin tr th span {
	text-align: left;
	width: 100%;
	float: left;
} 

.shortcutKeysWin tr td:nth-child(odd) {
	padding:8px;
}

.autoWidthNoWrap td:nth-child(odd) {
	width: 100%;
	float: left;
}

.headerNavLinks {
	clear: both;
}

.headerNavLinks a {
	/* margin-right: 10px; */
	text-decoration: none;
	color: #ffffff !important;
}

/* .headerNavLinks a img {
	margin-right: 10px;
	position: relative;
} */

.countryFlagImg {
	height: 16px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    width: 23px;
}

.singoutImg {
	margin-right: 9px;	
}

.headerNavLinksSaparater {
	color: #ffffff;
	margin: 0 5px;
}


.availAlertTypeTable td span:not(.ui-button-text):nth-child(odd){
	/* Applying class for tds on the left and making the text bold */
	color: #535354;
    font-weight: normal;
    text-decoration: underline;
}

.availAlertTypeTable td a{
	width:100%;
}

.availAlertTypeTable td span.columndata{line-height: 24px;}

.tableAlerternateRowColor tr:nth-child(even) {
	background: #e8eaf6;
}

.tableAlerternateRowColor.availAlertTypeTable tr:nth-child(even) td:nth-child(even){
	background: #fff !important;
}

.resetTableRowBGColor {
	background: #dbdbda !important;
}
.resetTableRowBGColor td{font-weight:bold;}
.servicesTableData tr td {
	padding:10px 0;
}

.verifyDataForSave tr td {
	padding:5px 0;
}

.tdWithPadding td {
	padding-right:10px;
}

.tdAlignTop td {
	vertical-align: top;
}

.tdTopBottomPadding tr td {
	padding:10px 0;
}

.tdTopBottomPadding5 tr td {
	padding:5px 0;
}

.tdWithPaddingAllSides tr td {
	padding:5px;
}

.tdWithPadding5 td {
	padding-right:5px;
}

.servicesTableData tr td:nth-child(1) span {
	padding-left:10px;
}

.dialogueData legend {
	font-size: 13px;
	font-weight: normal;
}

.highlightTD {
	text-align: center;
	background: #EEEEEE;
}

.marginLeft5 input {
	margin-left: 5px;
}

.dateComponentHolder {
}

.dateComponentHolder input {	
	width: auto !important;
}

.msgFromImg a span {
	/* The class is to position the msg icon in Home > Messages > Received Messages data grid */
	float:left;
}

.resetHeaderPadding {
	top: 0px !important;
	left: 0px !important;
	right: 0px !important;
	width: 100% !important;
}

.dualApprovalIco {
	margin-left: -8px;
	margin-top: -3px;	
}

.paddingLeft10 {
	padding-left:10px;
}

.paddingRight10 {
	padding-right:10px;
}
/*#################################
		datagrid rules
##################################*/

.datagrid_dateColumn {
	text-align: left !important;
}

.datagrid_amountColumn {
	text-align: left !important;
}

.datagrid_numberColumn {
	text-align: left !important;
}

.datagrid_textColumn {
	text-align: left !important;
}

.datagrid_actionColumn * {
	text-align: left !important;
	text-decoration: none !important;
	color: #065292 !important;
	cursor: pointer !important;
	/* width: auto; */
	float: left;
	/* position: absolute; */
	line-height: 15px;
	margin-top: 0px;
}

.datagrid_actionIcons {
	text-align: left !important;
}

/**************************************
			Overrides
***************************************/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	/* style in jquery-ui.css */
	font-weight: normal !important;
}

.ui-widget .ui-widget {
    /* font-size: 1.3em !important; */
}

.ui-selectmenu-open {
	/*This is not an override but a fix to hide the bar appearing in login screens*/
	z-index: 89000 !important;
}

.themes_list a {
	font-size: 13px;
	font-weight: normal;	
}

.themes_list span {
	vertical-align: middle;
	margin-right: 10px;
}

/******************************************
	styles for Account History dashboard
*******************************************/

.acntDashboard_masterItemHolder {
	float: left;
	/* width: 100%; */
	position: relative;
}

.acntDashboard_masterItemHolder hr {
	border: 0;
	border-top: 1px solid #E0E0E0;
}

.acntDashboard_itemHolder {
	margin-right: 5px;
	/* float: left; */
	display:inline-block;
}

/*class to show label on top of the element*/
/* .acntDashboard_itemHolder > :nth-child(1) {
	display: block;
	float: none !important;
} */

/*class to apply padding in the dashboard area*/
.acntDashboard_itemHolderContent{
	position: relative;
	overflow: hidden;
	padding: 0.5em 0.5em 1em 1em ! important;
}

/*****************************
		Util styles
******************************/

.floatleft {
	float: left !important;
}

.floatRight {
	float: right !important;
}

.clearBoth {
	clear: both;	
}

.textAlignLeft {
	text-align: left;
}

.marginRight0 {
	margin-right: 0px !important;
}

.marginRight5 {
	margin-right: 5px;
}

.marginRight10 {
	margin-right: 10px;
}

.marginleft10 {
	margin-left: 10px;
}

.marginRight15 {
	margin-right: 15px;
}

.marginleft5 {
	margin-left: 5px;
}

.marginTop10 {
	margin-top: 10px;
}

.marginBottom10 {
	margin-bottom: 10px;
}

.marginRight20 {
	margin-right: 20px;
}

.marginTop20 {
	margin-top: 20px;
}

.marginBottom20 {
	margin-bottom: 20px;
}

.marginRight30 {
	margin-right: 30px;
}

.marginTop30 {
	margin-top: 30px;
}

.marginTop5 {
	margin-top: 5px;
}

.marginTop15 {
	margin-top: 15px;
}

.marginBottom5 {
	margin-bottom: 5px;
}

.verticalMiddle {
	vertical-align: middle;
}

.showHandCursor {
	cursor: pointer;
}

.resetHandCursor {
	cursor: default !important;
}

.dashboardLabelMargin {
	margin-bottom: 5px;
	display: block;
}

.fxCalcLable {
	margin-bottom: 5px;
	font-size: 13px;
	font-weigth:normal;
	float: left;
}

.calcHolderDivCls {
	width: 100%;
	float: left;	
}

.fxConvertFromArea, .fxConvertToArea, .fxFromAmountCls, .fxToAmountCls {
	width: 45%;
}

.fxToAmountCls input {
	background: #f0eeee;
}

.fxCalcIconHolder {
	width: 10%;
}

.fxDoubleSideArrow {
	padding-top: 24px;
}

.fxDoubleSideArrow img {
	cursor: pointer;
}

.fxSingleSideArrow {
	padding-top: 13px;
}

.fxActionBtnCls {
	width: 100%;
	text-align: center;
}

.convertedAmountHolderCls span {
	display: block;
    height: 18px !important;
    width: 196px;	
    font-size: 13px;
    background: #e8e8e8;
    width:205px;
}
#fromAmount{width:205px;}
#calcHolderDiv .selectBoxHolder input{width:190px;}
/***********************************************
	Fixes to set jquery ui component settings 
***********************************************/
.width98prcnt {
	width: 98% !important;	
}

.approvalsCls, .approvalsCls a {
	font-size: 13px;
	font-weight: normal;
	color: #404040 !important;
}

.approvalsCls hr {
	border: 0;
	border-top: 1px solid #E0E0E0;
}

.shortcutListItems {
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 6px;
}

.homePageGlobalMessages {
	background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    font-size: 14px;
    height: 100px;
    margin-top: 20px;
    width: 100%;
}

/* .homePageGlobalMessages fieldset {
    border: thin solid #A6C9E2;
    border-radius: 5px 5px 5px 5px;
    color: #FF0000;
    font-size: 14px;
    font-weight: normal;
	font-family: arial !important;
} */

.homePageGlobalMessages .dataId > span {
    float: left;
    margin: 10px 0 0;
}

.homePageGlobalMessages .dataId span[class~="sapUiIconCls"] {
	clear: both;
    display: inline;
    margin-left: 10px;
}

#permTabs > div {
    float: left;
    margin: auto 10px;
    width: 97%;
}

.titleBarBtn {
	border: 1px solid #FFFFFF;
    border-radius: 3px;
    float: right;
    font-size: 13px;
    padding: 2px;
    text-decoration: none;
    float:right;
    padding-right:5px;
}

.boldIt {
	font-weight: bold;
}

.formSubmitBtn {
	font-size: 13px !important;
	font-weight: normal !important;
	padding: 6px !important;
}
	
.noXOverflow {
	overflow-x: hidden;
}

.overflowXAuto{
	overflow-x: auto;
}

.uiDialogTop0 {
	top: 5% !important;	
}

.langSelectionSeperator {
	text-align:center;
}

.langSelectionSeperator a:nth-child(odd) {
	margin-right: 50px;	
}

.fileuploadFieldset {
	border: thin solid #A6C9E2;
    border-radius: 5px 5px 5px 5px;
    color: inherit;
    font-size: 14px;
    font-weight: normal;
}

.overflowVisible {
	overflow: visible !important;
}

.gridNicknameField {
	width: 100% !important;
	padding: 0 !important;
	text-align: center !important;
}

/****************************
Top bar styles
*****************************/
.userFullName {
	font-size: 20px;
}

.lastLoginDateSpan {
	display: block;
    font-size: 15px;
    margin-top: 5px;
}

.topLogoHolder {
	top:3px;
	position: relative;
}

.settingItemHolder {
	float: left;
	width: 100%;
}

.miscTabItem {
	float: left;
    margin: 10px 0;
    width: 100%;
    text-align: left;
}

.miscTabItem > span:nth-child(1) {
	width: 260px;
	margin-right: 20px !important;
	display: inline-block;
}

.sessionActivityItemCls .selectBoxHolder {
	position: absolute !important;
}

.miscActionElement {
	display: inline;
    float: left;
    margin:5px 0 10px 10px;
    text-align:left;
    width: 100px;
}

.themePickerCls {
	margin: 0 auto;
    padding: 0 !important;
    text-align: center;
    width: 100%;	
}

.themePickerCls li {
	text-align: left !important;
	border: 2px solid #808080;
	margin: 10px !important;
	height: 166px !important;
	width: 148px !important;
	padding: 0  !important;
	background: #808080 !important;
}

.themePickerCls li a {
	color: #fff !important;
}

 .themePickerCls img {
	margin-top: 23px;
}

.themePicker {
	border: 1px solid #fff;
	cursor: pointer;
	display: inline-block;
    margin-right: 35px;
    margin-top: 5px;
    text-align: center;
    width: 150px;
    -moz-opacity:.70; 
    opacity:.70; 
    filter: alpha(opacity = 70);
}

.themePicker:nth-child(1) {
    margin-left: 25px;
}

.themePicker img {
	width: 99%;
}

.themeTitle {
	background: none repeat scroll 0 0 #808080;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    /* font-weight: bold; */
    padding: 3px 0;
}

.themeSelected, .themes_current {
	
	color: #fff !important;
	-moz-opacity:1; 
    opacity:1; 
    filter: alpha(opacity = 1);
    /* background: #fb6600 !important; */
    border: 2px solid #fb6600 !important;
    
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    -o-transition: border .5s;
    transition: border .5s;
}

.themeSelected span, .themes_current li {
	background: #fb6600;
	color: #fff !important;
}

.themes_current a {
	color: #fff !important;
	font-weight: normal !important;
}

.otherPreferenceBtnCls {
	float: left;
    margin: 7px 0 2px;
    text-align: center;
    width: 100%;
}

<!--[if IE]>
	.overrideTdStyle tr td {
		display:inline-block;
	}
<![endif]-->

/****************************
Notification > Alerts styles
*****************************/

.alertMsgHolder {
  float: left;
  width: 100%;
}

.alertContentArea {
	display: block;
    float: left;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 5px;
    width: 98%;
}

.actionButtonArea {
  text-align: center;
}

.floatRight{float:right}
.dashboardLabelMargin{text-align:left}

/****************************
Global Messages Styles
*****************************/
.globalMsgDisplayHolderCls {
	width: 100%;
	height: 61px;
}

/* .globalMsgIconTopBar {
	display: inline;
    position: relative;
    text-align: center;
}

.globalMsgIconTopBar img {
	cursor: pointer;
} */

.globalMsgBar {
	display: none;
	background: #009c78;
    border-radius: 5px;
    border: 1px solid #F0AB00;
    float: left;
    height: 95px;
    margin: 0 2px !important;
    padding: 0 !important;
    position: absolute;
    top: 68px;
    width: 98.9%;
    z-index: 9999;
}

.globalMsgContentDiv {
	border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    padding: 10px;
    width: 95%;
}

.globalMsgCloseBtnDiv {
	float: left;
	
}

.globalMsgDisplayBoxCls {
	background: #fff;
    border: 1px solid #F0AB00;
    border-radius: 5px;
    color: #000;
    height: 125px;
    left: 0;
    margin: 0 auto;
    overflow-x: none;
    overflow-y: auto;
    position: absolute;
    top: 59px;
    width: 99.9%;
    box-shadow: 5px 5px 5px #666;
}

.globalMsgIconHolder {
	float: left;
    margin: 12px;
}

.globalMsgTxtHolder {
    line-height: normal;
    width: 92%;
}

.globalMsgTxtHolder span:nth-child(1), .globalMsgTxtHolder span:nth-child(2) {
	padding-top: 0px;
}

.globalMsgTxtHolder > span {
	display: inline-block;
	width: 90%;
	padding: 10px 0 0 5px;;
}

.globalMsgTxtHolder:first-child {
	margin-top: 5px !important;
}


.globalMsgTxtHolder span[class~="sapUiIconCls"] {
	float: left;
	width: auto;
}

.globalMsgFontProp {
	font-size: 14px;
    font-weight: normal;
}

.globalMsgCloseBtnCls {
	/* border: 1px solid #F0AB00; */
    border-radius: 3px;
    float: right;
    margin: 5px;
    position: relative;
    cursor: pointer;
}

.globalMsgCloseBtnCls span {
	background-color: #fff;
}

.globalMsgShadow {
	box-shadow: 2px 2px 2px 2px #1E6BAA;
}

/*
	Classes to hold chart type area
*/

.chartTypeHolderCls {
    float: left;
}

.chartTypeHolderCls a {
	background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border: 1px solid #A4A4A3;
    border-bottom: 3px solid #A4A4A3;
    border-right: none;
    cursor: pointer;
    float: left;
    height: 100%;
    line-height: 30px;
    padding: 5px 10px 5px 40px;
    text-decoration: none;
    color: #065292 !important;
}

.chartTypeHolderCls a:last-child {
    border-right: 1px solid #A4A4A3 !important;
}

.donutChartCls {
	background-image: url("/cb/web/grafx/icons/donutChartIco.png");
}

.barChartCls {
	background-image: url("/cb/web/grafx/icons/barChartIco.png");
}

.dataTableCls {
	background-image: url("/cb/web/grafx/icons/dataTableChartIco.png");
}

.chartSettingsCls {
	background-image: url("/cb/web/grafx/icons/settingsIco.png");
}

.selectedChart {
	border-bottom: 3px solid #fb6600 !important;
	cursor: default;

	-webkit-transition: border-bottom .5s;
    -moz-transition: border-bottom .5s;
    -o-transition: border-bottom .5s;
    transition: border-bottom .5s;
}

.request-alert-message {
        position: absolute; 
        width: 100%; 
        text-align: center; 
        top: 0; 
        left: 0; 
        z-index: 1;
        display: none;
}

.alert-wrapper {

        margin: 0 auto; 

        width: auto; 

        font-size: 12px; 

        font-weight: normal; 

        height: 20px; 

        display: inline-block; 

        position: relative; 

        top: 0;

}

.success-message {

        background: #8ae58a; 

        border: 1px solid #000;  

        padding: 5px 85px; 

        color: #307930; 

        display: none; 

        width: 50%; 
        
        height:auto;
        
        line-height:20px;

        border: 1px solid #024e0d; 

        border-radius: 4px; 

}

.success-message span {

        background-image: url("/cb/web/grafx/icons/successMsgIcon.png");

    background-position: left center;

    background-repeat: no-repeat;

    padding: 5px 0 5px 35px;

}


.error-message {

        background: #ffeaa8;

        border: 1px solid #E63201;  

        padding: 5px 40px; 

        color: #826239; 

        display: none; 

        width: 50%; 
        
        height:auto;
        
        line-height:20px;

        border: 1px solid #e53200; 

        border-radius: 4px; 

}

.error-message span {

     background-image: url("/cb/web/grafx/icons/errMsgIcon.png");

    background-position: left center;

    background-repeat: no-repeat;

    padding: 5px 0 5px 35px;

}
/* Site Navigation Styles*/
#displayTabs, #hiddenTabs {list-style-type: square; margin: 10px 0 0; padding: 0; float: left; width:100%; overflow-y:auto}
#displayTabs div.ui-state-hover, #hiddenTabs div.ui-state-hover{padding:8px 5px; cursor:pointer; background:none; border:none; border-bottom:1px solid #ccc; height: 22px;}
#displayTabs div.ui-state-hover:last-child, #hiddenTabs div.ui-state-hover:last-child{border-bottom:none;}
#displayTabs div.ui-state-hover .sapUiIconCls{display: inline-block;}
#displayTabs div.ui-state-hover > span{position:relative; top: 0;}
#displayTabs div.ui-state-hover > span.icon-home{padding-left: 4px;}
.default-page-note{padding:5px 0 0; overflow:hidden;}
.default-page-note .icon-home{display:inline-block; position:relative; top:2px;}
.set-default-home{color:#8b8b8b; font-size:12px; font-weight:bold}
.toggle-dark .disabledToggleBtn, .toggle-dark .defaultDisabled{opacity:0.5; filter:Alpha(Opacity=50);}
.toggle-dark .disabledToggleBtn .toggle-slide, .toggle-dark .defaultDisabled .toggle-slide{cursor: default;}
/* Site Navigation Styles*/
.ui-dialog-content .customDialogFooter{
	position: absolute; 
	bottom: 0; 
	left: 0; 
	border-left: none;
	border-right: none;
	border-bottom: none;
	padding: 5px 0 !important;
	margin: 0 !important;
	float: none !important;
	text-align: right;
	height: auto !important;
	width: 100%;
}
.customDialogFooter :nth-last-child(2){/*margin-right: 5px !important;*/}
#sessionActivityReportID #sessionActivityReportTableID{height: 200px; overflow-y: auto;}
#sessionActivityDialogId  #sessionActivityReportTableID{height: 390px; overflow-y: auto;}
/*  Favorite Accounts Styles */
.favAccountsWrapper div.ui-widget-content
{list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; height:200px; overflow-y:scroll; width:100%}
.favAccountsWrapper div.ui-widget-content > div 
{width: auto; padding:8px 5px; cursor:pointer; background:none; border:none; border-bottom:1px solid #ccc; height: 22px;}
.favAccountsWrapper div.ui-widget-content div.ui-state-disabled
{padding:0; height:auto; border:none}
.toggle-dark .disableToggle, .toggle-dark .disableCashFlowToggle{opacity:0.5; filter:Alpha(Opacity=50);}
.toggle-dark .disableToggle .toggle-slide, .toggle-dark .disableCashFlowToggle .toggle-slide{cursor: default;}
/*  Favorite Accounts Styles */
/*  Cashflow Accounts Styles */
.cashflowAccountsWrapper{
	width: 100%;
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	float: left; 
	margin-right: 10px; 
	height:200px; 
	overflow-y:scroll;
}
.cashflowAccountsWrapper div.ui-state-disabled
{
	padding:0; 
	height:auto; 
	border:none
}
.cashflowAccountsWrapper div.ui-state-default
{
	margin:0; 
	padding:10px 5px; 
	cursor:pointer; 
	position:relative; 
	overflow:hidden;
	background: none; 
	border:none; 
	border-bottom:1px solid #ccc; 
	color: #000 !important;
}
.cashflowAccountsWrapper div.ui-state-default > span:nth-child(2)
{	display: inline-block;
	float: left; 
	width: 70%;
}
/*  Cashflow Accounts Styles */
#desktopContainer .ui-widget-header .portlet-title{position: relative !important;}
.blockHead{font-size:17px; color:#303030; margin: 10px 0;}
.blockContent{border:1px solid #ddd; background:#eee; padding:0;}
.blockRow{border-bottom:1px solid #ddd; padding:8px 10px;}
.blockContent .blockRow:last-child{border-bottom:none}
.blockContent .blockRow span{font-size:13px;display:inline-block; word-wrap:break-word;vertical-align: top;}
.sectionLabel{width:100px;}
.blockContent .blockRow span.sectionLabel, .summaryBlock span.sectionLabel, .labelCls{color:#6a6969}
.blockContent .blockRow span.sectionLabel + span, .summaryBlock span.sectionLabel + span, .valueCls{color:#303030}
.inlineBlock span:nth-child(2){ width:60%;}
.hostWireTransfer .sectionLabel, .label150 .sectionLabel{width:180px;}
.label120 .sectionLabel{width:120px;}
.label130 .sectionLabel{width:130px;}
.label140 .sectionLabel{width:140px;}
#wiresTransferVerificationForID .sectionLabel{width:120px;}
#intermediaryBanksDivID .sectionLabel{width:170px; margin-right:5px}
.SaveTemplate, .leftPane{width: 28% !important; float: left; border:1px solid #ddd; margin:10px 20px 0 0 !important; text-align:left;}
.leftPaneInnerBox{padding:15px 10px; position:relative; overflow:hidden}
.leftPaneInnerBox div{width:100%}
/* .SaveTemplate .header, .leftPane .header, .leftPaneInnerWrapper .header, .paneWrapper .header{
	background: url("../grafx/paneBg.png") repeat; 
	color: #fff; 
	padding: 4px !important;
	background-size:100% 100%;
} */
.confirmPageDetails{width: 68%; float: left; margin: 10px 0 0; border:1px solid #ddd; padding: 10px;}
.rightPane{width: 68%; float: left; margin: 20px 0 0;}
.blockWrapper{width: 100%; text-align: left}
.confirmationDetails, .confirmationDetails span{font-weight: normal !important; font-size: 17px !important;}
.inlineBlock{width:49%; display:inline-block; border-bottom:none}
.btn-row{margin: 10px 0 5px; text-align: center; float: left; width: 100%}
.mltiCurrenceyMessage, .summeryBlockMessage{margin: 10px 0 5px; text-align: center;}
.pending{background:#d08005; color:#fff}
.completed{background: #3FA83F; color:#fff}
.failed{background:#AD455A; color:#fff}
.pending span, .completed span, .failed span{color:#fff !important}
.leftPaneWrapper{float: left; width: 29%; margin:0 0 5px;}
.leftPaneInnerWrapper, .paneWrapper{width: 90% !important; float: left; border:1px solid #ddd; margin:10px 20px 0 0 !important; text-align:left;}
.paneWrapper{width:auto !important; position:relative; overflow:hidden; float: none !important; margin:0 !important}
.paneInnerWrapper{width:100%}
.paneContentWrapper{padding:10px 4px;}
.rightPaneWrapper{float: left; margin: 10px 0 0; width: 70%;}
.w71{width: 71% !important;}
#TotalSection, .totalAmountWrapper.leftPaneInnerWrapper{background: #f2f2f2; padding:20px 0; text-align:center; font-size:18px;}
.estimatedAmountMessage, .totalAmountWrapper{text-align: center; width: 100%; margin: 15px 0 0; float: left;}
.transactionHeading{font-size: 18px !important; border-bottom: 2px solid #b0b0b0; font-weight: normal !important; padding: 0 0 8px !important;}
.templateConfirmationWrapper{margin:10px 0 0;}
.templateConfirmationWrapper .confirmationDetails{font-weight:normal;}
.formatCombinedAccountColumn {
	float: left;
    line-height: 30px;
    padding: 0 10px 0 0;
}

.formatCombinedAccountColumn span {
	padding: 0 1px !important;
	margin-right: 2px !important;
} 

.nameTitle, .tableData td.nameTitle{font-size:18px; cursor:pointer}
.payeeDetailsWrapper td.nameTitle{cursor:auto;}
.nameSubTitle{font-size:14px !important;}
.wireForm.tableData span, .wireForm.tableData td, .wireForm.tableData th, .wireForm.tableData span{padding:3px}
.formTable.tableData td, .formTable.tableData th{padding:3px}
.formTablePadding5.tableData td, .formTablePadding5.tableData th{padding:5px 3px;}
.formTablePadding10.tableData td, .formTablePadding10.tableData th{padding:5px 10px;}
#templateSaveAsID .tableData td, #templateSaveAsID  .tableData th{padding:3px}
.bookWireAlert{margin:10px 0; text-align:left}
.creditAccountPayeeSelecor input{width:85% !important}
.toggleClick{cursor: pointer; text-align: left;}
.confirmationDetailsWrapper{float:left; width:100%; margin:0 0 20px}
#confirmDiv, #verifyDiv, #achBatchInputDiv, #inputDiv, .addACHEntry{position:relative; overflow:hidden}
.paneWrapper.marginTop20{margin:20px 0 0 !important}
.leftPaneLoadPanel input{width:90% !important;}
.inputBlockSection, .inputBlockSection span.columndata, .inputBlockSection span.sectionsubhead{width:100%; display:inline-block;}
.inputBlockSection input, .inputBlockSection select{width:90%}
#AddEditACHBatchDateId{width:150px;}
.addACHEntry{padding:10px}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{opacity:0.5 !important; filter:alpha(opacity=50) !important}
.ui-state-disabled:focus, .ui-widget-content .ui-state-disabled:focus, .ui-widget-header .ui-state-disabled:focus{outline:0;}
.totalAmountRow{background: #eee;}
.totalAmountRow td{padding:10px 3px;}
.entryFormInputFieldWrapper input, .entryFormInputFieldWrapper .ui-selectmenu{float: left;}
.inlineSection{display:inline-block;}
.summaryBlock{position:relative; overflow:hidden}
.summaryBlock .labelValue{width:60%; font-weight:500; word-wrap:break-word; }
.leftPaneWrapper .summaryBlock .labelValue{width:57%;}
.deletePayee .leftPaneWrapper, .viewPayee .leftPaneWrapper, .viewDeletePopup .leftPaneWrapper{display:none}
.deletePayee .confirmPageDetails, .viewPayee .confirmPageDetails, .viewDeletePopup .rightPaneWrapper.w71{width:98% !important; margin:0; border:none}
.viewDeletePopup .rightPaneWrapper.w71{width:100% !important;}
.deletePayee .payeViewDeleteInfo, .viewPayee .payeViewDeleteInfo, .viewDeletePopup .payeViewDeleteInfo{display:block !important}
.viewDeletePopup .paneWrapper{border:none  !important;}
.hideMe { display:none; }
.collapseArrow .sapUiIconCls{position: relative; top: 4px;}
.borderNone{border-width:0 !important;}
#convertedAmountHolder.convertedAmountHolderCls span{ padding:1ex;}
.removeAllLinkAdmin{cursor: pointer; display: inline-block; float: right; margin-right: 20px; position: relative; top: 50px; z-index: 10;}
.permissionMenuWrapper a{padding:2px 10px;}
.headerTitle{font-size:18px; font-weight: normal; margin: 0 0 10px; color:#2e6e9e; width: auto !important;}
.permissionMenuWrapper a, .anchotBtn{padding:2px 10px !important;}
.tableRightBorderClass td{border-right:1px solid #ccc;}
.tableRightBorderClass td:last-child{border-right:none;}
.selectOption option{height:25px}
.approvalCheckDiv{display:inline-block;width:16%; height:40px;}
.administratorViewTable span{margin:0 5px 0 0; padding:2px;}
.permissionsTableSection tr:nth-child(2) td{height:10px;}
.permissionsTableSection tr:nth-child(2) td hr{display:none}
.reportsCriteriaContent{display:inline-block;  margin-left:30px;}
.instructionsDivWrapper{background:#eee; border:1px solid #ccc}
.scrollme {
	height: 100%;
	overflow: auto;
	padding-left: 8px;
}
.sc_question {
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: none;
	padding-bottom: 1px;
}

.sc_question_link {
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
	cursor: pointer;
}

.questionList {
	list-style-image: url(/cb/web/multilang/grafx/sc_bullet_b.gif);
}

.questionListDown {
	list-style-image: url(/cb/web/multilang/grafx/sc_bullet_b_down.gif);
}

.renderFaqLinkBullets a {
	display: list-item;
	list-style: disc;
}
.sessionActivityReportTable table{width: 100%}
.sessionActivityReportTable table tr:first-child{background: #dbdbda; height: 25px;}
.sessionActivityReportTable table tr:first-child td{font-weight: bold;}
.sessionActivityReportTable table tr:nth-child(even){background: #eee;}
.sessionActivityReportTable table tr:nth-child(even) td{border-bottom: 1px solid #c5dbec;}

div[class^="cke_textarea_inline"]  {

        max-height: 180px;

        min-height: 180px;

        border: 1px solid #B6B6B6;

        overflow-y: auto;

}

.addMobileTermsPage {
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #615D62;
	padding: 8px 5px;
}

.addMobileTermsPage h2 {
	text-decoration: underline;
}

.addMobileTermsPage h4 {
	margin-bottom: 20px;
}

.addMobileTermsPage p {
	line-height: 18px;
	text-align: justify;
	margin-bottom: 20px;
}

.approvalDialogHt{max-height: 400px;overflow-y: auto; overflow-x:hidden; }
.approvalDialogHt2{max-height: 550px;overflow-y: auto;overflow-x:hidden;}
.approvalDialogHt390{max-height: 390px;overflow-y: auto;overflow-x:hidden;}
.sessionActivityDialogHt{max-height: 295px;overflow-y: auto; overflow-x:hidden; }
.approvalPermHeight{max-height:225px;overflow-y: auto; overflow-x:hidden; }
.accountPrefHeight{max-height:450px;overflow-y: auto; overflow-x:hidden; }
.setWidthForIE input{
	width:90% !important;
}
.approvalDialogConsumerHt{max-height: 300px;overflow-y: auto; overflow-x:hidden;}

.borderNoneBtnCls{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
}

/*
	Adding margin to the last record in calendar day view
*/
.fc-event-container > div:last-child > div[class^="transactionHistoryDataHolderDiv"] {
	margin-bottom: 20px;
}

.transEditRgtPaneWidth{width:69% !important;}
.tblFixedLayout{table-layout:fixed;}

.removeBorder {border: none !important;}

/* -- password meter -- */
.inputPassword{
	position: relative;
    z-index: 100;
}

.strength_meter{
	position: absolute; 
	height: 30px;
	left: 0px;
	top: -39px;
	width: 99%;
	/* z-index:-1; */
	/* opacity:0.80; */
	border-radius:5px;
	padding-right:13px;
	position: relative;
	height:0;
}

.strength_meter div{
    width:0%;
	height: 30px;
	text-align: right;
	margin-top: 8px;
	color: #000;
	line-height: 43px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding-right: 12px;
	border-radius: 3px;
}
.strength_meter div p{
	color: #2D2C2C;
    font-size: 13px;
    position: relative;
    left: 0px;
    top: -7px;
}

.veryweak{
    background-color: #FFA0A0;
	border-color: #F04040!important;
	width:100%!important;
}

.weak{
	background-color: #FFB78C;
	border-color: #FF853C!important;
	width:100%!important;
}
.medium{
	background-color: #FFEC8B;
	border-color: #FC0!important;
	width:100%!important;
}
.strong{
	background-color: #C3FF88;
	border-color: #8DFF1C!important;
	width:100%!important;
}

.anchorTextGrid {
	color: #065292 !important;
    text-decoration: none !important;
    font-weight:bold;
    cursor:pointer;
}

.reverseDialogWdt{
	width: 97% !important;
}

.positionTop100 {
    top: 100px !important;
}

.passwordChangeContent{
		width:100%; 
		height:100%; 
		background-color:rgba(255, 255, 255, 0.7);
}

.portletMargin5{
	margin: 5px !important;
	text-align: center;
}

.inlineDiv{display:inline-block;}

@media screen and (min-width:0\0) {
	/* IE Fix for flex display */
    .ieDisplayFlex {
    	display: -ms-flexbox;
    	-ms-flex-pack: center;
    }
}

input.combobox, input#wireBatchName {
	width: 89% !important;
}

#singleTransferForm  input.combobox{
	width:70% !important; 
	}

#singleTransferForm #TransferNew .selectBoxHolder, #TransferEdit .selectBoxHolder {
	width:auto !important;
}
.wireReleaseSelectMenu{
	font-size: 12px !important;
	width:30%;
	height:70%;
}
#externalAccountsGrid tr td:nth-child(1) input{
	margin-left:15px;
}
#pendingImagesSummary #gview_accountPendingImagesID .ui-jqgrid-htable #cb_accountPendingImagesID{
	margin-left:-3px;
}
#wiresGridTabs #gridContainer{
	margin-top:0;
}

#achPayeeDetailsDiv .inlineBlock span:nth-child(2){
	width:auto;
}

.blockLabel130 .inlineBlock > span:nth-child(1){
	width:130px;
	text-align:left;
}

a:link{
	text-decoration:none;
}

.addendaSpan{
	display: inline-block;
    padding: 10px;
}

.acctMgmt_historyDialog div.transactionDetailHolderCls, .acctMgmt_searchDialog div.transactionDetailHolderCls, #deleteACHPayeeDialogID div.achPayeeDialogHt{
	max-height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}

.externallDialogHt{
	max-height: 510px;
    overflow-x: hidden;
    overflow-y: auto;
}

#researchWireBankListFormID p{
	background-color: transparent;
}

/*--- fix for the up-down arrow in the select menu dropdown ---*/
#MappingDefinitionOutputFormatNameID-menu span.ui-selectmenu-icon{
	position: absolute !important;
	right: 0 !important;
}

#viewExternalAccountsDialogID #extTransferAccountsGridID_pager, #viewPermAcctGrpDialog #adminPermAcctGrpGrid_pager{
	width: auto !important;
}

#viewExternalAccountsDialogID .ui-jqgrid .ui-jqgrid-pager .ui-pg-div, #viewSummaryByGroupIdDialog .ui-jqgrid .ui-jqgrid-pager .ui-pg-div, #viewPermAcctGrpDialog .ui-jqgrid .ui-jqgrid-pager .ui-pg-div{
	opacity: 0.98;
}

 #viewSummaryByGroupIdDialog .ui-jqgrid .ui-paging-info{
 	margin-right: 20px !important;
 }
 
 #viewACHMultiBatchDetailsDialogID{
 	padding: 0 !important;
 }
 
 #viewACHMultiBatchDetailsDialogID .payeViewDeleteInfo .blockHead{
 	margin-left: 10px;
 }
 
 .batchEntryLeftMargin{
 	margin:10px 0 0 10px;
 }
 
 .sapUiLnk {
  font-family: Ubuntu !important;
}
  