.headerContainer {
    background-color: rgba(0,156,120,1);
    border-bottom: 3px solid rgba(0,156,120,1);
}

.copyrightContainer {
    background-color: rgba(0,156,120,1);
    border-top: 3px solid rgba(0,156,120,1);
}


.corpLoginPageStyle.loginPageBg .headerContainer {
    background-color: #fff;
    border-bottom: 3px solid rgba(0,156,120,1);
}

.corpLoginPageStyle.loginPageBg .copyrightContainer {
    background-color: #fff;
    border-top: 3px solid rgba(0,156,120,1);
}

.dateLocale{
	line-height: 30px;
	color: rgba(0,156,120,1);
}
.copyrightText{
	color: rgba(0,156,120,1);
}


.corpLoginPageStyle {
    background-image: url(/cb/web/grafx/portalSelection/corpBgImg.jpg);
    background-color: rgba(0,156,120,1);
}

.topBarBankLogo {
    background-image: url(../grafx/banklogos/csblogo.png);
    background-size: auto 96%;
    background-position: 8px 2% ;
    min-width: 250px;
}

/*
.corpLoginPageStyle, .consLoginPageStyle{
	background: #e1e1e1;
}
*/