body > * { 
	/* font-family: arial;  */
	color: #fff; 
	margin: 0;	
	padding: 0; 
	overflow: hidden;
}

h1 {
	color: #686866;
    /* font-family: arial; */
    font-weight: bold;
}

hr {
	border: 0;
	border-top: 1px solid #B5B5B3;
	width: 80%;
}

a {
	border: 2px solid #808080;
    border-radius: 5px;
    color: #333399;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.masterDiv { 
	width: 100%; 
	overflow: hidden; 
}

.headerDiv { 
	background-color: #336A94; 
	width: 100%; 
}

.copyrightDiv {
	position: fixed; 
	bottom: 0; 
	background: #336A94; 
	width: 100%; 
	font-size: 11px; 
	/* font-family: arial; */
	text-align: center;
	height: 40px;
}

.copyrightDiv span {
	float: left;
    padding-top: 7px;
    width: 100%;
}

.sapJspNsGoldBar {
	background:#F0AB00; 
	height: 4px;
}

.centerDivCls {
    height: 90%;
    position: absolute;
    width: 100%;
}

.businessBankingCls, .consumerBankingCls {
	width: 49.8%;
	float: left;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}

.businessBankingCls span, .consumerBankingCls span {
    float: left;
    height: 100%;
    padding-top: 27%;
    text-align: center;
}

.businessBankingCls {
	background-image: url("../../web/grafx/portalSelection/imgCorp.jpg");
    background-position: -330px -140px;
    background-repeat: no-repeat;
    background-size: auto;
}

.consumerBankingCls {
	background-image: url("../../web/grafx/portalSelection/imgCons.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    float: right;
}

.introTxt {
	color: #3A3A3A;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
}

.selectedAnchor {
	background-image: url("../../web/grafx/portalSelection/anchorBg.png");
	background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.dateComboHolder {
	float: right;
    position: fixed;
    right: 30px;
    text-align: right;
    top: 25px;
    width: 100%;
    font-sizE: 15px;
}