/*
	Styles for main and sub menu bar
*/

.mainMenuBgCls {
	background-image: url("../grafx/toolbar/mainMenuBgBar.png") !important;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.mainMenubarHolderCls {
    display: table !important;
	height: 80px !important;
	margin: 2px auto !important;
	overflow: visible;
	padding: 2px;
	white-space: nowrap;
	z-index: 1 !important;
	position: relative !important;
}

.mainMenuBtnBarcls {
	border: medium none !important;
	color: #FFFFFF;
	list-style: none;
	margin: 0;
	padding: 0;
	display: table-row;
	white-space: nowrap;
}

.menuHoverCls {
	background-color: #aeaeae;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #989797;
}

.mainMenuBtnBarcls li:hover > div.submenuHolderBgCls {
	visibility: visible;
	
	/* max-height: 500px;
	
	transition: max-height .8s;
	-webkit-transition: max-height .8s;
	-moz-transition: max-height .8s;
	-o-transition: max-height .8s;	 */
}

.submenuHolderBgCls li {
	/* height: auto !important; */		
}

.mainMenuBtnBarcls li > div.submenuHolderBgCls.hideSubmenuHolder {
	visibility: hidden;
	max-height: 0;
	/* transition: max-height .3s, visibility .1s;
	
	-webkit-transition: max-height .3s, visibility .1s;
	-moz-transition: max-height .3s, visibility .1s;
	-o-transition: max-height .3s, visibility .1s; */
}

.formActionItemHolder span:not(:last-child):not(.removeComma):after {
    content: ",\00a0";
}

/* Submenu bg images */

.submenuBgImgCls {
	position: relative;
	top: 0px;
	float: right;
}

.submenuHelpIcon {
	color: #3C3B3B;
    float: right;
    cursor:pointer;
}