.ffiUiIco-menuItem { 
	display: inline-block; 
	background: url('../grafx/icons/menuIconSprite.png') no-repeat; 
	width: 106px; 
	height: 100px;
	float:right;
	opacity: .2;
}
 
.ffiUiIco-menuItem-acnthistory { background-position: -212px -0px }
.ffiUiIco-menuItem-consolidatedbal { background-position: -318px -112px }
.ffiUiIco-menuItem-acntbal { background-position: -106px -0px }
.ffiUiIco-menuItem-fileupload { background-position: -106px -213px }
.ffiUiIco-menuItem-cashcon { background-position: -106px -112px }
.ffiUiIco-menuItem-pospay { background-position: -424px -213px }
.ffiUiIco-menuItem-controlleddisburse { background-position: -424px -112px }
.ffiUiIco-menuItem-lockbox { background-position: -318px -213px }
.ffiUiIco-menuItem-transfer { background-position: -212px -327px }
.ffiUiIco-menuItem-wiretransfer { background-position: -424px -327px }
.ffiUiIco-menuItem-ach { background-position: -0px -0px; }
.ffiUiIco-menuItem-childsupport { background-position: -212px -112px }
.ffiUiIco-menuItem-tax { background-position: -106px -327px }
.ffiUiIco-menuItem-billpay { background-position: -0px -112px }
.ffiUiIco-menuItem-stops { background-position: -0px -327px }
.ffiUiIco-menuItem-adminsummary { background-position: -424px -0px }
.ffiUiIco-menuItem-admincompany { background-position: -318px -0px }
.ffiUiIco-menuItem-division { background-position: -0px -213px }
.ffiUiIco-menuItem-groups { background-position: -212px -213px }
.ffiUiIco-menuItem-users { background-position: -318px -327px }
.ffiUiIco-menuItem-audit { background-position: -0px -438px }
.ffiUiIco-menuItem-userPref { background-position: -106px -438px }
.ffiUiIco-menuItem-tools { background-position: -212px -438px }
.ffiUiIco-menuItem-apprWorkflow { background-position: -318px -438px }
.ffiUiIco-menuItem-apprGroups { background-position: -424px -438px }
.ffiUiIco-menuItem-pendingApproval { background-position: -0px -537px }
.ffiUiIco-menuItem-transSearch { background-position: -106px -537px }
.ffiUiIco-menuItem-imageSearch { background-position: -212px -537px }
.ffiUiIco-menuItem-onlineStmt { background-position: -318px -537px }
.ffiUiIco-menuItem-services { background-position: -424px -537px }
.ffiUiIco-menuItem-faq { background-position: -0px -641px }
.ffiUiIco-menuItem-alerts { background-position: -106px -640px }
.ffiUiIco-menuItem-msgs { background-position: -212px -640px }
.ffiUiIco-menuItem-manageUsers { background-position: -318px -640px }
.ffiUiIco-menuItem-xtra { background-position: -424px -636px }
.ffiUiIco-menuItem-onlineStatement { background-position: -424px -0px }
.ffiUiIco-menuItem-report_accounts { background-position: 2px -744px }
.ffiUiIco-menuItem-report_cashflow { background-position: -107px -744px }