/*
	Classes to apply custom icons to the UI
*/

.ffiUiMiscIco { 
	display: inline-block;
	background-image: url(../grafx/icons/miscIconSprite.png);
}

/* .ffiUiIco-misc-saplogo { background-position: -5px -0px; width: 166px; height: 33px; } */
.ffiUiIco-misc-infomsgicon { background-position: -5px -38px; width: 34px !important; height: 33px; margin-right: 6px; vertical-align: top; }
.ffiUiIco-misc-en-US-flag { background-position: -44px -38px; width: 32px; height: 32px; }
.ffiUiIco-misc-zh-CN-flag { background-position: -81px -38px; width: 32px; height: 32px; }
.ffiUiIco-misc-blank-copy-10 { background-position: -118px -38px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-2-copy { background-position: -118px -74px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-2 { background-position: -44px -75px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-3-copy { background-position: -80px -75px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-3 { background-position: -5px -76px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-4-copy { background-position: -116px -110px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-4 { background-position: -41px -111px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-5-copy { background-position: -77px -111px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-5 { background-position: -5px -112px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-6-copy { background-position: -113px -146px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-6 { background-position: -41px -147px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-7-copy { background-position: -77px -147px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-7 { background-position: -5px -148px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-8-copy { background-position: -113px -182px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-8 { background-position: -41px -183px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-9-copy { background-position: -77px -183px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-9 { background-position: -5px -184px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy-copy { background-position: -113px -218px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank-copy { background-position: -41px -219px; width: 31px; height: 31px; }
.ffiUiIco-misc-blank { background-position: -77px -219px; width: 31px; height: 31px; }
.ffiUiIco-misc-lockicon { background-position: -5px -220px; width: 31px; height: 35px; margin-top: 6px; }
.ffiUiIco-misc-usericon { background-position: -104px -249px; width: 31px; height: 35px; }
.ffiUiIco-misc-multilinerowdataindicatorico { background-position: -41px -255px; height: 21px; margin-bottom: -2px; margin-right: 5px; vertical-align: bottom; width: 21px; }
.ffiUiIco-misc-submitbtnicon { background-position: -67px -255px; width: 20px; height: 25px; margin-top:10px; }
.ffiUiIco-misc-icon-19 { background-position: -5px -260px; width: 19px; height: 19px; }