/*
	Mail / Alert Notification bar styles...
*/
.notificationDisplayHolderCls, .alertDisplayHolderCls {
	display: none;
	background: #fff;
	border: 1px solid;
	font-size: 15px;
	cursor: default;
	bottom: 0px;
	height: auto;
	position: fixed;
	right: 0px;
	width: 400px;
	font-weight: normal;
	
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

.alertDisplayHolderCls  {
	display: block !important;
}

.notificationDisplayHolderCls .notificationWinCloseBtnCls {
	border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    float: right !important;
    margin: 5px !important;
    padding: 0 !important;
} 

.notificationDisplayHolderCls .titleBarCls {
	border-bottom: 3px solid #FFFFFF;
    float: left;
    height: 30px;
    width: 100%;
}

.notificationDisplayHolderCls .titleBarCls {
	float: left;
	font-weight: normal;
	background: #336a94;
	color: #fff;
}

.notificationDisplayHolderCls .titleCls {
	padding: 5px;
	position: absolute;
}

.notificationDisplayHolderCls .iconHolderCls {
	float: left;
    padding-top: 15px;
}

.notificationDisplayHolderCls .msgDetailsHolderCls {
	line-height: 20px;
	padding-top: 6px;
	width: 90%;
	margin: 0 auto;
	height: 110px;
}

.notificationDisplayHolderCls .msgDetailLblTitle {
	font-weight: normal;
}

.notificationDetailBlock {
	width: 100%;
	color: #6d6c6c;
}

.notificationDisplayHolderCls .msgDetailLblDesc {
	font-weight: normal;
	display: inline;
}

.turnOffNotificationCls {
	display: inline;
    float: right !important;
    font-size: 11px;
    line-height: 30px;
}

/*
Resetting titles style properties
*/

.notificationBarStyles {
	font-weight: normal;
}

.notificationBarStyles .pane-title {
	font-size: 17px;
	line-height: 28px;
}

.notificationBarStyles .pane-header {
	height: 28px;
	border-radius: 0;
	margin: 0;
}

.notificationBarStyles .ui-widget-content {
	border-radius: 0;
}

.notificationBarStyles .pane-header .headerctls {
	margin: 5px 10px;
}

.notificationActionbarCls {
	margin-top: 10px;
	width: auto;
	background: #336a94;
	color: #fff;
	height: 30px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.notificationActionbarCls span {
	padding: 6px;
}

.notificationCloseBtnCls {
	margin-top: 5px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}

/*
	quick message inside notification pane
*/

.quickMessageAction {
	float: left;
	width: 100%;
}

tr.quickMessageStyle td {
	border-bottom:1pt solid #eee;
	/* height: 50px; */
	vertical-align: middle;
}

tr.quickMessageStyle span[class~="ui-icon-mail-open"], tr.quickMessageStyle span[class~="ui-icon-mail-closed"] {
	float: left;
	margin: 0 2px 0 0;
}

.quickMessageAction div[class~="ui-icon"] {
	float: left;
	margin: 2px 2px 0 0;
	cursor: pointer;
}

tr.quickMessageStyle td:not(.unreadMessage) a {
	text-decoration: none !important;
	color: #404040 !important;
	font-family: arial;
	font-weight: normal;
}

 .unreadMessage a, .unreadMessage span {
	text-decoration: none !important;
	color: auto !important;
}

tr.quickMessageStyle #dateField {
	color: #656565;
	font-size: 13px;
}

/* Message reply and delete actions pop hover styles */
tr.quickMessageStyle td{position: relative; overflow: hidden; display: block;}

.messageActionsWrapper {
	background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 8px;
    bottom: 5px;
    display: none;
    font-size: 15px;
    font-weight: normal !important;
    margin-right: 5px;
    opacity: 0.9;
    padding: 2px 8px;
    position: absolute;
    right: 0;
}

.messageActionsWrapper .sapUiIconCls {
	padding-right: 5px !important;
}

.messageActionsWrapper a:first-child { 
	margin: 0; 
	display: none;
}

tr.quickMessageStyle td .messageActionsWrapper a{display: inline-block; color: inherit !important;}

.messageActionsWrapper a.replyMessage{margin: 0 10px 0 0;}
/* Message reply and delete actions pop hover styles */


.newNotificationCounterCls {
	background: -moz-linear-gradient(center top , #EDEDED 0%, #FFFFFF 100%) repeat fixed 30% 70% rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 1px 1px 1px #555555;
    float: right;
    font-size: 14px;
    margin: 0 4px;
    padding: 1px 14px;
}

#alertSmallPanelPortlet_pane, #alertSmallPanelPortlet {
	overflow-x: hidden !important;
}

.headerTextColor {
	color: #000 !important;
}

.nonHeaderItem {
	font-size: 13px;
	line-height: 25px;
	text-decoration: none;
}

.approvalActionbarSpan {
	padding: 0 !important;
	margin-top: 5px;
	cursor: pointer;	
}