@CHARSET "ISO-8859-1";

/**
 *	PRINT Stylesheet
 * 
 *	First 'neutralize' all the positioning/overflow CSS added by Layout
 *	Then change or add cosmetic styles (borders, padding) for printing
 *
 *	MUST use "!important" for all size, position, margin & overflow rules,
 *	so these will 'override' styles applied to the elements by Layout
 */

html, body {
	/* NEUTRALIZE 'layout container' styles */
	width:		auto		!important;
	height:		auto		!important;
	overflow:	visible 	!important;
	overflow-x:	visible 	!important;
	overflow-y:	visible 	!important;
}

#tabbuttons{
	position:relative;
	width:auto;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	-moz-transform: scale(0.90, 1);
    -webkit-transform: scale(0.90, 1);
}

/* #subList{
	overflow:visible;
}

#subList div{
	float:none;
	width:auto;
	position:relative;
} */


/* body{
	zoom : 0.80;
} */

/*Moved to home.css */
/* .column{
	float: none;
}
 */

.ui-selectmenu-menu{
	display: none;
}
 
.ui-widget-content{
	position:	relative	!important;
	top:		auto		!important;
	bottom:		auto		!important;
	left:		auto		!important;
	right:		auto		!important; 
	width:		auto		!important;
	height:		auto		!important;
	overflow:	visible		!important;
}

.ui-jqgrid-hdiv,
.ui-jqgrid-bdiv,
.ui-jqgrid-pager,
.ui-jqgrid-titlebar{
	overflow:visible !important;
	width: auto !important;
	height:auto;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	-moz-transform: scale(0.90, 1);
    -webkit-transform: scale(0.90, 1);
   	zoom : 0.80;
    -ms-transform-origin: 0px 0px;
	-ms-transform: scale(0.80, 1);    
}

.ui-jqgrid-hdiv .ui-jqgrid-hbox{
	float:none;
}

.portlet{
	width: auto;
}

.portlet-content{
	overflow-x:visible !important;
	width: auto !important;	         
}
.ui-layout-pane ,
.ui-layout-resizer ,
.ui-layout-toggler {
	/* NEUTRALIZE 'layout element' styles */
	display:	none		!important; /* hide ALL by default */
	position:	relative	!important;
	top:		auto		!important;
	bottom:		auto		!important;
	left:		auto		!important;
	right:		auto		!important;
	width:		auto		!important;
	height:		auto		!important;
	overflow:	visible		!important;
}
/* SHOW ONLY the panes you want */
.ui-layout-pane-north ,
.ui-layout-pane-south ,
.ui-layout-pane-west ,
.ui-layout-pane-center{
	display:	block		!important;		
}

#outer-north{
	float:none !important;
	/* position:relative !important;
	width:100% !important;	
	height:auto !important; 
	display: block	!important; 
	display: none	!important;*/
}
#subList{
	width:100% !important;
}