/*
	SAP UI icons implementation
*/
@font-face {
	font-family: SAP-icons;
	src: url('../fonts/SAP-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'SAP-icons';
	font-style: normal;
	speak: none;
	font-weight: normal;
	color: auto !important;
	-webkit-font-smoothing: antialiased;
}

.sapUiIconCls {
	font-family: SAP-icons;
	padding-right: 10px;
	color: auto !important;
	/* font-size: 13px !important; */
}

.sapIconBtnTxt {
	padding: 0.5em 0.4em !important;	
}

/*
	Icons classes for easy adding
*/

.icon-accidental-leave:before {
	content: "\e000";
}

.icon-account:before {
	content: "\e001";
}

.icon-wrench:before {
	content: "\e002";
}

.icon-windows-doors:before {
	content: "\e003";
}

.icon-washing-machine:before {
	content: "\e004";
}

.icon-visits:before {
	content: "\e005";
}

.icon-video:before {
	content: "\e006";
}

.icon-travel-expense:before {
	content: "\e007";
}

.icon-temperature:before {
	content: "\e008";
}

.icon-task:before {
	content: "\e009";
}

.icon-synchronize:before {
	content: "\e00a";
}

.icon-survey:before {
	content: "\e00b";
}

.icon-settings:before {
	content: "\e00c";
}

.icon-search:before {
	content: "\e00d";
}

.icon-sales-document:before {
	content: "\e00e";
}

.icon-retail-store:before {
	content: "\e00f";
}

.icon-refresh:before {
	content: "\e010";
}

.icon-product:before {
	content: "\e001";
}

.icon-present:before {
	content: "\e012";
}

.icon-ppt-attachment:before {
	content: "\e013";
}

.icon-pool:before {
	content: "\e014";
}

.icon-pie-chart:before {
	content: "\e015";
}

.icon-picture:before {
	content: "\e016";
}

.icon-photo-voltaic:before {
	content: "\e017";
}

.icon-phone:before {
	content: "\e018";
}

.icon-pending:before {
	content: "\e019";
}

.icon-pdf-attachment:before {
	content: "\e000";
}
.icon-past:before {
	content: "\e000";
}
.icon-outgoing-call:before {
	content: "\e000";
}
.icon-opportunity:before {
	content: "\e000";
}
.icon-opportunities:before {
	content: "\e000";
}
.icon-notes:before {
	content: "\e01f";
}
.icon-money-bills:before {
	content: "\e020";
}
.icon-map:before {
	content: "\e000";
}
.icon-log:before {
	content: "\e000";
}
.icon-line-charts:before {
	content: "\e000";
}
.icon-lightbulb:before {
	content: "\e000";
}
.icon-leads:before {
	content: "\e000";
}
.icon-lead:before {
	content: "\e000";
}
.icon-laptop:before {
	content: "\e000";
}
.icon-kpi-managing-my-area:before {
	content: "\e000";
}
.icon-kpi-corporate-performance:before {
	content: "\e000";
}
.icon-incoming-call:before {
	content: "\e000";
}
.icon-inbox:before {
	content: "\e000";
}
.icon-horizontal-bar-chart:before {
	content: "\e049";
}
.icon-history:before {
	content: "\e02d";
}
.icon-heating-cooling:before {
	content: "\e000";
}
.icon-gantt-bars:before {
	content: "\e000";
}
.icon-future:before {
	content: "\e030";
}
.icon-fridge:before {
	content: "\e000";
}
.icon-fallback:before {
	content: "\e000";
}
.icon-expense-report:before {
	content: "\e000";
}
.icon-excel-attachment:before {
	content: "\e000";
}
.icon-energy-saving-lightbulb:before {
	content: "\e000";
}
.icon-employee:before {
	content: "\e036";
}
.icon-email:before {
	content: "\e037";
}
.icon-edit:before {
	content: "\e038";
}
.icon-duplicate:before {
	content: "\e039";
}
.icon-download:before {
	content: "\e03a";
}
.icon-doc-attachment:before {
	content: "\e000";
}
.icon-dishwasher:before {
	content: "\e000";
}
.icon-delete:before {
	content: "\e03d";
}
.icon-decline:before {
	content: "\e03e";
}
.icon-complete:before {
	content: "\e000";
}
.icon-competitor:before {
	content: "\e000";
}
.icon-collections-management:before {
	content: "\e041";
}
.icon-chalkboard:before {
	content: "\e000";
}
.icon-cart:before {
	content: "\e000";
}
.icon-card:before {
	content: "\e000";
}
.icon-camera:before {
	content: "\e000";
}
.icon-calendar:before {
	content: "\e046";
}
.icon-begin:before {
	content: "\e000";
}
.icon-basket:before {
	content: "\e000";
}
.icon-bar-chart:before {
	content: "\e049";
}
.icon-attachment:before {
	content: "\e000";
}
.icon-arrow-top:before {
	content: "\e000";
}
.icon-arrow-right:before {
	content: "\e04c";
}
.icon-arrow-left:before {
	content: "\e000";
}
.icon-arrow-bottom:before {
	content: "\e04e";
}
.icon-approvals:before {
	content: "\e000";
}
.icon-appointment:before {
	content: "\e000";
}
.icon-alphabetical-order:before {
	content: "\e000";
}
.icon-along-stacked-chart:before {
	content: "\e000";
}
.icon-alert:before {
	content: "\e053";
}
.icon-addresses:before {
	content: "\e054";
}
.icon-address-book:before {
	content: "\e000";
}
.icon-add-filter:before {
	content: "\e000";
}
.icon-add-favorite:before {
	content: "\e000";
}
.icon-add:before {
	content: "\e058";
}
.icon-activities:before {
	content: "\e000";
}
.icon-action:before {
	content: "\e000";
}
.icon-accept:before {
	content: "\e05b";
}
.icon-hint:before {
	content: "\e05c";
}
.icon-group:before {
	content: "\e000";
}
.icon-check-availability:before {
	content: "\e000";
}
.icon-weather-proofing:before {
	content: "\e000";
}
.icon-payment-approval:before {
	content: "\e060";
}
.icon-batch-payments:before {
	content: "\e000";
}
.icon-bed:before {
	content: "\e000";
}
.icon-arobase:before {
	content: "\e000";
}
.icon-family-care:before {
	content: "\e064";
}
.icon-favorite:before {
	content: "\e000";
}
.icon-navigation-right-arrow:before {
	content: "\e066";
}
.icon-navigation-left-arrow:before {
	content: "\e000";
}
.icon-e-care:before {
	content: "\e000";
}
.icon-less:before {
	content: "\e000";
}
.icon-lateness:before {
	content: "\e000";
}
.icon-lab:before {
	content: "\e000";
}
.icon-internet-browser:before {
	content: "\e000";
}
.icon-instance:before {
	content: "\e000";
}
.icon-inspection:before {
	content: "\e000";
}
.icon-image-viewer:before {
	content: "\e000";
}
.icon-home:before {
	content: "\e070";
}
.icon-grid:before {
	content: "\e000";
}
.icon-goalseek:before {
	content: "\e000";
}
.icon-general-leave-request:before {
	content: "\e000";
}
.icon-create-leave-request:before {
	content: "\e000";
}
.icon-flight:before {
	content: "\e000";
}
.icon-filter:before {
	content: "\e000";
}
.icon-favorite-list:before {
	content: "\e000";
}
.icon-factory:before {
	content: "\e000";
}
.icon-endoscopy:before {
	content: "\e000";
}
.icon-employee-pane:before {
	content: "\e07a";
}
.icon-employee-approvals:before {
	content: "\e07b";
}
.icon-email-read:before {
	content: "\e07c";
}
.icon-electrocardiogram:before {
	content: "\e000";
}
.icon-documents:before {
	content: "\e172";
}
.icon-decision:before {
	content: "\e000";
}
.icon-database:before {
	content: "\e000";
}
.icon-customer-history:before {
	content: "\e000";
}
.icon-customer:before {
	content: "\e000";
}
.icon-credit-card:before {
	content: "\e083";
}
.icon-create-entry-time:before {
	content: "\e000";
}
.icon-contacts:before {
	content: "\e000";
}
.icon-compare:before {
	content: "\e000";
}
.icon-clinical-order:before {
	content: "\e000";
}
.icon-chain-link:before {
	content: "\e000";
}
.icon-pull-down:before {
	content: "\e000";
}
.icon-cargo-train:before {
	content: "\e000";
}
.icon-car-rental:before {
	content: "\e000";
}
.icon-business-card:before {
	content: "\e000";
}
.icon-bar-code:before {
	content: "\e000";
}
.icon-folder-blank:before {
	content: "\e000";
}
.icon-passenger-train:before {
	content: "\e000";
}
.icon-question-mark:before {
	content: "\e000";
}
.icon-world:before {
	content: "\e000";
}
.icon-iphone:before {
	content: "\e000";
}
.icon-ipad:before {
	content: "\e000";
}
.icon-warning:before {
	content: "\e094";
}
.icon-sort:before {
	content: "\e095";
}
.icon-course-book:before {
	content: "\e000";
}
.icon-course-program:before {
	content: "\e000";
}
.icon-add-coursebook:before {
	content: "\e000";
}
.icon-print:before {
	content: "\e099";
}
.icon-save:before {
	content: "\e09a";
}
.icon-play:before {
	content: "\e000";
}
.icon-pause:before {
	content: "\e000";
}
.icon-record:before {
	content: "\e000";
}
.icon-response:before {
	content: "\e000";
}
.icon-pushpin-on:before {
	content: "\e000";
}
.icon-pushpin-off:before {
	content: "\e000";
}
.icon-unfavorite:before {
	content: "\e000";
}
.icon-learning-assistant:before {
	content: "\e000";
}
.icon-timesheet:before {
	content: "\e000";
}
.icon-time-entry-request:before {
	content: "\e000";
}
.icon-list:before {
	content: "\e000";
}
.icon-action-settings:before {
	content: "\e0a6";
}
.icon-share:before {
	content: "\e000";
}
.icon-feed:before {
	content: "\e000";
}
.icon-role:before {
	content: "\e000";
}
.icon-flag:before {
	content: "\e000";
}
.icon-post:before {
	content: "\e000";
}
.icon-inspect:before {
	content: "\e0ac";
}
.icon-inspect-down:before {
	content: "\e000";
}
.icon-appointment-2:before {
	content: "\e000";
}
.icon-target-group:before {
	content: "\e000";
}
.icon-marketing-campaign:before {
	content: "\e000";
}
.icon-notification:before {
	content: "\e0b1";
}
.icon-comment:before {
	content: "\e000";
}
.icon-shipping-status:before {
	content: "\e000";
}
.icon-collaborate:before {
	content: "\e000";
}
.icon-shortcut:before {
	content: "\e000";
}
.icon-lead-outdated:before {
	content: "\e000";
}
.icon-tools-opportunity:before {
	content: "\e000";
}
.icon-permission:before {
	content: "\e0b8";
}
.icon-supplier:before {
	content: "\e000";
}
.icon-table-view:before {
	content: "\e000";
}
.icon-table-chart:before {
	content: "\e0bb";
}
.icon-switch-views:before {
	content: "\e000";
}
.icon-e-learning:before {
	content: "\e000";
}
.icon-manager:before {
	content: "\e0be";
}
.icon-switch-classes:before {
	content: "\e000";
}
.icon-simple-payment:before {
	content: "\e0c0";
}
.icon-signature:before {
	content: "\e000";
}
.icon-sales-order-item:before {
	content: "\e000";
}
.icon-sales-order:before {
	content: "\e000";
}
.icon-request:before {
	content: "\e000";
}
.icon-receipt:before {
	content: "\e000";
}
.icon-puzzle:before {
	content: "\e000";
}
.icon-process:before {
	content: "\e000";
}
.icon-private:before {
	content: "\e000";
}
.icon-popup-window:before {
	content: "\e000";
}
.icon-person-placeholder:before {
	content: "\e0ca";
}
.icon-per-diem:before {
	content: "\e000";
}
.icon-paper-plane:before {
	content: "\e000";
}
.icon-paid-leave:before {
	content: "\e000";
}
.icon-pdf-reader:before {
	content: "\e000";
}
.icon-overview-chart:before {
	content: "\e000";
}
.icon-overlay:before {
	content: "\e000";
}
.icon-org-chart:before {
	content: "\e0d1";
}
.icon-number-sign:before {
	content: "\e000";
}
.icon-notification-2:before {
	content: "\e0d3";
}
.icon-my-sales-order:before {
	content: "\e0d4";
}
.icon-meal:before {
	content: "\e000";
}
.icon-loan:before {
	content: "\e000";
}
.icon-order-status:before {
	content: "\e000";
}
.icon-customer-order-entry:before {
	content: "\e0d8";
}
.icon-performance:before {
	content: "\e000";
}
.icon-menu:before {
	content: "\e0da";
}
.icon-employee-lookup:before {
	content: "\e000";
}
.icon-education:before {
	content: "\e000";
}
.icon-customer-briefing:before {
	content: "\e000";
}
.icon-customer-and-contacts:before {
	content: "\e000";
}
.icon-my-view:before {
	content: "\e0df";
}
.icon-accelerated:before {
	content: "\e000";
}
.icon-to-be-reviewed:before {
	content: "\e000";
}
.icon-warning2:before {
	content: "\e000";
}
.icon-feeder-arrow:before {
	content: "\e0e3";
}
.icon-quality-issue:before {
	content: "\e000";
}
.icon-workflow-tasks:before {
	content: "\e000";
}
.icon-create:before {
	content: "\e0e6";
}
.icon-home-share:before {
	content: "\e0e7";
}
.icon-globe:before {
	content: "\e000";
}
.icon-tags:before {
	content: "\e000";
}
.icon-work-history:before {
	content: "\e000";
}
.icon-x-ray:before {
	content: "\e000";
}
.icon-wounds-doc:before {
	content: "\e000";
}
.icon-web-cam:before {
	content: "\e000";
}
.icon-waiver:before {
	content: "\e0ee";
}
.icon-vertical-bar-chart:before {
	content: "\e000";
}
.icon-upstacked-chart:before {
	content: "\e000";
}
.icon-trip-report:before {
	content: "\e000";
}
.icon-microphone:before {
	content: "\e000";
}
.icon-unpaid-leave:before {
	content: "\e000";
}
.icon-tree:before {
	content: "\e000";
}
.icon-toaster-up:before {
	content: "\e000";
}
.icon-toaster-top:before {
	content: "\e000";
}
.icon-toaster-down:before {
	content: "\e000";
}
.icon-time-account:before {
	content: "\e000";
}
.icon-theater:before {
	content: "\e000";
}
.icon-taxi:before {
	content: "\e000";
}
.icon-subway-train:before {
	content: "\e000";
}
.icon-study-leave:before {
	content: "\e000";
}
.icon-stethoscope:before {
	content: "\e000";
}
.icon-step:before {
	content: "\e000";
}
.icon-sonography:before {
	content: "\e000";
}
.icon-soccor:before {
	content: "\e000";
}
.icon-physical-activity:before {
	content: "\e000";
}
.icon-pharmacy:before {
	content: "\e000";
}
.icon-official-service:before {
	content: "\e000";
}
.icon-offsite-work:before {
	content: "\e000";
}
.icon-nutrition-activity:before {
	content: "\e000";
}
.icon-newspaper:before {
	content: "\e106";
}
.icon-monitor-payments:before {
	content: "\e107";
}
.icon-map-2:before {
	content: "\e000";
}
.icon-machine:before {
	content: "\e000";
}
.icon-mri-scan:before {
	content: "\e000";
}
.icon-end-user-experience-monitoring:before {
	content: "\e000";
}
.icon-unwired:before {
	content: "\e000";
}
.icon-customer-financial-fact-sheet:before {
	content: "\e000";
}
.icon-retail-store-manager:before {
	content: "\e000";
}
.icon-Netweaver-business-client:before {
	content: "\e000";
}
.icon-electronic-medical-record:before {
	content: "\e000";
}
.icon-eam-work-order:before {
	content: "\e000";
}
.icon-customer-view:before {
	content: "\e000";
}
.icon-crm-service-manager:before {
	content: "\e000";
}
.icon-crm-sales:before {
	content: "\e000";
}
.icon-widgets:before {
	content: "\e000";
}
.icon-commission-check:before {
	content: "\e116";
}
.icon-collections-insight:before {
	content: "\e000";
}
.icon-clinical-tast-tracker:before {
	content: "\e000";
}
.icon-citizen-connect:before {
	content: "\e000";
}
.icon-cart-approval:before {
	content: "\e000";
}
.icon-capital-projects:before {
	content: "\e11b";
}
.icon-bo-strategy-management:before {
	content: "\e000";
}
.icon-business-objects-mobile:before {
	content: "\e000";
}
.icon-business-objects-explorer:before {
	content: "\e000";
}
.icon-business-objects-experience:before {
	content: "\e000";
}
.icon-bbyd-dashboard:before {
	content: "\e000";
}
.icon-bbyd-active-sales:before {
	content: "\e000";
}
.icon-business-by-design:before {
	content: "\e000";
}
.icon-business-one:before {
	content: "\e000";
}
.icon-sap-box:before {
	content: "\e124";
}
.icon-manager-insight:before {
	content: "\e000";
}
.icon-accounting-document-verification:before {
	content: "\e000";
}
.icon-hr-approval:before {
	content: "\e000";
}
.icon-idea-wall:before {
	content: "\e000";
}
.icon-Chart-Tree-Map:before {
	content: "\e000";
}
.icon-cart-5:before {
	content: "\e000";
}
.icon-cart-4:before {
	content: "\e000";
}
.icon-wallet:before {
	content: "\e12c";
}
.icon-vehicle-repair:before {
	content: "\e000";
}
.icon-upload:before {
	content: "\e12e";
}
.icon-unlocked:before {
	content: "\e000";
}
.icon-umbrella:before {
	content: "\e000";
}
.icon-travel-request:before {
	content: "\e000";
}
.icon-travel-expense-report:before {
	content: "\e000";
}
.icon-travel-itinerary:before {
	content: "\e000";
}
.icon-time-overtime:before {
	content: "\e000";
}
.icon-thing-type:before {
	content: "\e135";
}
.icon-technical-object:before {
	content: "\e136";
}
.icon-tag:before {
	content: "\e000";
}
.icon-syringe:before {
	content: "\e000";
}
.icon-syntax:before {
	content: "\e000";
}
.icon-suitcase:before {
	content: "\e000";
}
.icon-simulate:before {
	content: "\e13b";
}
.icon-shield:before {
	content: "\e000";
}
.icon-share-2:before {
	content: "\e000";
}
.icon-sales-quote:before {
	content: "\e000";
}
.icon-repost:before {
	content: "\e000";
}
.icon-provision:before {
	content: "\e000";
}
.icon-projector:before {
	content: "\e000";
}
.icon-add-product:before {
	content: "\e142";
}
.icon-pipeline-analysis:before {
	content: "\e000";
}
.icon-add-photo:before {
	content: "\e000";
}
.icon-palette:before {
	content: "\e145";
}
.icon-nurse:before {
	content: "\e000";
}
.icon-sales-notification:before {
	content: "\e000";
}
.icon-mileage:before {
	content: "\e000";
}
.icon-meeting-room:before {
	content: "\e000";
}
.icon-media-forward:before {
	content: "\e000";
}
.icon-media-play:before {
	content: "\e000";
}
.icon-media-pause:before {
	content: "\e000";
}
.icon-media-reverse:before {
	content: "\e000";
}
.icon-media-rewind:before {
	content: "\e000";
}
.icon-measurement-document:before {
	content: "\e000";
}
.icon-measuring-point:before {
	content: "\e000";
}
.icon-measure:before {
	content: "\e000";
}
.icon-map-3:before {
	content: "\e000";
}
.icon-locked:before {
	content: "\e000";
}
.icon-letter:before {
	content: "\e000";
}
.icon-journey-arrive:before {
	content: "\e000";
}
.icon-journey-change:before {
	content: "\e000";
}
.icon-journey-depart:before {
	content: "\e000";
}
.icon-it-system:before {
	content: "\e000";
}
.icon-it-instance:before {
	content: "\e000";
}
.icon-it-host:before {
	content: "\e000";
}
.icon-iphone-2:before {
	content: "\e15b";
}
.icon-ipad-2:before {
	content: "\e000";
}
.icon-inventory:before {
	content: "\e000";
}
.icon-insurance-house:before {
	content: "\e000";
}
.icon-insurance-life:before {
	content: "\e000";
}
.icon-insurance-car:before {
	content: "\e000";
}
.icon-initiative:before {
	content: "\e000";
}
.icon-incident:before {
	content: "\e000";
}
.icon-group-2:before {
	content: "\e000";
}
.icon-goal:before {
	content: "\e000";
}
.icon-functional-location:before {
	content: "\e000";
}
.icon-full-screen:before {
	content: "\e000";
}
.icon-form:before {
	content: "\e000";
}
.icon-fob-watch:before {
	content: "\e000";
}
.icon-blank-tag:before {
	content: "\e000";
}
.icon-family-protection:before {
	content: "\e000";
}
.icon-folder:before {
	content: "\e000";
}
.icon-fax-machine:before {
	content: "\e000";
}
.icon-example:before {
	content: "\e000";
}
.icon-eraser:before {
	content: "\e000";
}
.icon-employee-rejections:before {
	content: "\e000";
}
.icon-drop-down-list:before {
	content: "\e000";
}
.icon-draw-rectangle:before {
	content: "\e000";
}
.icon-document:before {
	content: "\e172";
}
.icon-doctor:before {
	content: "\e000";
}
.icon-discussion-2:before {
	content: "\e000";
}
.icon-discussion:before {
	content: "\e000";
}
.icon-dimension:before {
	content: "\e000";
}
.icon-customer-and-supplier:before {
	content: "\e000";
}
.icon-crop:before {
	content: "\e000";
}
.icon-add-contact:before {
	content: "\e179";
}
.icon-compare-2:before {
	content: "\e000";
}
.icon-color-fill:before {
	content: "\e000";
}
.icon-collision:before {
	content: "\e000";
}
.icon-curriculum:before {
	content: "\e000";
}
.icon-chart-axis:before {
	content: "\e000";
}
.icon-full-stacked-chart:before {
	content: "\e000";
}
.icon-full-stacked-column-chart:before {
	content: "\e000";
}
.icon-vertical-bar-chart-2:before {
	content: "\e000";
}
.icon-horizontal-bar-chart-2:before {
	content: "\e000";
}
.icon-horizontal-stacked-chart:before {
	content: "\e000";
}
.icon-vertical-stacked-chart:before {
	content: "\e000";
}
.icon-choropleth-chart:before {
	content: "\e000";
}
.icon-geographic-bubble-chart:before {
	content: "\e000";
}
.icon-multiple-radar-chart:before {
	content: "\e000";
}
.icon-radar-chart:before {
	content: "\e000";
}
.icon-crossed-line-chart:before {
	content: "\e000";
}
.icon-multiple-line-chart:before {
	content: "\e000";
}
.icon-multiple-bar-chart:before {
	content: "\e000";
}
.icon-line-chart:before {
	content: "\e000";
}
.icon-line-chart-dual-axis:before {
	content: "\e000";
}
.icon-bubble-chart:before {
	content: "\e000";
}
.icon-scatter-chart:before {
	content: "\e000";
}
.icon-multiple-pie-chart:before {
	content: "\e000";
}
.icon-column-chart-dual-axis:before {
	content: "\e000";
}
.icon-tag-cloud-chart:before {
	content: "\e000";
}
.icon-area-chart:before {
	content: "\e000";
}
.icon-cause:before {
	content: "\e000";
}
.icon-cart-3:before {
	content: "\e000";
}
.icon-cart-2:before {
	content: "\e000";
}
.icon-bus-public-transport:before {
	content: "\e000";
}
.icon-burglary:before {
	content: "\e000";
}
.icon-building:before {
	content: "\e000";
}
.icon-border:before {
	content: "\e000";
}
.icon-bookmark:before {
	content: "\e000";
}
.icon-badge:before {
	content: "\e000";
}
.icon-attachment-audio:before {
	content: "\e000";
}
.icon-attachment-video:before {
	content: "\e000";
}
.icon-attachment-html:before {
	content: "\e000";
}
.icon-attachment-photo:before {
	content: "\e000";
}
.icon-attachment-e-pub:before {
	content: "\e000";
}
.icon-attachment-zip-file:before {
	content: "\e000";
}
.icon-attachment-text-file:before {
	content: "\e000";
}
.icon-add-equipment:before {
	content: "\e000";
}
.icon-add-activity:before {
	content: "\e1a5";
}
.icon-activity-individual:before {
	content: "\e1a6";
}
.icon-activity-2:before {
	content: "\e000";
}
.icon-add-activity-2:before {
	content: "\e1a8";
}
.icon-activity-items:before {
	content: "\e000";
}
.icon-activity-assigned-to-goal:before {
	content: "\e000";
}
.icon-status-completed:before {
	content: "\e000";
}
.icon-status-error:before {
	content: "\e000";
}
.icon-status-inactive:before {
	content: "\e000";
}
.icon-status-in-process:before {
	content: "\e000";
}
.icon-blank-tag-2:before {
	content: "\e000";
}
.icon-cart-full:before {
	content: "\e000";
}
.icon-locate-me:before {
	content: "\e000";
}
.icon-paging:before {
	content: "\e000";
}
.icon-company-view:before {
	content: "\e000";
}
.icon-document-text:before {
	content: "\e000";
}
.icon-explorer:before {
	content: "\e000";
}
.icon-personnel-view:before {
	content: "\e000";
}
.icon-sorting-ranking:before {
	content: "\e000";
}
.icon-drill-down:before {
	content: "\e1b8";
}
.icon-drill-up:before {
	content: "\e1b9";
}
.icon-vds-file:before {
	content: "\e000";
}
.icon-sap-logo-shape:before {
	content: "\e000";
}
.icon-folder-full:before {
	content: "\e000";
}
.icon-system-exit:before {
	content: "\e000";
}
.icon-system-exit-2:before {
	content: "\e000";
}
.icon-close-command-field:before {
	content: "\e1bf";
}
.icon-open-command-field:before {
	content: "\e1c0";
}
.icon-sys-enter-2:before {
	content: "\e000";
}
.icon-sys-enter:before {
	content: "\e1c2";
}
.icon-sys-help-2:before {
	content: "\e1c3";
}
.icon-sys-help:before {
	content: "\e1c4";
}
.icon-sys-back:before {
	content: "\e000";
}
.icon-sys-back-2:before {
	content: "\e000";
}
.icon-sys-cancel:before {
	content: "\e1c8";
}
.icon-sys-cancel-2:before {
	content: "\e1c8";
}
.icon-open-folder:before {
	content: "\e000";
}
.icon-sys-find-next:before {
	content: "\e000";
}
.icon-sys-find:before {
	content: "\e1cb";
}
.icon-sys-monitor:before {
	content: "\e000";
}
.icon-sys-prev-page:before {
	content: "\e000";
}
.icon-sys-first-page:before {
	content: "\e000";
}
.icon-sys-next-page:before {
	content: "\e000";
}
.icon-sys-last-page:before {
	content: "\e000";
}
.icon-generate-shortcut:before {
	content: "\e000";
}
.icon-create-session:before {
	content: "\e1d2";
}
.icon-display-more:before {
	content: "\e000";
}
.icon-enter-more:before {
	content: "\e000";
}
.icon-zoom-in:before {
	content: "\e000";
}
.icon-zoom-out:before {
	content: "\e000";
}
.icon-header:before {
	content: "\e000";
}
.icon-detail-view:before {
	content: "\e000";
}
.icon-collapse:before {
	content: "\e000";
}
.icon-expand:before {
	content: "\e000";
}
.icon-positive:before {
	content: "\e1db";
}
.icon-negative:before {
	content: "\e1dc";
}
.icon-display:before {
	content: "\e1dd";
}
.icon-menu2:before {
	content: "\e000";
}
.icon-redo:before {
	content: "\e000";
}
.icon-undo:before {
	content: "\e1e0";
}
.icon-navigation-up-arrow:before {
	content: "\e1e1";
}
.icon-navigation-down-arrow:before {
	content: "\e1e2";
}
.icon-down:before {
	content: "\e1e3";
}
.icon-up:before {
	content: "\e1e4";
}
.icon-shelf:before {
	content: "\e000";
}
.icon-background:before {
	content: "\e000";
}
.icon-resize:before {
	content: "\e000";
}
.icon-move:before {
	content: "\e000";
}
.icon-show:before {
	content: "\e1e9";
}
.icon-hide:before {
	content: "\e1ea";
}
.icon-nav-back:before {
	content: "\e000";
}
.icon-error:before {
	content: "\e1ec";
}
.icon-slim-arrow-right:before {
	content: "\e1ed";
}
.icon-slim-arrow-left:before {
	content: "\e000";
}
.icon-slim-arrow-down:before {
	content: "\e1ef";
}
.icon-slim-arrow-up:before {
	content: "\e1f0";
}
.icon-forward:before {
	content: "\e000";
}
.icon-overflow:before {
	content: "\e000";
}
.icon-value-help:before {
	content: "\e000";
}
.icon-multi-select:before {
	content: "\e000";
}
.icon-exit-full-screen {
	content: "\e000";
}
