.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../images/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-bars {
	background-image: url('../images/loading-bars.gif');
	width: 150px;
}


.loading-indicator-dripcircle {
	background-image: url('../images/loading-dripcircle.gif');
	width: 150px;
}


.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}