/*
	Styles for top bar
*/

.topbarLeftDiv {
	float: left;
	height: 35px;
	left: 0;
	margin: 0;
	min-width: 300px;
	padding: 0;
	margin: 4px 0 0;
	width: auto;
}

.topBarBankLogo {
	background-image: url("../grafx/banklogos/sapLogo.png");
	background-position: left center;
	background-repeat: no-repeat;
	float: left;
	height: 100%;
	min-width: 200px;
	width: auto;
}

.topbarCenterDiv {
	display: inline;
    height: auto;
    left: 0;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
}

.topbarRightDiv {
    float: right;
    height: 100%;
    padding: 3px 0 0;
    position: relative;
    /* width: auto; */
}

.usernameDiv {
	color: #FFFFFF;
    font-weight: normal;
    height: 100%;
    position: absolute;
    width: 100%;
}

.userFullName {
	color: #fff;
	font-size: 22px;
}

.usernameDownArrow {
	display: inline-block;
    margin-top: 3px;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.globalMsgIcoCls {
	float: left;
    margin-right: 7%;
	cursor: pointer;
	
	/* opacity: .9;
	-webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; */
}

.globalMsgIcoCls:hover {
	/* opacity: 1;
	-webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; */
}


.logoutLinkCls {
	background-image: url("/cb/web/multilang/grafx/notificationBg.png");
    background-repeat: repeat-x;
    background-size: 100% 100%;
    border: 1px solid #B96D75;
    border-radius: 4px;
    color: #FFFFFF !important;
    cursor: pointer;
    font-size: 13px;
    margin-top: 0;
    margin-left: 10px;
    padding: 4.2px 10px;
    text-decoration: none;	
    
    /* opacity: .9;
	-webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; */
}

.logoutLinkCls:hover {
	/* opacity: 1;
	-webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; */
}

.newNotifiationIndicatorCls {
	background-image: url("/cb/web/multilang/grafx/notificationBg.png");
    background-repeat: repeat-x;
    background-size: 100% auto;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #000000;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    float: right;
    font-size: 13px;
    line-height: 13px;
    margin: 0 -16px 0 0;
    min-width: 15px;
    padding: 1px 3px 3px 2px;
    text-align: center;
}

/*.dropdownMenuParent ul {
	background: #fff;
	color: #000000;
	float: left;
	list-style: none outside none;
	margin-top: 34px;
	max-width: 250px;
	min-width: 250px;
	padding: 0;
	position: absolute;
	text-align: left;
	opacity: 1;
	cursor: default !important;
}*/

.alertDropdownMainCls ul, .approvalDropdownMainCls ul {
	visibility: hidden;
	
	max-height: 0;
	list-style: none;
	padding: 0;
	background-color: #fff;
	text-align: left;
	position: absolute;
	top: 38px;
	left: -210px;
	width: 400px;
	float: left;
	overflow: hidden;
	
	transition: max-height .3s, visibility .3s;
	
	-webkit-transition: max-height .3s, visibility .3s;
	-moz-transition: max-height .3s, visibility .3s;
	-o-transition: max-height .3s, visibility .3s;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
	box-shadow: 0px 1px 3px rgba(0,0,0,.4);	
}

.selectedActionBarItem {
	background: #9492c8;
	color: #fff;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 5px;
	position: fixed;
}

/* .alertDropdownMainCls ul {
	left: -35px;
}
 */
.approvalDropdownMainCls ul {
	left: -65px;
	width: 300px !important;
}

.alertDropdownMainCls ul:before, .approvalDropdownMainCls ul:before {
	content: '';
    display: block;
    border-color: transparent transparent rgb(255,255,255) transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
	left: 49%;
	margin-left: -4px;
}

.approvalDropdownMainCls ul:before {
	left: 90%;
}

.alertDropdownMainCls:hover > ul, .approvalDropdownMainCls:hover > ul {
	visibility: visible;
	max-height: 500px;
	transition: max-height .8s;
	-webkit-transition: max-height .8s;
	-moz-transition: max-height .8s;
	-o-transition: max-height .8s;
}

.bookmarkInputCls {
	height: 13px;
	width: 250px;
	z-index: 99;
	background-color: #d7d7d7 !important;
	float: left;
}

.bookmarkBoxHolder {
	float: left;
	left: 14px;
    position: relative;
    top: 3px;
}

.bookmarkSearchIconHolder {
	border-radius: 5px;
	float: right;
	position: relative;
	right: 32px;
	top: -6px;
	cursor:pointer;
}

/*
	Layout div styles overrides
*/
#outer-north {
	background-color: #2D2C2C;
    border-bottom: 3px solid #F0AB00;
    float: left;
    height: 42px !important;
    overflow: visible;
    position: relative;
    width: 100% !important;
    z-index: 1 !important; /* To overcome dropdown hiding behind div placed beneath the outer area */
}

#outer-center {
	position: relative !important;
}

#outer-center.ui-widget-content,#tab1.ui-widget-content,#main-menu.ui-widget-content
{
	border: none;
}

.submenuHolderBgCls .ui-state-hover, .submenuHolderBgCls .ui-widget-content .ui-state-hover, .submenuHolderBgCls .ui-widget-header .ui-state-hover, .submenuHolderBgCls .ui-state-focus, .submenuHolderBgCls .ui-widget-content .ui-state-focus, .submenuHolderBgCls .ui-widget-header .ui-state-focus {
	border: none !important;
	background: none !important;
}

.globalMsgIndicatorTxtHolderCls {
	background: none repeat scroll 0 0 #FFFFFF;
	display: none;
    border: 1px solid #F5C892;
    border-radius: 5px;
    box-shadow: 1px 5px 20px #000000;
    color: #AF711C;
    font-size: 16px;
    margin: 45px auto 0;
    padding: 5px 0;
    text-align: center;
    width: 40%;
    cursor: pointer;
}

.showGMsgIndicatorTxt {
	display: none;
	/* display: block;
	-webkit-transition: display .5s;
    -moz-transition: display .5s;
    -o-transition: display .5s;
    transition: display .5s; */	
}

.hideGMsgIndicatorTxt {
	display: none;
	-webkit-transition: display .5s;
    -moz-transition: display .5s;
    -o-transition: display .5s;
    transition: display .5s;	
}

.gmIndicatorHolderCloseBtn {
	float: right;
	font-size: 13px;
	line-height: 22px;
}