/*-------------------------------------------------------------------------------------------
	[ Configuration stylesheet ]
	
	Usage: The file to be used for custom configuration (such as custom font size). Default 
	values are set for reference and can be edited as required or new attributes can be added 
	in respective class for UI enhancements.
-------------------------------------------------------------------------------------------*/

/* 	[ Class: * ]
	
	Usage: Removing outline (dotted line) globally
	Example: Any selected link, button 
*/
* {
	/* outline: 0;	 */
}

/* 	[ Class: a ]
	
	Usage: Removing underline from anchors
*/

a {
	text-decoration: none;
}

/*
	[ Class: #pageHeaderRightDiv a]
	
	Usage: To set the font styles for top bar link area
	Example:
				*Language
				*Print
*/

#pageHeaderRightDiv a {
	color: #ffffff;
	font-size: 15px;
	font-weight: normal;
}

/*  [ Class: .ui-dialog ]
	
	Usage: To set the overflow property of dialog box. This property is removed in jQuery 1.10
	Example:
				*Home
					+ Preferences
						+ Manage Users
							-Add user dialog box
*/

.ui-dialog { overflow: hidden; }

/*  [ Class: .ui-dialog-title ]
	
	Usage: To set the font size of main header of an area.
	Example:
				*Notification Bar
				*Tools
				*Home

*/
.ui-dialog-title { position: absolute; font-size: 14px; font-weight: normal; }

/*  [ Class: pane-header & pane-title ]
	
	Usage: The class is used to set the display the title of the top bar of an area. 
	Example:
				*Notification Bar
					+ Messages
					+ Alerts
					+ Approvals
*/				
.pane-header .pane-title { cursor: pointer; font-size: 14px; font-weight: normal; margin-left: 5px; }


/*	[ Class: portlet-title ]
	
	Usage: The class is used to set the display the title of the datagrid controls.
	Example:
				*Home
					+ Consolidated Balance Summery
*/
.portal-page .ui-widget-header .portlet-title, .noPortletMsgCls, .acceptTermsCls { font-size: 19px; font-weight: normal; color: #2E6E9E; cursor: pointer;}

.noPortletMsgCls {
	min-height:200px;	
	cursor: auto;
} 

.portal-page .ui-widget-header:not(.desktopLayoutDialogHeaderDiv) { background: none; border: none; cursor: pointer;}


/*	[ Class: tableData ]
	
	Usage: The class is used to set the size of data displayed in a tabular form.
	Example:
				*Notification Bar
					+ Messages
						- Message Title
						- Message Date
*/
.tableData span, .tableData td, .tableData th, .tableData span { font-size: 13px; line-height: normal; font-weight: normal; }

/* [ Style: #tabbuttons li a ]
	
	Usage: To style first level menu items.
	Example:
				*Home
				*Cash Management
				*Payment & Transfers
				*Account Management 
*/
/* #tabbuttons li a { font-size: 15px; letter-spacing: 1px; padding-bottom: 3px; padding-top: 3px; font-family: Arial; font-weight: normal;} */

/* [ Style: #subList ]
	
	Usage: To style second level menu items.
	Example:
				*Home
					+ Alerts
					+ Messages
					+ Preferences 
*/
#subList { background-color: #f4f6f3; border-top: 1px solid #cccccc; font-weight: normal; font-size: 14px; }

/*	[ Class: input.ui-widget-content ]
	
	Usage: Overriding default font properties of input ui widget control
	Example:
				*Foreign Exchange Utility
					- Amount input filed
*/

input.ui-widget-content { font-weight: normal; font-size: 13px !important; }
button.ui-button-icon-only {
	height: 30px !important;
}

/*	[ Class: ui-selectmenu-menu li a]
	
	Usage: Overriding default font size of combo box and resetting height to auto.
	Example:
				*Home
					+ Preferences
						+ My Profile
							- State combo box
*/
.ui-selectmenu-menu li a, .ui-selectmenu-status { font-weight: normal; font-size: 13px !important; font-family: Arial !important; }
.ui-selectmenu { height: auto; padding: 0.4em 0 0.4em 0.4em !important;}


/*	[ Class: .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text]
	
	Usage: Overriding default padding of buttons. Need to change as per font size. Currently set for 14px font size
	Example:
				*Home
					+ Alerts
						+ Dashboard
							- Add/Edit Alerts
							- Alert Logs
							- Contact Points
*/

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: 0.5em 0.5em 0.4em 2em !important;
}

/* [ Class: .ui-layout-pane > div[ class~="ui-widget-header" ]

	Usage: Setting height only to the main header bar 
	Example: Breadcrumb Bar & Modules in notification bar e.g. Notifications and Tools 
*/

.ui-layout-pane > div[class~="ui-widget-header"] {	height: 25px !important; font-size: 15px !important;}

/* [ Class: .ui-layout-pane > div[class~="ui-widget-header"] span[class~="portlet-title"] ]

	Usage: Setting font size only to the main header bar 
	Example: Breadcrumb Bar & Modules in notification bar e.g. Notifications and Tools 
*/
.ui-layout-pane > div[class~="ui-widget-header"] span[class~="portlet-title"] {
	height: 25px !important;
	font-size: 15px !important;
}

/* [ Class: .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active ]

	Usage: Resetting selected state effect from main and sub menu bar
	Example: Sub menu bar selected item 
*/

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	font-weight: normal !important;
}

/* [ Class: .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button + hover and focus selectors]

	Usage: To show border around the element user is editing / hovering
	Example: Input boxes, radio button, text area 
*/

.ui-widget input:not(.ui-spinner-input), .ui-widget select:not[type="multiple"], .ui-widget textarea {
	transition: border .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
	padding: 0 0 0 3px !important;
	margin: 0 !important;
	height: 28px !important;
}

.ui-widget input[type="radio"], .ui-widget input[type="checkbox"] {
	/* Resetting height of radio elements */
	/* height: auto !important; */
}

.ui-widget button {
	/* height: 30px !important; */
}

.ui-widget input:not(.ui-spinner-input):not([disabled]):hover, .ui-widget select:hover, .ui-widget textarea:hover, .ui-widget button:hover, input:not(.sapUiTf .sapUiTfInner):hover, input:not(.sapUiTfInner .sapUiTfInner):hover {
	border: 1px solid #2E6E9E !important;
	background: none repeat scroll 0 0 #ECF5FD;
}

.ui-widget input:not(.ui-spinner-input):focus, .ui-widget textarea:focus, input:not(.sapUiTf .sapUiTfInner):focus, input:not(.sapUiTfInner .sapUiTfInner):focus {
	outline: 0 !important;
	border: 1px solid #2E6E9E !important;
	background: none repeat scroll 0 0 #ECF5FD;
}

.ui-autocomplete-input { 
	/* The lookup box input box adds some margin to the right in case of chrome.*/
	margin: 0px !important;
}

.sapUiTf input:hover, .sapUiTfInner input:hover  {
	border: 1px solid red !important;
}

/*	[ Class: buttonReset ]

	Usage: Resetting button's label font properties
	Example: 
				*Login screen 1
					- Enter button
		

*/

.buttonSizeReset {
	font-size: 13px !important;
	font-family: arial !important;
	font-weight: normal !important;
}

/*	[ Class: .ui-supermultiselect li ]

	Usage: Setting the font properties for multi seldct list box elements.
	Example: 
				*Admin
					+Company
						+Administrator
							+Edit
								-Multiselect components in dialog box 
*/

.ui-supermultiselect .ui-widget-header, .ui-supermultiselect li {
	font-size: 13px !important;
	font-family: arial !important;
	font-weight: normal !important;
}

.ui-multiselect ul.selected li {
	margin:5px 0;
}

.ui-supermultiselect .count {
    padding: 2px !important;
}

.ui-supermultiselect .ui-state-default {
	margin-bottom: 5px;
}

.ui-multiselect .ui-widget-header, .ui-multiselect li {
	font-size: 13px;
}


/*  [ Class: .ui-widget-header ]
	
	Usage: Setting the gradient amount for top bar of an area.
	Example:
				*Home
					-Title bar of grid ("Home"
					
						OR
				
				*Home
					- Consolidated Balance Summery grid title
								
						OR
				
				*Notification Panel
					- Title of panel ("Notification")
	
*/

.ui-widget-header { background-position: 50% 50% !important; }

/*  [ Class: .ui-tools-sidebar .ui-state-active, .ui-tools-sidebar .ui-widget-content .ui-state-active, .ui-tools-sidebar .ui-widget-header .ui-state-active ]
	
	Usage: Setting the gradient amount for sub topics in left side notificaiton bar.
	Example:
				*Notification Panel
					-Messages
*/

.ui-tools-sidebar .ui-state-active, .ui-tools-sidebar .ui-widget-content .ui-state-active, .ui-tools-sidebar .ui-widget-header .ui-state-active  { background-position: 57% 43% !important; }

/*  [ Class: .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active ]
	
	Usage: Setting the gradient amount for main menu and message panel header.
	Example:
				*Main Menu
					- Home
				
					OR
				
				*Payment & Transfers
					*Transfers
						- Dashboard background
*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background-position: 50% 50% !important; } 


/* resetting height for close button in dialogue boxes and setting close button position */
.ui-dialog-titlebar > button[class~="ui-dialog-titlebar-close"] { height: auto !important; }
.ui-dialog .ui-dialog-titlebar-close span {	margin: -8px !important; }


/*  [ Class: .ui-supermultiselect input.search, .ui-multiselect input.search ]
	
	Usage: resetting input text color for superselect menu. Text is not visible due to .5 opacity set for input.search class inside ui.superselect.css file
	Example:
		
		Super Multiselect->
		-----------------
				*Admin
					- Division
						-Edit Division
							-View button to see Admin list
				
		Multiselect->
		-----------------			
				
				*Any Datagrid
					- Select Column button
						-Input box inside dialog box
*/
.ui-supermultiselect input.search, .ui-multiselect input.search {color: #000 !important;}

/*  [ Class: .ui-datepicker-calendar, .ui-datepicker-title ]
	
	Usage: resetting font size for single calendar component
	Example:
		
			*Cash Management
				- Controlled Disbursement
					-Dashboard
						-Date
*/
.ui-daterangepicker, .ui-datepicker-calendar, .ui-datepicker-title {
	font-size: 13px !important;
	font-family: arial !important;
}

.ui-datepicker td span, .ui-datepicker td a {
	text-align: center !important;
}

.ui-datepicker-title {
	line-height: 1.4em !important;	
}
/* IE9 datepicker issue fixed */
.ui-daterangepickercontain .ui-daterangepicker{width:100% !important}
/*  [ Class: .ui-dialog-buttonset button ]
	
	Usage: Ok Cancel button position in select column dialog. (to be appeared as "Cancel" & than "Ok")
	Example:
		
			*Admin
				- Groups
					-Grid
						-Select Column
							-Dialog Box
*/
.ui-dialog-buttonset button:nth-child(1) {
	float: left !important;
}


.ui-dialog {
	border: 1px solid #727272 !important;
    padding: 0 !important;
}

.ui-dialog .ui-dialog-title {
	margin: .2em 0 !important;
}

.ui-dialog .ui-dialog-titlebar {
	border-radius: 0 !important;
}

.ui-dialog .ui-dialog-buttonpane, .ui-dialog .ui-dialog-buttonpane button {
	margin: 0 5px 0 0 !important;
	height: 30px;
}

.ui-dialog .ui-dialog-buttonpane {
	/* background-image: url("../grafx/toolbar/dialogBgBar.png") !important; 
    background-size: 1px 34px;*/
    background: -moz-linear-gradient(center top , #C7CED6 0%, #83888C 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c4c4c4)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ededed 0%,#c4c4c4 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ededed 0%,#c4c4c4 100%) !important; /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ededed 0%,#c4c4c4 100%) !important; /* IE10+ */
	background: linear-gradient(top, #ededed 0%,#c4c4c4 100%) !important; /* W3C */
    padding: 5px 0em !important;
    margin: 0 !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}

.ui-dialog .ui-button-text-only .ui-button-text {
    /* padding: 0 1em !important; */
}

.ui-dialog .ui-dialog-buttonpane button {
	/* background-image: url("../grafx/toolbar/dialogBgBtn.png") !important;
    background-size: 100% 100%; 
    border: 1px solid #9C9C9C;
    color: #282828;*/
    margin-right: 8px !important;
}



.shortcutActionBox-personIcon {
	top: auto !important;
	float: left;
	position: relative !important;
}

/*
	Removing margin from jquery rte control
*/

.jqte {
	margin: 0 !important;	
	font-size: 13px !important;
}

.jqte .ui-widget-header {
	height: 26px !important;
}

.jqte_tool, .jqte_tool_icon, .jqte_tool_label {
	border: none !important;
	margin-right: 10px !important;
}

.jqte_format, .jqte_fontsize {
	color: #000 !important;
}

.jqte_editor, .jqte_source {
	width: 99% !important;
	padding: 5px !important;
	max-height: 150px !important;
}
.messageBoxArea{padding: 0 !important; box-shadow:none !important; border-color: inherit !important; border-width:1px !important;}

.jqte_focused {
	box-shadow:none !important; border-color: inherit !important; border-width:1px !important;
}

/********************
  UI5 custom classes  
********************/

input {
	padding: 1ex;
}

.formTableContainer {
	/*border: 1px solid red;*/
}

.formTableContainer td {
	padding-top: 5px;
	vertical-align: middle;
}

.formTableContainer button {
	width: auto !important;
}

.formViewHolder {
	width: 60%;
}

.sapUiTfAutoComp, .sapUiTfCombo {
	/*To avoid background color overlap border radius*/
	overflow: hidden !important; 
}

.sapUiTf input:hover,  .sapUiTf input:focus {
	/* background: red !important; */
}

.sapUiFormActionBtnBar div {
	margin-right: 10px;
}

.ui-jqgrid, .ui-jqgrid-view, .ui-jqgrid-hbox, .ui-jqgrid-hdiv, .ui-jqgrid-htable {
       width: 100% !important;
}

.sapUiFormActionBtnBar {
	margin: 10px 0;
}

/*
	To keep the flag image in line with text on login page
*/
.ui-selectmenu-menu-dropdown {
	margin-top: 2px;
    padding: 3px;
    z-index: 90000;
    overflow: auto;
}

.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { 
	margin-top: -10px; 
}
/**
 * datepicker 
 */
.ui-datepicker-trigger {
	top: 7px !important;
	left : 1px !important;
	position: relative !important;
	width:20px;
	height:22px;
}

/**
 * multi select dropdown 
 */
 .ui-multiselect-hasfilter ul { position:relative; bottom:2px !important; }
 .ui-multiselect { padding:0; text-align:left; height:auto; border: 1px solid #999;}

 
 /**
  * overriding accordian styles for home page accordian't title
 */
 .ui-accordion-header {
	font-size: 15px !important;
	margin: 0 !important;
	padding: 5px 0 10px 10px!important;
}

 .ui-accordion-header span[class^="ui-accordion-header-icon"] {
	display: none;
}
 
 /* Wrapping text */
.ui-menu .ui-menu-item {
	white-space: normal !important;
}
#XAcctTabs.ui-tabs .ui-tabs-nav, #perAcctTabs.ui-tabs .ui-tabs-nav, #perAcctGrpTabs.ui-tabs .ui-tabs-nav{border-bottom:1px solid #aaa !important}
.toUpperCase {
	text-transform: uppercase;
}

.sapUiLbl {
	font-size: 14px !important; 
}

.sapUiLbl[class~="required"] {
	color: #990000 !important;
}

#details .sapUiTf:not(.sapUiTfInner), #details .sapUiTfCombo {
	width: 250px !important;
}

.sapUiTfCombo > input[class^="sapUiTf"]:not(.sapUiTfInner) {
	border: none !important;
}

.sapUiBtnS, .sapUiTfComboIcon {
	height: 28px !important; 
	margin-right: 5px;
}


input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.sapUiTv {
	font-size: 14px !important;
	line-height: 18px !important;
}

/**
  * overriding datepicker style - fix for the shiver effect on mouse hover
 */
.ui-daterangepicker li {
	padding: 0px !important;
	height:25px;
	line-height:18px;
}

/**
  * overriding the spUiVlt class - fix for the portlet(chart) with no data, to remove the extra margin/space from the top.
 */
 .sapUiVlt{
 	display: inline !important;
 }
 
 /**
* Changing background color and text color of combo box items on hover
*/
.ui-selectmenu-menu-dropdown > li:hover, .ui-daterangepicker > ul > li:hover {
  background: none repeat scroll 0 0 #5F83B9;
  border-color: #466086;
  border-radius: 0;
  font-weight: normal;
}

.ui-selectmenu-menu-dropdown > li:hover > a, .ui-daterangepicker > ul > li:hover > a{
  color: #FFFFFF !important;
}

.ui-extmultiselect{
		padding:5px 0 5px 4px !important; 
}

.ui-multiselect .add-all{
	padding:6px !important;
}

.ui-multiselect ul.available li{margin: 5px 0;}

.ui-multiselect div.available{border-color:#999;}

.ui-extmultiselect-header ul li{
	margin-top:0;
}

.ui-extmultiselect-header ul li a:hover{
	text-decoration:none;
}

.ui-jqgrid tr.jqgrow td {
	padding: 5px 2px 5px 2px !important;
	white-space: normal !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Verdana,Arial,sans-serif !important;
}

.ui-dialog-titlebar-close {
    position: absolute !important;
}