/*-------------------------------------------------------------------------------------------
	[ Configuration stylesheet ]
	
	Usage: The file is to redesign the datagrid component. Styles modified in this sheet are
	column dividers, row heights, padding etc.
	
	Parent class: ui.jqgrid.css 
-------------------------------------------------------------------------------------------*/

/*  [ Class: .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column ]
	
	Usage: Overriding to remove separator in header row. 
*/

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {border: 0px none !important; height: 30px; font-size: 13px; background: url("../grafx/toolbar/toolbarBg.png"); vertical-align: middle;}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column:first-child div { padding-left: 10px;}

/*  [ Class: .ui-jqgrid tr.jqgrow td ]
	
	Usage: Overriding to remove separator in child rows. 
*/
.ui-jqgrid tr.jqgrow td, .ui-jqgrid tr.footrow td {border-right-width: 0px !important; height: 40px !important; font-size:13px; text-align: left !important;}
.ui-jqgrid .ui-icon-desc { height: 12px !important;  margin-left: -1px !important;  margin-top: 7px !important; }

/*	[ Class .ui-jqgrid tr.footrow td ] 

	Usage: Set font style for datagrid footer row and lookup box
	Example: 
				*Home
					- Consolidated Balance Summery
*/
.ui-jqgrid tr.footrow td { font-weight: normal !important; font-size: 13px !important; }
.ui-autocomplete { font-weight: normal !important; font-size: 13px !important; padding-left: 7px !important;}

/*	[ Class: .ui-jqgrid .ui-jqgrid-sortable ]
	
	Usage: The class is used to override the size of datagrid column header text.
	Example:
				*Home
					+ Consolidated Balance Summery
						- Account Type
						- Number of Accounts
						- Balance
*/

.ui-jqgrid .ui-jqgrid-title, .ui-jqgrid .ui-jqgrid-sortable { display: inline-table; font-size: 13px; font-weight: bold; /* padding-left: 10px; */ text-align: left; vertical-align: super; width: 100%; color: color: #131313; white-space: normal;}

.portal-page .ui-jqgrid .ui-jqgrid-title, .portal-page .ui-jqgrid .ui-jqgrid-sortable {font-size: 14px; font-weight: bold; color: #393939 !important;} 

/*	[ Class: .ui-jqgrid tr.jqgrow td ]
	
	Usage: The class is used to override the size of datagrid column text.
	Example:
				*Home
					+ Consolidated Balance Summery
						- Account Type
						- Number of Accounts
						- Balance
*/
.ui-jqgrid tr.jqgrow td { font-size: 14px !important; text-align: left !important; font-weight: normal !important; }
.ui-jqgrid tr.jqgrow td span[class~="sapUiIconCls"] {font-size: 18px !important;}

/*	[ Class: .ui-jqgrid .ui-jqgrid-pager, .ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-pg-input ]

	Usage: To set the font properties for datagrid footer elements (e.g. pager)
	Example:
				*Home
					- Positive Pay Exception Summery
						- Page 1 of 10
	
	Note: height of input and select box need to be changed according to the applied font size. 

*/
.ui-jqgrid .ui-jqgrid-pager, .ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-pg-input {font-size: 13px !important; font-weight: normal !important; }
.ui-jqgrid .ui-pg-selbox { height: 22px !important; }
.ui-jqgrid .ui-pg-input { height: 16px !important; }

.ui-pager-control > table[class~="ui-pg-table"] > tbody > tr:first-child > td:first-child{width: 30% !important;}
.ui-pager-control > table[class~="ui-pg-table"] > tbody > tr:first-child > td:last-child{width: 30% !important;}

.corpadminaccountgroups_gridDiv .ui-pager-control > table[class~="ui-pg-table"] > tbody > tr:first-child > td:first-child .ui-pg-table.navtable{display: none !important;}
/*	[ Class: .ui-jqgrid .ui-th-div-ie ]

	Usage: To set the header of grid component 
	Example:
				*Home
					- Consolidated Balance Summery
						- Account Type | Number of Accounts | Balance
	
	Note: The class was added specially to apply the style in case of IE. Float property is removed since its not required not in IE9+ version 

*/
.ui-jqgrid .ui-th-div-ie {float:inherit !important; width:97%; white-space: nowrap;}

/*	[ Class: .gridActionColumnHolderDiv ]

	Usage: To set the position of the div holding action column icons in the grid 
	Example:
				*Payments
					- Bill Pay
						- Submitted for Approval or Rejected | Pending | Completed tab
	
	Note: Position of the div with this class being applied in " common.js > $.subscribe('commonGridComplete', function(event,data) " method) 

*/

.gridActionColumnHolderDiv {
 	position: absolute;
 	opacity: 0;
 	visibility: hidden;
 	
 	background-color: #4c525c;
	line-height: 20px;
	color: #fff;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
	
 	transition: opacity .3s, visibility .3s;
	-webkit-transition: opacity .3s, visibility .3s;
	-moz-transition: opacity .3s, visibility .3s;
	-o-transition: opacity .3s, visibility .3s;
}

.gridActionColumnHolderDivHover {
	opacity: 1;
	visibility: visible;

	transition: opacity .3s, visibility .3s;
	-webkit-transition: opacity .3s, visibility .3s;
	-moz-transition: opacity .3s, visibility .3s;
	-o-transition: opacity .3s, visibility .3s;
}

.gridActionColumnHolderDivHover a{cursor:pointer;}

.gridActionColumnIconCls {
	margin: 5px 5px 0 0;
}

.gridActionColumnIconCls:first-child {
	margin-left: 5px;
}


/**
* Style for the grid footer bar page links
*/

.gridPagerPgNumberCls {
	border-radius: 3px;
    box-shadow: 1px 1px 3px 1px #9E9E9E;
    padding: 2px 8px;
    margin-right: 5px;
    background: url("../grafx/gridPagerBtnBg.png"); 
    vertical-align: middle;
    
    transition: box-shadow .3s;
	-webkit-transition: box-shadow .3s;
	-moz-transition: box-shadow .3s;
	-o-transition: box-shadow .3s;
}


.gridPagerPgNumberCls:hover {
	box-shadow: 1px 1px 3px 1px #424242;
	
	transition: box-shadow .3s;
	-webkit-transition: box-shadow .3s;
	-moz-transition: box-shadow .3s;
	-o-transition: box-shadow .3s;
}


.gridPagerCurrentSelectedPg {
	background: url("../grafx/gridPagerSelectedPgBtnBg.png");
    border-radius: 3px;
    box-shadow: 1px 1px 1px #B2B0B0;
    color: #fff;
    margin-right: 5px;
    padding: 2px 8px;
    vertical-align: bottom;
}

.gridPagerFirstLastBtn {
    background: url("../grafx/gridPagerBtnBg.png"); 
    border-radius: 3px;
    box-shadow: 1px 1px 1px #9E9E9E;
    padding: 2px 8px;
}

/**
* Adding some margin to the pager control area
*/
.ui-jqgrid .ui-pager-control {
	margin: 5px 0 1px;
}

.gridPagerControlCls {
	background: #eae9e9;
    border-color: #FFFFFF;
    border-radius: 5px;
    border-style: inset;
    border-width: 1px;
    padding: 2px 15px;
    white-space: pre;
    overflow: hidden !important; /* to hide scroll in pagination area */
}

.gridPagerControlCls td:hover > .ui-state-hover {
	background: none !important;
	border: none !important;
}

.gridPagerControlCls select {
	margin-left: 10px !important;
}

.ui-jqgrid .ui-pg-table td {
	overflow: hidden !important;
}

.ui-pg-button span[class~="ui-separator"] {
	border: none !important;
}
.ui-jqgrid tr.jqgrow td span[class~="sapUiIconCls"].inlineSapIconClass{font-size: 14px !important; color: #4f4f4f !important;}

/**
* Select column in grid
*/
.ui-jqgrid-btable tr.jqgrow td input[type="text"]{padding:3px}
.ui-jqgrid .ui-pg-button:hover{padding: 1px !important;}

.ui-accordion-content .ui-jqgrid-view .ui-state-default .ui-jqgrid-htable thead tr th {
	background: #fff !important;
}

.ui-accordion-content .ui-jqgrid-view .ui-state-default .ui-jqgrid-htable thead tr th .ui-jqgrid-sortable {
	font-weight: bold;
	color: #6d6d6d !important;
}

/*.ui-accordion-content .ui-jqgrid-view .ui-state-default .ui-jqgrid-htable thead tr th:first-child .ui-jqgrid-sortable {
	padding-left: 10px;
}

.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-bdiv table > tbody .ui-widget-content > td:first-child {
	padding-left: 10px !important;
}
*/
.portal-page .col50:first-child .innerPortletsContainer {
    margin-right: 1%;
}