/* Multiselect
----------------------------------*/

.ui-supermultiselect { border: solid 1px; font-size: 0.8em; }
.ui-supermultiselect ul { -moz-user-select: none; }
.ui-supermultiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-supermultiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-supermultiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-supermultiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-supermultiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-supermultiselect ul.selected li { }

.ui-supermultiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-supermultiselect .ui-state-hover { border: none; }
.ui-supermultiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;height:30px!important;}
 
.ui-supermultiselect .add-all { float: right; padding: 7px;}
.ui-supermultiselect .remove-all { float: right; padding: 7px;}
.ui-supermultiselect .search { float: left; padding: 4px;}
.ui-supermultiselect .count { float: left; padding: 7px;}

.ui-supermultiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-supermultiselect li a.action { position: absolute; right: 2px; top: 2px; }
 
.ui-supermultiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }
