/* css styles moved from previous Dev_Favor theme */
#tabbuttons {
	background: white;
}

#savePageForm {
	background: white;
	color: #2E6E9E;
}

/* Scroll bar css for IE only (taken from previous Dev_Favor theme)*/
html {
	scrollbar-base-color: #e0effc;
	scrollbar-arrow-color: #5c9ccc;
	scrollbar-track-color: white;
	
	scrollbar-shadow-color: #eaf4fd;
	scrollbar-lightshadow-color: #eaf4fd; 
	scrollbar-darkshadow-color: #91bcdc;
	
	scrollbar-highlight-color: #e0effc;
	scrollbar-3dlight-color: #eaf4fd;
	
}

.portlet-border-highlight{
	/* outline-style:solid;
	outline-color:#F0AB00;
	outline-width:2px; */
	outline-style:none;
	outline-color:none;
	outline-width:none;
}
