/**
   commoncontrols less.
*/

/* --------- checkbox style --------- */
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	top: 6px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 18px;
	width: 18px;
	-webkit-transition: all 0.15s ease-out 0s;
	-moz-transition: all 0.15s ease-out 0s;
	transition: all 0.15s ease-out 0s;
	background: #fff;
	cursor: pointer;
	/*display: inline-block;*/
	margin: 0 12px 0 15px;
	outline: none;
	position: relative;
	/*z-index: 1000;*/
	color: #000;
	&:hover {
		background: #fff;
	}
	&:checked {
	  	background: #fff;
	  	&::before {
			height: 9px;
			width: 9px;
			position: absolute;
			content: '\2713';
			display: inline-block;
			text-align: center;
			line-height: 20px;
			top: -2px;
			left: 2px;
			font-size: 13px;
			font-weight: bold;
		}
		&::after {
			-webkit-animation: click-wave 0.65s;
			-moz-animation: click-wave 0.65s;
			animation: click-wave 0.65s;
			background: #999;
			content: '';
			display: block;
			position: relative;
			z-index: 100;
			top: -5px;
			left: -15px;
		}
	}
}

/*-------------- radio button ----------------*/
input[type="radio"] {
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    top: 6px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 0 10px;
    outline: none;
    position: relative;
    /*z-index: 1000;*/
    text-align: center;
    border-radius: 50%;
    padding: 0;
	&:hover {
		background: #fff;
	}
	&:checked {
		background: #fff;
		&::before {
			position: absolute;
		    content: '\2022';
		    display: inline-block;
		    text-align: center;
		    line-height: 16px;
		    top: 0;
		    left: 1px;
		    font-size: 40px;
		}
		&::after {
			-webkit-animation: click-wave 0.65s;
			-moz-animation: click-wave 0.65s;
			animation: click-wave 0.65s;
			background: #999;
			content: '';
			display: block;
			position: relative;
			z-index: 100;
			top: 3px;
    		left: -8px;;
		}
	}
	&::after {
	  border-radius: 50%;
	}
	&:disabled{
	    border-color: #ddd;
	    cursor: default;
	}
}

input.payclass, input.returnclass, input.holdclass{
    left: 12px;
}

input#payRadioAllDummy, input#returnRadioAllDummy, input#holdRadioAllDummy {
    margin-bottom: 15px;
    margin-left:5px;
}

// ------- Buttons --------
.ui-button .ui-button-text{
	text-shadow: none;
}
:not(.dashboardSummaryHolderDiv)>a.ui-button, :not(.dashboardSummaryHolderDiv) .ui-button {
  display: inline-block;
  padding: 0;
  margin-right: 10px;
  background: #fff;
  color: rgba(0, 0, 0, 0.870588);
  border: 1px solid @BORDER_COLOR ;
  border-radius: 2px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
:not(.dashboardSummaryHolderDiv) > a.ui-button:before {
  transition: all 0.5s linear, opacity 0.25s linear 0.25s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 500px;
  width: 500px;
  margin: auto;
  opacity: 0;
  background: #ddd;
  border-radius: 100%;
  content: "";
}
:not(.dashboardSummaryHolderDiv) > a.ui-button:active:before,
:not(.dashboardSummaryHolderDiv) > a.ui-button :hover:before,
:not(.dashboardSummaryHolderDiv) > a.ui-button :focus:before {
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  height: 0px;
  width: 0px;
  opacity: .5;
}
:not(.dashboardSummaryHolderDiv) > a.ui-button:hover {
  background: #f4f4f4;
}

//disabled button style
a.ui-button.ui-state-disabled{
	box-shadow: none;
}
a.ui-button.ui-state-disabled:before,
a.ui-button.ui-state-disabled:active:before{
 -webkit-transition:  none !important;
 transition:  none !important;
}

.availAlertTypeTable:not(.dashboardSummaryHolderDiv) > a.ui-button, 
.availAlertTypeTable:not(.dashboardSummaryHolderDiv) .ui-button {
    width: 40px;
}

.availAlertTypeTable .ui-button .ui-button-text{
    padding:3px;
}

.tableAlerternateRowColor.tdWithPaddingAllSides:not(.dashboardSummaryHolderDiv) > a.ui-button, 
.tableAlerternateRowColor.tdWithPaddingAllSides:not(.dashboardSummaryHolderDiv) .ui-button{
    padding:0px;
}

/*------- Dropdown arrow icons --------*/
button.ui-button-icon-only.ui-corner-right.ui-button-icon.comboboxbtn, .ui-selectmenu>span.ui-selectmenu-icon{
    border: none; 
    background: none;
}

button.ui-button-icon-only.ui-corner-right.ui-button-icon.comboboxbtn span.ui-button-icon-primary.ui-icon-triangle-1-s,
.ui-selectmenu>span.ui-selectmenu-icon{
 background: none;
 width: 0 !important;
 height: 0 !important;
 border-left: 5px solid transparent;
 border-right: 5px solid transparent;
 border-top: 5px solid #857D7D;
}

// --------------------- INPUTBOX STYLE ------------------------
input[type='textbox'], input[type='text'], input[type='password'], .ui-widget-content.ui-corner-all.txtbox, a.ui-selectmenu.ui-selectmenu-dropdown,
 .customSelectBox input{
 	outline: none;
	border: 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
	background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
	background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
	background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
	-webkit-background-size: 0 2px, 100% 1px;
	background-size: 0 2px, 100% 1px;
	transition-duration: 0.3s;
	background-repeat: no-repeat;
	background-position: center bottom, center -webkit-calc(100% - 1px);
	background-position: center bottom, center calc(100% - 1px);
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: background 0s ease-out;
	-o-transition: background 0s ease-out;
	transition: background 0s ease-out;
	float: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;

}

input[type='text'].ui-autocomplete-input{
  padding: 0px 5px;
}
input[type='textbox']:focus, .ui-widget-content.ui-corner-all.txtbox:focus, .ui-selectmenu:focus,
input[type='text']:focus, input[type='password']:focus {
	background-size: 100% 2px, 100% 1px;
	transition-duration: 0.3s;

}
input[type='textbox']::-webkit-input-placeholder, 
.ui-widget-content.ui-corner-all.txtbox::-webkit-input-placeholder, .ui-selectmenu::-webkit-input-placeholder,
input[type='text']::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
input[type='textbox']:focus::-webkit-input-placeholder,
input[type='textbox']:valid::-webkit-input-placeholder,
.ui-widget-content.ui-corner-all.txtbox:focus::-webkit-input-placeholder, .ui-selectmenu:focus::-webkit-input-placeholder,
.ui-widget-content.ui-corner-all.txtbox:valid::-webkit-input-placeholder, .ui-selectmenu:valid::-webkit-input-placeholder,
input[type='text']:focus::-webkit-input-placeholder,input[type='text']:valid::-webkit-input-placeholder   {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}

input[type='textbox']::-webkit-input-placeholder, 
input[type='text']::-webkit-input-placeholder, 
.ui-widget-content.ui-corner-all.txtbox::-webkit-input-placeholder, 
a.ui-selectmenu.ui-selectmenu-dropdown::-webkit-input-placeholder{
    color: #ddd !important;
    font-size: 12px !important;
    top: 20px;
    position: relative;
}

input[type="text"]:focus, input.ui-widget-content:focus, .ui-selectmenu:focus, input[type='password']:focus,
button.ui-button-icon-only.ui-corner-right.ui-button-icon.comboboxbtn:focus {outline: 0;}

//select menu fix
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-position: 0% 100% !important;
}

.ui-selectmenu {
    padding-top: 12px !important;
}

.ui-selectmenu.ui-selectmenu-dropdown {
    border-bottom: 1px solid @PORTLET_BORDER !important;
    padding-top: 0 !important;
}

.ui-selectmenu.ui-selectmenu-dropdown span.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s {
    margin-top: 9px !important;
    padding: 0;
}

.ui-selectmenu-menu {
    border: 1px solid @PORTLET_BORDER;
}

//Spinner button - Other settings page
a.ui-spinner-button {
    position: absolute !important;
    box-shadow: none !important;
    margin: 0 !important;
}
span.ui-spinner.ui-widget.ui-widget-content.ui-corner-all {
    border: 1px solid @PORTLET_BORDER !important;
}


//Dialogs
.ui-dialog.ui-draggable{
	& .ui-widget-header {
		background :none !important;
	}
	& .ui-dialog-titlebar{
		border-bottom: none;
	}
	& .ui-dialog-title{
		font-weight: bold;
		color: #666;
	}
	& .ui-dialog-titlebar-close{
		background :none !important;
		box-shadow: none !important
	}
}

//Select Columns dialog
.ui-dialog-content .ui-multiselect li {
    border: none;
}

.ui-dialog-content .customDialogFooter{
    padding: 10px 0 !important;
}

//Calender icon

img.ui-datepicker-trigger{
    display: inline-block;
    -moz-box-sizing: border-box;
    background: url("../../web/grafx/new/date_range.png") no-repeat !important;
    height: 24px;
    width: 24px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 30px;
    cursor: pointer;
	-webkit-mask-image:-webkit-linear-gradient(top, rgba(0, 0, 0,.4), rgba(0, 0, 0,.4));
}


div#ui-datepicker-div .ui-datepicker-header {
    background: none;
    border-bottom: none;
}

