/**
   This files is for resolving any issues or customizing any element's style to fix issue, if any.
*/

//ui fixes
#reportOnDivID.acntDashboard_masterItemHolder {
    margin-top: -19px;
    margin-left: 10px;
}

form#editBusinessForm > table {
    padding: 0 10px;
}

.paneWrapper tr.header>td {
    line-height: 20px;
    padding-left: 5px;
}

td.tbrd_t {
    border-color: @PORTLET_BORDER;
}

/*.adminPageStyle input[type="checkbox"]{
    margin-bottom: 10px;
}*/

.dashboardCustomDiv .selectBoxHolder {
    margin-top: 1px;
}

.ui-helper-reset.pane.ui-widget {
    border: 1px solid @PORTLET_BORDER;
    border-top: none;
    margin-top: 5px;
}

.ui-helper-reset.pane.ui-widget .pane-header, .customAccordianBgClass.adminAccordianCls .pane-header{
    border: none;
    background-color: @PORTLET_BORDER !important;
    height: 25px;
    line-height: 25px;
}

// Tax - Single batch - Entries checkbox fix
input#cb_achEntriesGridId {
    left: -15px;
    top: 0px;
    height: 17px;
}

//select columns overlay
.loading-indicator.ui-widget-overlay{
	top: 0 !important;
}

//slect column footer height
.ui-dialog .ui-dialog-buttonpane {
    height: 35px;
}


//session activity check box fix
.sessionReportCls {
    margin-top: 0;
}


//selectmenu dropdown alignment fix
.ui-selectmenu, ui-selectmenu.ui-selectmenudropdown {
    margin-top: 7px;
}

//margin right in all form elements
.acntDashboard_itemHolder {
    margin-right: 15px !important;
}

//consolidated balance form
#reportOnDivID.acntDashboard_masterItemHolder {
    margin-top: 0 !important;
    margin-left: 0 !important;
    display: flex !important;
}

//banklookup FED ABA dropdown fix
.ui-selectmenu-menu.ui-selectmenu-open {
    border: none;
    & .ui-selectmenu-menu-dropdown {
        border: 1px solid @PORTLET_BORDER !important;
    }
}

div#searchDestinationBankDialogID .approvalDialogHt {
    height: 350px;
}

//release wire - view button
.skipActionHolderDivAppend .ui-button.ui-selectmenu {
    padding-top: 7px !important;
    width: 60px !important;
    margin-bottom: 9px;
    margin-left: 5px;
}

.btn-row{
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
}


//other settings
.miscTabItem>input[type="checkbox"] {
    margin: 0;
}

#deliveryOptionsGrid input[type="radio"] {
    margin-left: 8px;
}

/* account and cashflow form alignment */
.acntDashboard_masterItemHolder>div, .acntDashboard_masterHolder>div {
    vertical-align: bottom;
}


.searchDashboardRenderCls table {
   /*display: flex;*/
}

.searchDashboardRenderCls table td {
    padding: 2px 8px;
}

.searchDashboardRenderCls table td label, .searchDashboardRenderCls table td span.sectionsubhead.dashboardLabelMargin{
    padding-top: 6px;
}

.tblFlex td {
    display: inline-flex;
}


table.permissionTblWithBorder td.tbrd_t {
    padding-bottom: 10px;
}

table.permissionTblWithBorder td.tbrd_t.columndata {
    padding-bottom: 0px;
}

table.permissionTblWithBorder tr:not(.header) td {
    padding-bottom: 10px;
}

.alignItemsDivision{
    vertical-align: top;
    margin-top: 10px;
}

.largeFormContent .blockContent .blockRow span {
    vertical-align: super;
}

a#searchDestBank, a#searchBankBillPayPayee2, a#searchBank {
    vertical-align: bottom;
}

a#acctFileUploadID, a#addGroupAdminButtonId {
    vertical-align: middle;
}

//Consumer
.showTitle .portlet-header > span.portlet-title {
    display: block !important;
}

.ui-jqgrid .ui-jqgrid-htable th.ui-th-column:first-child div {
    margin-left: 0 !important;
}

.onlineAccContentDiv a.ui-button {
    vertical-align: middle;
}

div#dbExternalAccountSummary #manageExternalAccountsLink {
    box-shadow: none;
}

.memo > b {
    margin-right: 10px;
}

input#sessionActivityCheck {
    margin-bottom: 15px;
}
a#importBatchesSubmitId {
    vertical-align: middle;
}
a#addBatchSubmitId {
    vertical-align: middle;
}
a#pagedSelectID-menu {
    vertical-align: bottom;
}