/**
   home less.
*/

//.portal-page -- home page class
.portal-page{
	height: 99%;
}
.portal-page .portlet.innerPortletsContainer {
    box-shadow: none;
    border: 1px solid @PORTLET_BORDER !important;
}

.portal-page .portlet-header.ui-widget-header{
    height: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    & span.portlet-title{
    	font-size: 16px;
    	color: @PORTLET_TITLE_COLOR;
    	line-height: 25px;
  		padding-left: 10px;
  		display: block;
    }
    & .customContainerCls{
    	margin-top: 3px;
    	& .portletSettingsIcon {
		        width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: #fff;
				box-shadow: 0px 8px 0px #fff, 0px 16px 0px #fff;
				padding: 0 !important;
				margin-right: 15px;
				border: none;
				-webkit-mask-image: none;
		}
    }
	& .icon-action-settings:before {
	    content: "";	
	    height: 25px;
   		width: 25px;
    	display: block;    
	   /* background-image: url("../grafx/new/sideMenuIcon.png");
	    background-color: @PORTLET_HEADER_BG;
	    display: inline-block;
	    height: 25px;
	    width: 5px;
	    margin-left: 10px;*/
	}
}

.portal-page .portlet-content {
    margin-top: 0px;
    height: @PORTLET_CONTENT_HEIGHT;
    & .ui-jqgrid.ui-widget {
	    padding: 0;
	    border: none;
	    & .ui-jqgrid-hdiv {
		    height: 50px;
		    background: @PORTLET_BG;
		    border: 1px solid @PORTLET_INNER_BORDER;
		    & .ui-th-column,.ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
			    background: none;
			    height: 50px;
			    background-color: @PORTLET_BG;
			}
		}
		& .ui-jqgrid-pager {
		    height: 25px;
		    width: 100% !important;
		    border: none;
		    background: @PORTLET_BG;
		}
		& .ui-jqgrid-view .ui-jqgrid-bdiv table.ui-jqgrid-btable>tbody>tr:last-child {
		    border-bottom: 0 !important;
		    border-bottom-color: @PORTLET_BG !important;
		}
		& .ui-jqgrid-pager{
			& .ui-pager-control {
			    margin: 0;
			    height: 100%;
			}
			& .ui-pager-control .ui-pg-table {
			    height: 25px;
			    & .portletGridGoToModuleLink {
				    background: none;
				    border: none;
				    padding: 0px !important;
					color: @PORTLET_LINK_COLOR;
				    font-weight: 600;
				}
			}
		}
		& .ui-jqgrid-bdiv table>tbody{
			& .ui-widget-content {
			    border: 1px solid @PORTLET_INNER_BORDER;
			    background: @PORTLET_ZEBRA_BG;
			}
			& .ui-widget-content.ui-state-zebra {
			    background: @PORTLET_BG;
			}
			& .ui-widget-content>td>span.sapUiIconCls {
			    display: none;
			}
			& .ui-widget-content>td {
			    padding-left: 8px !important;
			}
		}
	}
	& .ui-accordion .ui-accordion-content {
	    padding: 0;
	}
	& h3.ui-accordion-header.ui-state-default {
	    background: -webkit-linear-gradient(top, #FFFAFA 0%,#E8E3E3 100%);
	    color: #847979;
	    border: none;
	    &.ui-accordion-header-active {
		    background: -webkit-linear-gradient(top, #C3CBD8 0%,#B1BED6 100%);
		    color: #000000;
		}
	}
}

.innerPortletsContainer .portlet-header .portlet-title{
	display: none;
}