/**
   main less.
*/
body {
  background: #f0f0f0;
}
/**
   constants less.
*/
/**
   utils less.
*/
/**
   theme less.
*/
/*
function getThemeStyle  :Updates the theme according to page.
Params          :@page - pageStyleClass name;
             @bgcolor - background color code;
             @color - text color code;
*/
/*-------- HOME PAGE -------- */
/*@bgcolor : @GLOBAL_THEME_COLOR;
  @color   : @GLOBAL_FONT_COLOR;*/
.homePageStyle #outer-north {
  background: rgba(0,156,120,1);
  color: #FFF;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.homePageStyle .cardTitle {
  color: rgba(0,156,120,1);
}
.homePageStyle .cardLinks > span {
  color: rgba(0,156,120,1);
}
.homePageStyle .formActionItemPlaceholder .cardTitle {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.homePageStyle .formActionItemPlaceholder .cardLinks > span {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.homePageStyle .mainSubmenuItemsCls li a:hover,
.homePageStyle .mainSubmenuItemsCls li a.hovered {
  color: rgba(0,156,120,1) !important;
  border-bottom: 3px solid rgba(0,156,120,1) !important;
}
.homePageStyle .dashboardSelectedItem {
  border-bottom: 4px solid rgba(0,156,120,1);
}
.homePageStyle .innerPortletsContainer .portlet-header .portlet-title {
  color: rgba(0,156,120,1);
}
.homePageStyle .copyrightContainer {
  border-top: 3px solid rgba(0,156,120,1);
}
.homePageStyle .paneWrapper .header,
.homePageStyle .leftPaneInnerWrapper .header,
.homePageStyle .leftPane .header,
.homePageStyle .SaveTemplate .header {
  color: #fff;
  background: rgba(0,156,120,1);
  height: 30px;
  line-height: 30px;
  padding-left: 10px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.homePageStyle .ui-selectmenu-menu-dropdown > li:hover,
.homePageStyle .ui-daterangepicker > ul > li:hover {
  background: rgba(0,156,120,1);
}
.homePageStyle .portal-page .portlet-header.ui-widget-header {
  background-color: rgba(0,156,120,1) !important;
}
.homePageStyle input[type="radio"] {
  border: 2px solid rgba(0,156,120,1);
}
.homePageStyle input[type="radio"]:checked::before {
  color: rgba(0,156,120,1);
}
.homePageStyle input[type="checkbox"] {
  border: 1px solid rgba(0,156,120,1);
  border-radius: 3px;
}
.homePageStyle .moduleSubmenuDropdownHolder li:hover,
.homePageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.homePageStyle .dashboardSubmenuItemList li:hover {
  background-color: rgba(0,156,120,1);
}
.homePageStyle .copyrightContainer {
  background: rgba(0,156,120,1);
}
.homePageStyle input[type='textbox'],
.homePageStyle input[type='text'],
.homePageStyle .ui-widget-content.ui-corner-all.txtbox,
.homePageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.homePageStyle .customSelectBox input {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,156,120,1)), to(rgba(0,156,120,1))), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), linear-gradient(#D2D2D2, #D2D2D2);
}
.homePageStyle .wizardProgressIndicatorCls li.active:before,
.homePageStyle .wizardProgressIndicatorCls li.active:after {
  background: rgba(0,156,120,1);
}
.homePageStyle .moduleSubmenuDropdownHolder li:hover,
.homePageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.homePageStyle .dashboardSubmenuItemList li:hover {
  background: rgba(0,156,120,1);
  opacity: 0.8;
}
.homePageStyle .ui-datepicker-calendar .ui-state-active {
  color: rgba(0,156,120,1);
  text-shadow: none;
  font-weight: bold !important;
}
.homePageStyle .bookmarkItemListCls > a.ui-state-focus {
  background: rgba(0,156,120,1) !important;
  text-shadow: none !important;
}
/*.@{page} .dashboardUiCls{
    background: @bgcolor;
    color: @color;
  }

  .@{page} .SaveTemplate .header, .@{page} .leftPane .header, .@{page} .leftPaneInnerWrapper .header, .@{page} .paneWrapper .header{
    background: @bgcolor;
    height: 25px;
  }

  .@{page} :not(.dashboardSummaryHolderDiv) > a.ui-button {
    background: @bgcolor;
    color: @color;
  }

  */
/*-------- ACCOUNTS PAGE -------- */
/*@bgcolor : @GLOBAL_THEME_COLOR;
  @color   : @GLOBAL_FONT_COLOR;*/
.acctMgmtPageStyle #outer-north {
  background: #5B6ABF;
  color: #FFF;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.acctMgmtPageStyle .cardTitle {
  color: #5B6ABF;
}
.acctMgmtPageStyle .cardLinks > span {
  color: #5B6ABF;
}
.acctMgmtPageStyle .formActionItemPlaceholder .cardTitle {
  color: #5B6ABF;
  background: #5B6ABF;
}
.acctMgmtPageStyle .formActionItemPlaceholder .cardLinks > span {
  color: #5B6ABF;
  background: #5B6ABF;
}
.acctMgmtPageStyle .mainSubmenuItemsCls li a:hover,
.acctMgmtPageStyle .mainSubmenuItemsCls li a.hovered {
  color: #5B6ABF !important;
  border-bottom: 3px solid #5B6ABF !important;
}
.acctMgmtPageStyle .dashboardSelectedItem {
  border-bottom: 4px solid #5B6ABF;
}
.acctMgmtPageStyle .innerPortletsContainer .portlet-header .portlet-title {
  color: #5B6ABF;
}
.acctMgmtPageStyle .copyrightContainer {
  border-top: 3px solid #5B6ABF;
}
.acctMgmtPageStyle .paneWrapper .header,
.acctMgmtPageStyle .leftPaneInnerWrapper .header,
.acctMgmtPageStyle .leftPane .header,
.acctMgmtPageStyle .SaveTemplate .header {
  color: #fff;
  background: #5B6ABF;
  height: 30px;
  line-height: 30px;
  padding-left: 10px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.acctMgmtPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.acctMgmtPageStyle .ui-daterangepicker > ul > li:hover {
  background: #5B6ABF;
}
.acctMgmtPageStyle .portal-page .portlet-header.ui-widget-header {
  background-color: #5B6ABF !important;
}
.acctMgmtPageStyle input[type="radio"] {
  border: 2px solid #5B6ABF;
}
.acctMgmtPageStyle input[type="radio"]:checked::before {
  color: #5B6ABF;
}
.acctMgmtPageStyle input[type="checkbox"] {
  border: 1px solid #5B6ABF;
  border-radius: 3px;
}
.acctMgmtPageStyle .moduleSubmenuDropdownHolder li:hover,
.acctMgmtPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.acctMgmtPageStyle .dashboardSubmenuItemList li:hover {
  background-color: #5B6ABF;
}
.acctMgmtPageStyle .copyrightContainer {
  background: #5B6ABF;
}
.acctMgmtPageStyle input[type='textbox'],
.acctMgmtPageStyle input[type='text'],
.acctMgmtPageStyle .ui-widget-content.ui-corner-all.txtbox,
.acctMgmtPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.acctMgmtPageStyle .customSelectBox input {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5B6ABF), to(#5B6ABF)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(#5B6ABF, #5B6ABF), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#5B6ABF, #5B6ABF), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#5B6ABF, #5B6ABF), linear-gradient(#D2D2D2, #D2D2D2);
}
.acctMgmtPageStyle .wizardProgressIndicatorCls li.active:before,
.acctMgmtPageStyle .wizardProgressIndicatorCls li.active:after {
  background: #5B6ABF;
}
.acctMgmtPageStyle .moduleSubmenuDropdownHolder li:hover,
.acctMgmtPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.acctMgmtPageStyle .dashboardSubmenuItemList li:hover {
  background: #5B6ABF;
  opacity: 0.8;
}
.acctMgmtPageStyle .ui-datepicker-calendar .ui-state-active {
  color: #5B6ABF;
  text-shadow: none;
  font-weight: bold !important;
}
.acctMgmtPageStyle .bookmarkItemListCls > a.ui-state-focus {
  background: #5B6ABF !important;
  text-shadow: none !important;
}
/*.@{page} .dashboardUiCls{
    background: @bgcolor;
    color: @color;
  }

  .@{page} .SaveTemplate .header, .@{page} .leftPane .header, .@{page} .leftPaneInnerWrapper .header, .@{page} .paneWrapper .header{
    background: @bgcolor;
    height: 25px;
  }

  .@{page} :not(.dashboardSummaryHolderDiv) > a.ui-button {
    background: @bgcolor;
    color: @color;
  }

  */
/*-------- CASHFLOW PAGE -------- */
/*@bgcolor : @GLOBAL_THEME_COLOR;
  @color   : @GLOBAL_FONT_COLOR;*/
.cashMgmtPageStyle #outer-north {
  background: rgba(0,156,120,1);
  color: #FFF;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cashMgmtPageStyle .cardTitle {
  color: rgba(0,156,120,1);
}
.cashMgmtPageStyle .cardLinks > span {
  color: rgba(0,156,120,1);
}
.cashMgmtPageStyle .formActionItemPlaceholder .cardTitle {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.cashMgmtPageStyle .formActionItemPlaceholder .cardLinks > span {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.cashMgmtPageStyle .mainSubmenuItemsCls li a:hover,
.cashMgmtPageStyle .mainSubmenuItemsCls li a.hovered {
  color: rgba(0,156,120,1) !important;
  border-bottom: 3px solid rgba(0,156,120,1) !important;
}
.cashMgmtPageStyle .dashboardSelectedItem {
  border-bottom: 4px solid rgba(0,156,120,1);
}
.cashMgmtPageStyle .innerPortletsContainer .portlet-header .portlet-title {
  color: rgba(0,156,120,1);
}
.cashMgmtPageStyle .copyrightContainer {
  border-top: 3px solid rgba(0,156,120,1);
}
.cashMgmtPageStyle .paneWrapper .header,
.cashMgmtPageStyle .leftPaneInnerWrapper .header,
.cashMgmtPageStyle .leftPane .header,
.cashMgmtPageStyle .SaveTemplate .header {
  color: #fff;
  background: rgba(0,156,120,1);
  height: 30px;
  line-height: 30px;
  padding-left: 10px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.cashMgmtPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.cashMgmtPageStyle .ui-daterangepicker > ul > li:hover {
  background: rgba(0,156,120,1);
}
.cashMgmtPageStyle .portal-page .portlet-header.ui-widget-header {
  background-color: rgba(0,156,120,1) !important;
}
.cashMgmtPageStyle input[type="radio"] {
  border: 2px solid rgba(0,156,120,1);
}
.cashMgmtPageStyle input[type="radio"]:checked::before {
  color: rgba(0,156,120,1);
}
.cashMgmtPageStyle input[type="checkbox"] {
  border: 1px solid rgba(0,156,120,1);
  border-radius: 3px;
}
.cashMgmtPageStyle .moduleSubmenuDropdownHolder li:hover,
.cashMgmtPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.cashMgmtPageStyle .dashboardSubmenuItemList li:hover {
  background-color: rgba(0,156,120,1);
}
.cashMgmtPageStyle .copyrightContainer {
  background: rgba(0,156,120,1);
}
.cashMgmtPageStyle input[type='textbox'],
.cashMgmtPageStyle input[type='text'],
.cashMgmtPageStyle .ui-widget-content.ui-corner-all.txtbox,
.cashMgmtPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.cashMgmtPageStyle .customSelectBox input {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,156,120,1)), to(rgba(0,156,120,1))), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), linear-gradient(#D2D2D2, #D2D2D2);
}
.cashMgmtPageStyle .wizardProgressIndicatorCls li.active:before,
.cashMgmtPageStyle .wizardProgressIndicatorCls li.active:after {
  background: rgba(0,156,120,1);
}
.cashMgmtPageStyle .moduleSubmenuDropdownHolder li:hover,
.cashMgmtPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.cashMgmtPageStyle .dashboardSubmenuItemList li:hover {
  background: rgba(0,156,120,1);
  opacity: 0.8;
}
.cashMgmtPageStyle .ui-datepicker-calendar .ui-state-active {
  color: rgba(0,156,120,1);
  text-shadow: none;
  font-weight: bold !important;
}
.cashMgmtPageStyle .bookmarkItemListCls > a.ui-state-focus {
  background: rgba(0,156,120,1) !important;
  text-shadow: none !important;
}
/*.@{page} .dashboardUiCls{
    background: @bgcolor;
    color: @color;
  }

  .@{page} .SaveTemplate .header, .@{page} .leftPane .header, .@{page} .leftPaneInnerWrapper .header, .@{page} .paneWrapper .header{
    background: @bgcolor;
    height: 25px;
  }

  .@{page} :not(.dashboardSummaryHolderDiv) > a.ui-button {
    background: @bgcolor;
    color: @color;
  }

  */
/*-------- PAYMENT PAGE -------- */
/*@bgcolor : @GLOBAL_THEME_COLOR;
  @color   : @GLOBAL_FONT_COLOR;*/
.pmtTranPageStyle #outer-north {
  background: rgba(0,156,120,1);
  color: #FFF;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.pmtTranPageStyle .cardTitle {
  color: rgba(0,156,120,1);
}
.pmtTranPageStyle .cardLinks > span {
  color: rgba(0,156,120,1);
}
.pmtTranPageStyle .formActionItemPlaceholder .cardTitle {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.pmtTranPageStyle .formActionItemPlaceholder .cardLinks > span {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.pmtTranPageStyle .mainSubmenuItemsCls li a:hover,
.pmtTranPageStyle .mainSubmenuItemsCls li a.hovered {
  color: rgba(0,156,120,1) !important;
  border-bottom: 3px solid rgba(0,156,120,1) !important;
}
.pmtTranPageStyle .dashboardSelectedItem {
  border-bottom: 4px solid rgba(0,156,120,1);
}
.pmtTranPageStyle .innerPortletsContainer .portlet-header .portlet-title {
  color: rgba(0,156,120,1);
}
.pmtTranPageStyle .copyrightContainer {
  border-top: 3px solid rgba(0,156,120,1);
}
.pmtTranPageStyle .paneWrapper .header,
.pmtTranPageStyle .leftPaneInnerWrapper .header,
.pmtTranPageStyle .leftPane .header,
.pmtTranPageStyle .SaveTemplate .header {
  color: #fff;
  background: rgba(0,156,120,1);
  height: 30px;
  line-height: 30px;
  padding-left: 10px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.pmtTranPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.pmtTranPageStyle .ui-daterangepicker > ul > li:hover {
  background: rgba(0,156,120,1);
}
.pmtTranPageStyle .portal-page .portlet-header.ui-widget-header {
  background-color: rgba(0,156,120,1) !important;
}
.pmtTranPageStyle input[type="radio"] {
  border: 2px solid rgba(0,156,120,1);
}
.pmtTranPageStyle input[type="radio"]:checked::before {
  color: rgba(0,156,120,1);
}
.pmtTranPageStyle input[type="checkbox"] {
  border: 1px solid rgba(0,156,120,1);
  border-radius: 3px;
}
.pmtTranPageStyle .copyrightContainer {
  background: rgba(0,156,120,1);
}
.pmtTranPageStyle input[type='textbox'],
.pmtTranPageStyle input[type='text'],
.pmtTranPageStyle .ui-widget-content.ui-corner-all.txtbox,
.pmtTranPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.pmtTranPageStyle .customSelectBox input {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,156,120,1)), to(rgba(0,156,120,1))), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), linear-gradient(#D2D2D2, #D2D2D2);
}
.pmtTranPageStyle .wizardProgressIndicatorCls li.active:before,
.pmtTranPageStyle .wizardProgressIndicatorCls li.active:after {
  background: rgba(0,156,120,1);
}
.pmtTranPageStyle .moduleSubmenuDropdownHolder li:hover, .pmtTranPageStyle .moduleSubmenuDropdownHolder li:focus,
.pmtTranPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover, .pmtTranPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:focus,
.pmtTranPageStyle .dashboardSubmenuItemList li:hover, .pmtTranPageStyle .dashboardSubmenuItemList li:focus {
  background: rgba(0,156,120,1);
  opacity: 0.8;
  color: #fff !important;
}
.dashboardSubmenuItemList li:hover > a, .dashboardSubmenuItemList li:focus > a {
  color: #fff !important;
}
.pmtTranPageStyle .ui-datepicker-calendar .ui-state-active {
  color: rgba(0,156,120,1);
  text-shadow: none;
  font-weight: bold !important;
}
.pmtTranPageStyle .bookmarkItemListCls > a.ui-state-focus {
  background: rgba(0,156,120,1) !important;
  text-shadow: none !important;
}
/*.@{page} .dashboardUiCls{
    background: @bgcolor;
    color: @color;
  }

  .@{page} .SaveTemplate .header, .@{page} .leftPane .header, .@{page} .leftPaneInnerWrapper .header, .@{page} .paneWrapper .header{
    background: @bgcolor;
    height: 25px;
  }

  .@{page} :not(.dashboardSummaryHolderDiv) > a.ui-button {
    background: @bgcolor;
    color: @color;
  }

  */
/*-------- ADMIN PAGE -------- */
/*@bgcolor : @GLOBAL_THEME_COLOR;
  @color   : @GLOBAL_FONT_COLOR;*/
.adminPageStyle #outer-north {
  background: rgba(0,156,120,1);
  color: #FFF;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.adminPageStyle .cardTitle {
  color: rgba(0,156,120,1);
}
.adminPageStyle .cardLinks > span {
  color: rgba(0,156,120,1);
}
.adminPageStyle .formActionItemPlaceholder .cardTitle {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.adminPageStyle .formActionItemPlaceholder .cardLinks > span {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.adminPageStyle .mainSubmenuItemsCls li a:hover,
.adminPageStyle .mainSubmenuItemsCls li a.hovered {
  color: rgba(0,156,120,1) !important;
  border-bottom: 3px solid rgba(0,156,120,1) !important;
}
.adminPageStyle .dashboardSelectedItem {
  border-bottom: 4px solid rgba(0,156,120,1);
}
.adminPageStyle .innerPortletsContainer .portlet-header .portlet-title {
  color: rgba(0,156,120,1);
}
.adminPageStyle .copyrightContainer {
  border-top: 3px solid rgba(0,156,120,1);
}
.adminPageStyle .paneWrapper .header,
.adminPageStyle .leftPaneInnerWrapper .header,
.adminPageStyle .leftPane .header,
.adminPageStyle .SaveTemplate .header {
  color: #fff;
  background: rgba(0,156,120,1);
  height: 30px;
  line-height: 30px;
  padding-left: 10px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.adminPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.adminPageStyle .ui-daterangepicker > ul > li:hover {
  background: rgba(0,156,120,1);
}
.adminPageStyle .portal-page .portlet-header.ui-widget-header {
  background-color: rgba(0,156,120,1) !important;
}
.adminPageStyle input[type="radio"] {
  border: 2px solid rgba(0,156,120,1);
}
.adminPageStyle input[type="radio"]:checked::before {
  color: rgba(0,156,120,1);
}
.adminPageStyle input[type="checkbox"] {
  border: 1px solid rgba(0,156,120,1);
  border-radius: 3px;
}
.adminPageStyle .moduleSubmenuDropdownHolder li:hover,
.adminPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.adminPageStyle .dashboardSubmenuItemList li:hover {
  background-color: rgba(0,156,120,1);
}
.adminPageStyle .copyrightContainer {
  background: rgba(0,156,120,1);
}
.adminPageStyle input[type='textbox'],
.adminPageStyle input[type='text'],
.adminPageStyle .ui-widget-content.ui-corner-all.txtbox,
.adminPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.adminPageStyle .customSelectBox input {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,156,120,1)), to(rgba(0,156,120,1))), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), linear-gradient(#D2D2D2, #D2D2D2);
}
.adminPageStyle .wizardProgressIndicatorCls li.active:before,
.adminPageStyle .wizardProgressIndicatorCls li.active:after {
  background: rgba(0,156,120,1);
}
.adminPageStyle .moduleSubmenuDropdownHolder li:hover,
.adminPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.adminPageStyle .dashboardSubmenuItemList li:hover {
  background: rgba(0,156,120,1);
  opacity: 0.8;
}
.adminPageStyle .ui-datepicker-calendar .ui-state-active {
  color: rgba(0,156,120,1);
  text-shadow: none;
  font-weight: bold !important;
}
.adminPageStyle .bookmarkItemListCls > a.ui-state-focus {
  background: rgba(0,156,120,1) !important;
  text-shadow: none !important;
}
/*.@{page} .dashboardUiCls{
    background: @bgcolor;
    color: @color;
  }

  .@{page} .SaveTemplate .header, .@{page} .leftPane .header, .@{page} .leftPaneInnerWrapper .header, .@{page} .paneWrapper .header{
    background: @bgcolor;
    height: 25px;
  }

  .@{page} :not(.dashboardSummaryHolderDiv) > a.ui-button {
    background: @bgcolor;
    color: @color;
  }

  */
/*-------- APPROVALS PAGE -------- */
/*@bgcolor : @GLOBAL_THEME_COLOR;
  @color   : @GLOBAL_FONT_COLOR;*/
.approvalsPageStyle #outer-north {
  background: rgba(0,156,120,1);
  color: #FFF;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.approvalsPageStyle .cardTitle {
  color: rgba(0,156,120,1);
}
.approvalsPageStyle .cardLinks > span {
  color: rgba(0,156,120,1);
}
.approvalsPageStyle .formActionItemPlaceholder .cardTitle {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.approvalsPageStyle .formActionItemPlaceholder .cardLinks > span {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.approvalsPageStyle .mainSubmenuItemsCls li a:hover,
.approvalsPageStyle .mainSubmenuItemsCls li a.hovered {
  color: rgba(0,156,120,1) !important;
  border-bottom: 3px solid rgba(0,156,120,1) !important;
}
.approvalsPageStyle .dashboardSelectedItem {
  border-bottom: 4px solid rgba(0,156,120,1);
}
.approvalsPageStyle .innerPortletsContainer .portlet-header .portlet-title {
  color: rgba(0,156,120,1);
}
.approvalsPageStyle .copyrightContainer {
  border-top: 3px solid rgba(0,156,120,1);
}
.approvalsPageStyle .paneWrapper .header,
.approvalsPageStyle .leftPaneInnerWrapper .header,
.approvalsPageStyle .leftPane .header,
.approvalsPageStyle .SaveTemplate .header {
  color: #fff;
  background: rgba(0,156,120,1);
  height: 30px;
  line-height: 30px;
  padding-left: 10px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.approvalsPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.approvalsPageStyle .ui-daterangepicker > ul > li:hover {
  background: rgba(0,156,120,1);
}
.approvalsPageStyle .portal-page .portlet-header.ui-widget-header {
  background-color: rgba(0,156,120,1) !important;
}
.approvalsPageStyle input[type="radio"] {
  border: 2px solid rgba(0,156,120,1);
}
.approvalsPageStyle input[type="radio"]:checked::before {
  color: rgba(0,156,120,1);
}
.approvalsPageStyle input[type="checkbox"] {
  border: 1px solid rgba(0,156,120,1);
  border-radius: 3px;
}
.approvalsPageStyle .moduleSubmenuDropdownHolder li:hover,
.approvalsPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.approvalsPageStyle .dashboardSubmenuItemList li:hover {
  background-color: rgba(0,156,120,1);
}
.approvalsPageStyle .copyrightContainer {
  background: rgba(0,156,120,1);
}
.approvalsPageStyle input[type='textbox'],
.approvalsPageStyle input[type='text'],
.approvalsPageStyle .ui-widget-content.ui-corner-all.txtbox,
.approvalsPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.approvalsPageStyle .customSelectBox input {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,156,120,1)), to(rgba(0,156,120,1))), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), linear-gradient(#D2D2D2, #D2D2D2);
}
.approvalsPageStyle .wizardProgressIndicatorCls li.active:before,
.approvalsPageStyle .wizardProgressIndicatorCls li.active:after {
  background: rgba(0,156,120,1);
}
.approvalsPageStyle .moduleSubmenuDropdownHolder li:hover,
.approvalsPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.approvalsPageStyle .dashboardSubmenuItemList li:hover {
  background: rgba(0,156,120,1);
  opacity: 0.8;
}
.approvalsPageStyle .ui-datepicker-calendar .ui-state-active {
  color: rgba(0,156,120,1);
  text-shadow: none;
  font-weight: bold !important;
}
.approvalsPageStyle .bookmarkItemListCls > a.ui-state-focus {
  background: rgba(0,156,120,1) !important;
  text-shadow: none !important;
}
/*.@{page} .dashboardUiCls{
    background: @bgcolor;
    color: @color;
  }

  .@{page} .SaveTemplate .header, .@{page} .leftPane .header, .@{page} .leftPaneInnerWrapper .header, .@{page} .paneWrapper .header{
    background: @bgcolor;
    height: 25px;
  }

  .@{page} :not(.dashboardSummaryHolderDiv) > a.ui-button {
    background: @bgcolor;
    color: @color;
  }

  */
/*-------- REPORTING PAGE -------- */
/*@bgcolor : @GLOBAL_THEME_COLOR;
  @color   : @GLOBAL_FONT_COLOR;*/
.reportingPageStyle #outer-north {
  background: rgba(0,156,120,1);
  color: #FFF;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.reportingPageStyle .cardTitle {
  color: rgba(0,156,120,1);
}
.reportingPageStyle .cardLinks > span {
  color: rgba(0,156,120,1);
}
.reportingPageStyle .formActionItemPlaceholder .cardTitle {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.reportingPageStyle .formActionItemPlaceholder .cardLinks > span {
  color: rgba(0,156,120,1);
  background: rgba(0,156,120,1);
}
.reportingPageStyle .mainSubmenuItemsCls li a:hover,
.reportingPageStyle .mainSubmenuItemsCls li a.hovered {
  color: rgba(0,156,120,1) !important;
  border-bottom: 3px solid rgba(0,156,120,1) !important;
}
.reportingPageStyle .dashboardSelectedItem {
  border-bottom: 4px solid rgba(0,156,120,1);
}
.reportingPageStyle .innerPortletsContainer .portlet-header .portlet-title {
  color: rgba(0,156,120,1);
}
.reportingPageStyle .copyrightContainer {
  border-top: 3px solid rgba(0,156,120,1);
}
.reportingPageStyle .paneWrapper .header,
.reportingPageStyle .leftPaneInnerWrapper .header,
.reportingPageStyle .leftPane .header,
.reportingPageStyle .SaveTemplate .header {
  color: #fff;
  background: rgba(0,156,120,1);
  height: 30px;
  line-height: 30px;
  padding-left: 10px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.reportingPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.reportingPageStyle .ui-daterangepicker > ul > li:hover {
  background: rgba(0,156,120,1);
}
.reportingPageStyle .portal-page .portlet-header.ui-widget-header {
  background-color: rgba(0,156,120,1) !important;
}
.reportingPageStyle input[type="radio"] {
  border: 2px solid rgba(0,156,120,1);
}
.reportingPageStyle input[type="radio"]:checked::before {
  color: rgba(0,156,120,1);
}
.reportingPageStyle input[type="checkbox"] {
  border: 1px solid rgba(0,156,120,1);
  border-radius: 3px;
}
.reportingPageStyle .moduleSubmenuDropdownHolder li:hover,
.reportingPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.reportingPageStyle .dashboardSubmenuItemList li:hover {
  background-color: rgba(0,156,120,1);
}
.reportingPageStyle .copyrightContainer {
  background: rgba(0,156,120,1);
}
.reportingPageStyle input[type='textbox'],
.reportingPageStyle input[type='text'],
.reportingPageStyle .ui-widget-content.ui-corner-all.txtbox,
.reportingPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.reportingPageStyle .customSelectBox input {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,156,120,1)), to(rgba(0,156,120,1))), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(rgba(0,156,120,1), rgba(0,156,120,1)), linear-gradient(#D2D2D2, #D2D2D2);
}
.reportingPageStyle .wizardProgressIndicatorCls li.active:before,
.reportingPageStyle .wizardProgressIndicatorCls li.active:after {
  background: rgba(0,156,120,1);
}
.reportingPageStyle .moduleSubmenuDropdownHolder li:hover,
.reportingPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.reportingPageStyle .dashboardSubmenuItemList li:hover {
  background: rgba(0,156,120,1);
  opacity: 0.8;
}
.reportingPageStyle .ui-datepicker-calendar .ui-state-active {
  color: rgba(0,156,120,1);
  text-shadow: none;
  font-weight: bold !important;
}
.reportingPageStyle .bookmarkItemListCls > a.ui-state-focus {
  background: rgba(0,156,120,1) !important;
  text-shadow: none !important;
}
/*.@{page} .dashboardUiCls{
    background: @bgcolor;
    color: @color;
  }

  .@{page} .SaveTemplate .header, .@{page} .leftPane .header, .@{page} .leftPaneInnerWrapper .header, .@{page} .paneWrapper .header{
    background: @bgcolor;
    height: 25px;
  }

  .@{page} :not(.dashboardSummaryHolderDiv) > a.ui-button {
    background: @bgcolor;
    color: @color;
  }

  */
/*-------- SERVICE CENTER PAGE -------- */
/*@bgcolor : @GLOBAL_THEME_COLOR;
  @color   : @GLOBAL_FONT_COLOR;*/
.serviceCenterPageStyle #outer-north {
  background: #607D8B;
  color: #FFF;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.serviceCenterPageStyle .cardTitle {
  color: #607D8B;
}
.serviceCenterPageStyle .cardLinks > span {
  color: #607D8B;
}
.serviceCenterPageStyle .formActionItemPlaceholder .cardTitle {
  color: #607D8B;
  background: #607D8B;
}
.serviceCenterPageStyle .formActionItemPlaceholder .cardLinks > span {
  color: #607D8B;
  background: #607D8B;
}
.serviceCenterPageStyle .mainSubmenuItemsCls li a:hover,
.serviceCenterPageStyle .mainSubmenuItemsCls li a.hovered {
  color: #607D8B !important;
  border-bottom: 3px solid #607D8B !important;
}
.serviceCenterPageStyle .dashboardSelectedItem {
  border-bottom: 4px solid #607D8B;
}
.serviceCenterPageStyle .innerPortletsContainer .portlet-header .portlet-title {
  color: #607D8B;
}
.serviceCenterPageStyle .copyrightContainer {
  border-top: 3px solid #607D8B;
}
.serviceCenterPageStyle .paneWrapper .header,
.serviceCenterPageStyle .leftPaneInnerWrapper .header,
.serviceCenterPageStyle .leftPane .header,
.serviceCenterPageStyle .SaveTemplate .header {
  color: #fff;
  background: #607D8B;
  height: 30px;
  line-height: 30px;
  padding-left: 10px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.serviceCenterPageStyle .ui-selectmenu-menu-dropdown > li:hover,
.serviceCenterPageStyle .ui-daterangepicker > ul > li:hover {
  background: #607D8B;
}
.serviceCenterPageStyle .portal-page .portlet-header.ui-widget-header {
  background-color: #607D8B !important;
}
.serviceCenterPageStyle input[type="radio"] {
  border: 2px solid #607D8B;
}
.serviceCenterPageStyle input[type="radio"]:checked::before {
  color: #607D8B;
}
.serviceCenterPageStyle input[type="checkbox"] {
  border: 1px solid #607D8B;
  border-radius: 3px;
}
.serviceCenterPageStyle .moduleSubmenuDropdownHolder li:hover,
.serviceCenterPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.serviceCenterPageStyle .dashboardSubmenuItemList li:hover {
  background-color: #607D8B;
}
.serviceCenterPageStyle .copyrightContainer {
  background: #607D8B;
}
.serviceCenterPageStyle input[type='textbox'],
.serviceCenterPageStyle input[type='text'],
.serviceCenterPageStyle .ui-widget-content.ui-corner-all.txtbox,
.serviceCenterPageStyle a.ui-selectmenu.ui-selectmenu-dropdown,
.serviceCenterPageStyle .customSelectBox input {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#607D8B), to(#607D8B)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(#607D8B, #607D8B), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#607D8B, #607D8B), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#607D8B, #607D8B), linear-gradient(#D2D2D2, #D2D2D2);
}
.serviceCenterPageStyle .wizardProgressIndicatorCls li.active:before,
.serviceCenterPageStyle .wizardProgressIndicatorCls li.active:after {
  background: #607D8B;
}
.serviceCenterPageStyle .moduleSubmenuDropdownHolder li:hover,
.serviceCenterPageStyle .gridTabDropdownHolder span[class~="gridTabDropdownItem"]:hover,
.serviceCenterPageStyle .dashboardSubmenuItemList li:hover {
  background: #607D8B;
  opacity: 0.8;
}
.serviceCenterPageStyle .ui-datepicker-calendar .ui-state-active {
  color: #607D8B;
  text-shadow: none;
  font-weight: bold !important;
}
.serviceCenterPageStyle .bookmarkItemListCls > a.ui-state-focus {
  background: #607D8B !important;
  text-shadow: none !important;
}
/*.@{page} .dashboardUiCls{
    background: @bgcolor;
    color: @color;
  }

  .@{page} .SaveTemplate .header, .@{page} .leftPane .header, .@{page} .leftPaneInnerWrapper .header, .@{page} .paneWrapper .header{
    background: @bgcolor;
    height: 25px;
  }

  .@{page} :not(.dashboardSummaryHolderDiv) > a.ui-button {
    background: @bgcolor;
    color: @color;
  }

  */
/**
   topbar less.
*/
.topBarBankLogo {
  background: none;
  width: 0;
  min-width: 0;
}
.topbarCenterDiv {
  display: none;
}
.topbarRightDiv {
  height: auto;
  width: 240px;
  min-width: auto !important;
  margin-right: 0px;
  position: fixed;
  top: 0;
  right: 0;
}
.topbarRightDiv li.ffiUiIcoMedium.globalMsgIcoCls {
  background-size: 60%;
  background-repeat: no-repeat;
  margin: 10px 10px 0 0;
}
.topbarRightDiv li {
    list-style: none;
}
.topbarRightDiv li a.ffiUiIcoMedium.globalMsgIcoCls {
  background-size: 60%;
  background-repeat: no-repeat;
  margin: 4px 10px 0 0;
}
.topbarRightDiv .headerBarLinks {
  margin: 0;
  padding: 0;
}
.topbarRightDiv .headerBarLinks > a {
  background-size: 90%;
  background-repeat: no-repeat;
}
.topbarRightDiv .newNotifiationIndicatorCls {
  border-radius: 50%;
  margin: -10px 0px 0px 0px;
  padding: 4px 3px;
  font-size: 12px;
  box-shadow: -1px 1px 2px #000000;
}
.topbarLeftDiv {
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}
.bookmarkBoxHolder {
  display: block;
  height: 15px;
  width: 11px;
  float: left;
  padding: 0;
  position: absolute;
  left: 40px;
}
.bookmarkBoxHolder input#shortcutSearchInput {
  height: 35px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-left: 35px;
  width: 0px;
  position: absolute;
  top: 0;
  left: -104px;
  background: none;
  background-color: transparent !important;
  z-index: 3;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  cursor: pointer;
}
.bookmarkBoxHolder input#shortcutSearchInput:focus {
  width: 275px;
  z-index: 5;
  cursor: text;
  background-color: rgba(255, 255, 255, 1) !important;
  color: #5f5f5f !important;
  border: none;
  padding-left: 5px;
}
.bookmarkBoxHolder input#shortcutSearchInput:focus:hover {
  border-bottom: 1px solid #BBBBBB;
}
.bookmarkSearchIconHolder {
  height: 30px;
  width: 30px;
  float: right;
  background: url("../grafx/new/search.png");
  background-size: 70%;
  background-position: inherit;
  background-repeat: no-repeat;
  text-indent: -10000px;
  border: none;
  top: 10px;
  right: 70px;
  z-index: 3;
  cursor: pointer;
  transition: opacity .4s ease;
  margin-top: 0;
}
.bookmarkSearchIconHolder:hover {
  /* opacity: 0.8;*/
}
.shortcutHolderAnchor {
  margin: 0 !important;
}
li.shortcutHeaderItem.ui-menu-item > a {
  pointer-events: none;
}
li.shortcutHeaderItem.ui-menu-item > a.ui-state-focus {
  background: transparent !important;
  text-shadow: none !important;
}
.profileInfoContainer {
  height: 45px;
  margin-top: 10px;
  position: fixed;
  cursor: pointer;
}
.profileInfoContainer .avatar {
  height: 35px;
  width: 35px;
  float: left;
  background: url("../grafx/new/user.png");
  background-size: 70%;
  margin-top: 2px;
  background-position: inherit;
  background-repeat: no-repeat;
}
.profileInfoContainer .userFullName {
  opacity: 0.9;
}
.profileInfoContainer:hover > .profileActivityContent {
  max-height: 999px;
  visibility: visible;
}
/* ----------- ICONS OVERRIDE ------------- */
.ffiUiIcoMedium.ffiUiIco-icon-cloud,
.ffiUiIcoMedium.ffiUiIco-icon-cloud-active {
  background-image: url("../grafx/new/globalMsg.png");
  display: block;
  width: 47px;
  /* height: 27px;*/
  background-position: inherit;
}
.ffiUiIcoMedium.ffiUiIco-icon-mail {
  background-image: url("../grafx/new/messages.png");
  display: block;
  width: 40px;
  height: 40px;
  background-position: inherit;
}
.ffiUiIcoMedium.ffiUiIco-icon-alert {
  background-image: url("../grafx/new/alerts.png");
  display: block;
  width: 34px;
  height: 40px;
  background-position: inherit;
}
.ffiUiIcoMedium.ffiUiIco-icon-printer {
  background-image: url("../grafx/new/print.png");
  display: block;
  width: 44px;
  height: 40px;
  background-position: inherit;
  display: none;
  /*TODO: move to the personal settings box*/
}
.ffiUiIcoMedium.ffiUiIco-icon-approval {
  background-image: url("../grafx/new/approval.png");
  display: block;
  width: 33px;
  /*height: 26px;*/
  background-position: inherit;
}
a#logoutLink {
  background-image: url("../grafx/new/logout.png");
  display: block;
  width: 25px;
  height: 25px;
  background-position: inherit;
  border: 0;
  margin-top: 12px;
  margin: 0;
  padding: 0;
  margin-top: 4px;
}
a#logoutLink > span {
  display: none;
}
.globalMsgIcoCls {
  margin-right: 3%;
}
/* ----------- ICONS OVERRIDE ------------- */
/* ----------- PROFILE ACTIVITY BOX ----------- */
.profileActivityContent {
  max-height: 0;
  width: 230px;
  font-size: 14px;
  border: 1px solid #BBBBBB;
  position: absolute;
  top: 36px;
  left: -28px;
  z-index: 2;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: max-height 0.25s;
  -moz-transition: max-height 0.25s;
  -ms-transition: max-height 0.25s;
  -o-transition: max-height 0.25s;
  transition: max-height 0.25s;
}
.profileActivityContent > span {
  height: 50px;
  background-color: #f2f2f2;
  width: 200px;
  padding-left: 30px;
  color: #065292;
  border-bottom: 1px solid #ccc;
  display: block;
  font-size: 15px;
  line-height: 45px;
}
.profileActivityContent > span:hover {
  background: #fff;
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}
/* ----------- PROFILE ACTIVITY BOX ----------- */
/*
   menu less.
*/
/*------MENU STYLE-------*/
#outer-north {
  border: none;
  height: 50px !important;
  z-index: 1 !important;
}
.mainContainer {
  top: 0 !important;
  height: 93% !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
.mainMenuBtnBarcls {
  display: table;
}
.mainMenuBtnBarcls a {
  color: #fff !important;
  display: block;
  font-size: 17px;
  margin: 0 auto;
  padding: 5px 10px 0 10px;
  box-sizing: border-box;
  text-shadow: none;
  width: 100%;
  height: 100%;
  text-decoration: none;
  outline: none;
}
.mainMenuBtnBarcls a.hovered {
  /*color: #fff !important;*/
  border-bottom: 6px solid white;
}
.mainMenuBtnBarcls li {
  height: 40px;
  width: auto;
  margin-bottom: 0;
  /*margin-right: 25px;*/
  cursor: pointer;
  float: left;
  text-align: center;
  display: inline-block;
}
.mainMenuBtnBarcls li a {
  -webkit-filter: opacity(70%);
}
.mainMenuBtnBarcls li:hover > div.submenuHolderBgCls {
  transition: none !important;
}
.mainSubmenuItemsCls {
  height: 50px;
  width: auto;
  display: inline-block;
  padding-left: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.mainSubmenuItemsCls li {
  border: none;
  box-shadow: none;
  width: auto;
  margin: 0 !important;
  height: 100%;
  padding: 0 15px;
  line-height: 40px;
  display: inline-block;
}
.mainSubmenuItemsCls li a {
  color: #8B8888 !important;
  font-size: 16px !important;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
  -webkit-filter: opacity(100%);
}
.mainSubmenuItemsCls li a.hovered.ui-state-hover {
  background-color: yellow;
  color: red;
}
.mainSubmenuItemsCls li:hover > .formActionItemHolder {
  display: block !important;
}
.submenuHelpIcon {
  display: none;
}
span.ffiUiIco-menuItem {
  display: none;
}
.selectedMainMenuItemCls a {
  -webkit-filter: opacity(100%) !important;
}
.submenuHolderBgCls {
  position: absolute;
  width: 72%;
  height: auto;
  background-image: none !important;
  background: #fff;
  margin-top: -95px;
  /*height: 600px;
    max-height: 274px;*/
  /*border: none;*/
  box-shadow: none;
  visibility: hidden;
  top: 144px;
  left: 14%;
  border-top: none;
  border-radius: 3px;
  transition: none !important;
  /*transition: max-height .3s, visibility .1s;

  -webkit-transition: max-height .3s, visibility .1s;
  -moz-transition: max-height .3s, visibility .1s;
  -o-transition: max-height .3s, visibility .1s;*/
}
.submenuListContainer {
  position: relative;
  height: 99%;
  background: #fff;
  border: 1px solid #bbb;
  border-top: 0;
  /* margin-top: 60px; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.submenuListBg {
  display: none;
  /* width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0px;
    background-color: #fff;
    border-bottom: 1px solid #bbb;
    z-index: -1;*/
}
span.mainMenuItemCls {
  display: none;
}
.menuFileHolder {
  height: 100%;
  display: table;
  margin: 0 auto;
}
.formActionItemPlaceholder {
  background-color: #fff;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #bbb;
  border-top: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  position: absolute;
  cursor: default;
}
.formActionItemPlaceholder .subMenuCard {
  height: 180px;
  box-shadow: none;
  opacity: 0.3;
  border: 1px solid #bbb;
}
.formActionItemPlaceholder > div {
  padding-top: 35px;
}
.formActionItemPlaceholder .cardTitle {
  display: inline !important;
  left: -27px;
  position: relative;
}
.formActionItemPlaceholder .cardSummary {
  text-align: initial;
  padding-left: 15px;
}
.formActionItemPlaceholder .cardSummary > span {
  background: #A09D9D;
  display: inline !important;
  text-align: left !important;
}
.formActionItemPlaceholder .cardLinks {
  display: table-row-group;
  width: 100%;
}
.formActionItemPlaceholder .cardLinks > span {
  display: inline-block;
  height: 19px;
  margin: 10px 0;
}
.formActionItemPlaceholder .cardLinks > span:nth-child(1) {
  position: relative;
  left: -13px;
}
.formActionItemPlaceholder .cardLinks > span:nth-child(2) {
  position: relative;
  right: -15px;
}
.formActionItemHolder {
  width: 100%;
  height: auto;
  padding-top: 48px;
  left: 0;
  background: #fff;
  position: absolute;
  z-index: 1;
  display: none;
}
.formActionItemHolder > div {
  display: table;
  background: #fff;
  /*border-top: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 2%;*/
  text-align: center;
  margin: 0 auto;
  border: none;
  /*min-width: 66%;*/
  height: auto;
  width: 100%;
  padding-top: 0;
  padding-bottom: 30px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  /*display: table;
        table-layout: fixed;
        margin: 0 auto;
        background-color: #fff;
        width: 100%;
        top: -2px;
        box-sizing: border-box;
        border-top: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 30px;
        text-align: center;*/
}
.formActionItemHolder span:not(:first-child) {
  float: none;
}
.formActionItemHolder span:not(:last-child):not(.removeComma):after {
  content: '';
}
.subMenuCard {
  border: 1px solid #ddd;
  box-shadow: 2px 6px 10px -1px #BDB7B7;
  height: 160px;
  width: 210px;
  font-size: 13px;
  margin: 30px 15px 0;
  text-align: center;
  display: inline-table;
}
.subMenuCard .cardTitle {
  display: block;
  width: 100%;
  height: 40px;
  vertical-align: middle;
  font-size: 15px;
  line-height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
  text-align: left;
}
.subMenuCard .cardSummary {
    cursor: help;
    height: 107px;
    width: 100%;
   /* background-image: url(../images/openNewwin.png);*/
    display: table;
    background-repeat: no-repeat;
    background-position-y: 80px;
    background-position-x: 185px;
}
.subMenuCard .cardSummary > span {
  height: 100%;
  width: 100%;
  display: inline-block;
  line-height: 25px;
  padding: 0 10px;
  white-space: normal;
  box-sizing: border-box;
  color: #A09D9D;
  font-weight: normal;
  text-align: left;
}
.cardLinks {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #ddd;
}
.cardLinks > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  float: none;
  font-weight: normal;
  height: 40px;
  box-sizing: border-box;
  text-shadow: 0px 0px #ccc;
  white-space: pre-line;
  line-height: 14px;
  text-align-last: initial;
}
.cardLinks > span:nth-child(1) {
  text-align: left;
  padding-left: 10px;
}
.cardLinks > span:nth-child(2) {
  text-align: right;
  padding-right: 10px;
}
.overlayBg {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #000;
  opacity: 0.5;
  z-index: 1;
  display: none;
}
/* Large screens ----------- */
/*@media only screen and (max-width: 1600px) {
  .formActionItemHolder > div {
    min-width: 50%;
  }
}*/
/* Desktops and laptops ----------- */
/*@media only screen and (max-width: 1280px) {
  .formActionItemHolder > div {
    min-width: 70%;
  }
}*/
/**
   home less.
*/
.portal-page {
  height: 99%;
}
.portal-page .portlet.innerPortletsContainer {
  box-shadow: none;
  border: 1px solid #e1e1e1 !important;
  width: 98%;
  margin: 0 auto 3% auto;
}
.portal-page .portlet-header.ui-widget-header {
  height: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.portal-page .portlet-header.ui-widget-header span.portlet-title {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 25px;
  padding-left: 10px;
  display: block;
}
.portal-page .portlet-header.ui-widget-header .customContainerCls {
  margin-top: 0;
}
.portal-page .portlet-header.ui-widget-header .customContainerCls .portletSettingsIcon {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 0 #fff,0px 12px 0 #fff,0px 20px 0 #fff;
  padding: 0 !important;
  margin-right: 15px;
  border: none;
  -webkit-mask-image: none;
}
.portal-page .portlet-header.ui-widget-header .icon-action-settings:before {
  content: "";
  height: 25px;
  width: 25px;
  display: block;
  /* background-image: url("../grafx/new/sideMenuIcon.png");
      background-color: @PORTLET_HEADER_BG;
      display: inline-block;
      height: 25px;
      width: 5px;
      margin-left: 10px;*/
}
.portal-page .portlet-content {
  margin-top: 0px;
  height: 333px;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget {
  padding: 0;
  border: none;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-hdiv {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-hdiv .ui-th-column,
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-hdiv .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
  background: none;
  height: 50px;
  background-color: #FFFFFF;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-pager {
  height: 45px;
  width: 100% !important;
  border: none;
  background: #FFFFFF;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-view .ui-jqgrid-bdiv table.ui-jqgrid-btable > tbody > tr:last-child {
  border-bottom: 0 !important;
  border-bottom-color: #FFFFFF !important;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-pager .ui-pager-control {
  margin: 0;
  height: 100%;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-pager .ui-pager-control .ui-pg-table {
  height: 25px;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-pager .ui-pager-control .ui-pg-table .portletGridGoToModuleLink {
  background: none;
  border: none;
  padding: 0px !important;
  color: #5379b5;
  font-weight: 600;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-bdiv table > tbody .ui-widget-content {
  border: 1px solid #ECECEC;
  background: #f9f9f9;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-bdiv table > tbody .ui-widget-content.ui-state-zebra {
  background: #FFFFFF;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-bdiv table > tbody .ui-widget-content > td > span.sapUiIconCls {
  display: none;
}
/*.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-bdiv table > tbody .ui-widget-content > td:not(:first-child) {
  padding-left: 8px !important;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-bdiv table > tbody .ui-widget-content > td:first-child {
  padding-left: 10px;
}
*/
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-bdiv table > tbody .ui-widget-content > td {
  padding-left: 8px !important;
}
.portal-page .portlet-content .ui-accordion .ui-accordion-content {
  padding: 0;
}
.portal-page .portlet-content .ui-jqgrid.ui-widget .ui-jqgrid-bdiv table > tbody .ui-widget-content > td:first-child {
  padding-left: 10px !important;
}
.portal-page .portlet-content h3.ui-accordion-header.ui-state-default {
  background: -webkit-linear-gradient(top, #FFFAFA 0%, #E8E3E3 100%);
  color: #847979;
  border: none;
  height: 30px;
  line-height: 30px;
  margin-bottom: 1px;
}
.portal-page .portlet-content h3.ui-accordion-header.ui-state-default.ui-accordion-header-active {
    background: #869bb5;
    color: #fff;
}
.portal-page .portlet-content h3.ui-accordion-header.ui-state-default.ui-accordion-header:not(.ui-accordion-header-active) {
    background: #a2c2ea;
    color: #fff;
}
.innerPortletsContainer .portlet-header .portlet-title {
  display: block;
}
/**
   dashboard less.
*/
.dashboardUiCls {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 5px;
}
.dashboardUiCls a:not(.ui-selectmenu) {
  height: 35px;
}
.desktopContentCls {
  background: #f5f5f5;
  border: 1px solid #efefef;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.mainContainer {
  height: 94% !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  width: 99% !important;
  margin: .5% !important;
}
.mainMenuBgCls {
  background-image: none !important;
  background: #e1e1e1;
}
.moduleSubmenuItemCls {
  border-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.moduleSubmenuItemCls .moduleDropdownMenuIcon {
  background-image: none;
}
.moduleSubmenuLbl {
  padding-left: 3px;
}
.moduleSubmenuDropdownLbl {
  padding-left: 0 !important;
}
.moduleSubmenuDropdownHolder li {
  padding-left: 15px;
}
.moduleSubmenuDropdownHolder li .moduleDropdownMenuIcon {
  background-image: none;
}
.moduleSubmenuItemCls li, .dropdownMenuBar li {
  list-style: none;
}
.middle-north,
#middle-north {
  background: #e1e1e1;
}
.innerPortletsContainer {
  border: none !important;
}
.dashboardSummaryHolderDiv a:not(.ui-selectmenu):hover > span:not(.dashboardSelectedItem) {
  border-bottom: none;
}
.dashboardCustomDiv a:not(.ui-selectmenu) {
  border: none;
  box-shadow: none;
}
.dashboardCustomDiv a:not(.ui-selectmenu) {
  border: none !important;
  box-shadow: none !important;
}
.dashboardCustomDiv a:not(.ui-selectmenu):before {
  transition: none !important;
}
.dashboardCustomDiv .dashboardText {
  display: inline-block;
  bottom: 14px;
  position: relative;
}
.dashboardCustomDiv a.ui-selectmenu {
  display: inline-block;
  bottom: 15px;
  position: relative;
}
.searchHeaderCls {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
}
.summaryGridTitleHolder {
  border: none;
  border-bottom: 1px solid #BBBBBB;
}
/*@import "newCustomStyles.less";*/
/**
   functions less.
*/
.card {
  -webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
  -moz-animation: cardEnter 0.75s ease-in-out 0.5s;
  animation: cardEnter 0.75s ease-in-out 0.5s;
  animation-fill-mode: both;
  max-width: 260px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin: 15px auto;
  opacity: 0;
  text-align: center;
}
@keyframes cardEnter {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    /* note that you have @trasnform here */
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -moz-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    /* note that you have @trasnform here */
    -o-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -moz-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    /* note that you have @trasnform here */
    -o-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -moz-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    /* note that you have @trasnform here */
    -o-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -moz-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    /* note that you have @trasnform here */
    -o-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    /* note that you have @trasnform here */
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -20px;
    opacity: 0;
  }
}
@-moz-keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -20px;
    opacity: 0;
  }
}
@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 50px;
    width: 50px;
    margin-left: -10px;
    margin-top: -20px;
    opacity: 0;
  }
}
@keyframes shrinkNBounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkboxCheck {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: .2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: .2em;
    height: .5em;
    border-color: #212121;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
.hideSubMenuCard {
  display: none !important;
}
/**
   commoncontrols less.
*/
/* --------- checkbox style --------- */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 18px;
  width: 18px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  cursor: pointer;
  /*display: inline-block;*/
  margin: 0 12px 0 15px;
  outline: none;
  position: relative;
  /*z-index: 1000;*/
  color: #000;
}
input[type="checkbox"]:hover {
  background: #fff;
}
input[type="checkbox"]:checked {
  background: #fff;
}
input[type="checkbox"]:checked::before {
  height: 9px;
  width: 9px;
  position: absolute;
  content: '\2713';
  display: inline-block;
  text-align: center;
  line-height: 20px;
  top: -2px;
  left: 2px;
  font-size: 13px;
  font-weight: bold;
}
input[type="checkbox"]:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #999;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  top: -5px;
  left: -15px;
}
/*-------------- radio button ----------------*/
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px 0 10px;
  outline: none;
  position: relative;
  /*z-index: 1000;*/
  text-align: center;
  border-radius: 50%;
  padding: 0;
}
input[type="radio"]:hover {
  background: #fff;
}
input[type="radio"]:checked {
  background: #fff;
}
input[type="radio"]:checked::before {
  position: absolute;
  content: '\2022';
  display: inline-block;
  text-align: center;
  line-height: 12px;
  top: 0;
  left: 0;
  font-size: 28px;
}
input[type="radio"]:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #999;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  top: 3px;
  left: -8px;
}
input[type="radio"]::after {
  border-radius: 50%;
}
input[type="radio"]:disabled {
  border-color: #ddd;
  cursor: default;
}
input.payclass,
input.returnclass,
input.holdclass {
  left: 12px;
}
input#payRadioAllDummy,
input#returnRadioAllDummy,
input#holdRadioAllDummy {
  margin-bottom: 15px;
  margin-left: 5px;
}
.ui-button .ui-button-text {
  text-shadow: none;
}
:not(.dashboardSummaryHolderDiv) > a.ui-button,
:not(.dashboardSummaryHolderDiv) .ui-button {
  display: inline-block;
  padding: 0;
  margin-right: 10px;
  background: #fff;
  color: rgba(0, 0, 0, 0.870588);
  border: 1px solid #BBBBBB;
  border-radius: 2px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  box-shadow: none;
}
#hideTempHistory, #hideTempHistory:focus, #viewTempHistory, #viewTempHistory:focus {
  border: none !important;
  box-shadow: none !important;
}
#hideTempHistory:hover, #viewTempHistory:hover {
  background: none;
}
:not(.dashboardSummaryHolderDiv) > a.ui-button:not(.ui-button-icon-only):focus,
:not(.dashboardSummaryHolderDiv) .ui-button:not(.ui-button-icon-only):focus {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  transition: box-shadow 0.5s;
}
:not(.dashboardSummaryHolderDiv) > a.ui-button:before {
  transition: all 0.5s linear, opacity 0.25s linear 0.25s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*height: 500px;
  width: auto;*/
  width: 0;
  margin: auto;
  opacity: 0;
  background: #ddd;
  border-radius: 100%;
  content: "";
}
:not(.dashboardSummaryHolderDiv) > a.ui-button:active:before,
:not(.dashboardSummaryHolderDiv) > a.ui-button :hover:before,
:not(.dashboardSummaryHolderDiv) > a.ui-button :focus:before {
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
  height: 0px;
  width: 0px;
  opacity: .5;
}
:not(.dashboardSummaryHolderDiv) > a.ui-button:hover {
  background: #f4f4f4;
}
a.ui-button.ui-state-disabled {
  box-shadow: none;
}
a.ui-button.ui-state-disabled:before,
a.ui-button.ui-state-disabled:active:before {
  -webkit-transition: none !important;
  transition: none !important;
}
.availAlertTypeTable:not(.dashboardSummaryHolderDiv) > a.ui-button,
.availAlertTypeTable:not(.dashboardSummaryHolderDiv) .ui-button {
  width: 40px;
}
.availAlertTypeTable .ui-button .ui-button-text {
  padding: 3px;
}
.tableAlerternateRowColor.tdWithPaddingAllSides:not(.dashboardSummaryHolderDiv) > a.ui-button,
.tableAlerternateRowColor.tdWithPaddingAllSides:not(.dashboardSummaryHolderDiv) .ui-button {
  padding: 0px;
}
/*------- Dropdown arrow icons --------*/
button.ui-button-icon-only.ui-corner-right.ui-button-icon.comboboxbtn,
.ui-selectmenu > span.ui-selectmenu-icon {
  border: none;
  background: none;
}
button.ui-button-icon-only.ui-corner-right.ui-button-icon.comboboxbtn span.ui-button-icon-primary.ui-icon-triangle-1-s,
.ui-selectmenu > span.ui-selectmenu-icon {
  background: none;
  width: 0 !important;
  height: 0 !important;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #857D7D;
}
input[type='textbox'],
input[type='text'],
input[type='password'],
.ui-widget-content.ui-corner-all.txtbox,
a.ui-selectmenu.ui-selectmenu-dropdown,
.customSelectBox input {
  outline: none;
  border: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
  -webkit-background-size: 0 2px, 100% 1px;
  background-size: 0 2px, 100% 1px;
  transition-duration: 0.3s;
  background-repeat: no-repeat;
  background-position: center bottom, center -webkit-calc(99%);
  background-position: center bottom, center calc(99%);
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background 0s ease-out;
  -o-transition: background 0s ease-out;
  transition: background 0s ease-out;
  float: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
input[type='text'].ui-autocomplete-input {
  padding: 0px 5px;
}
input[type='textbox']:focus,
.ui-widget-content.ui-corner-all.txtbox:focus,
.ui-selectmenu:focus,
input[type='text']:focus,
input[type='password']:focus {
  background-size: 100% 2px, 100% 1px;
  transition-duration: 0.3s;
}
input[type='textbox']::-webkit-input-placeholder,
.ui-widget-content.ui-corner-all.txtbox::-webkit-input-placeholder,
.ui-selectmenu::-webkit-input-placeholder,
input[type='text']::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
input[type='textbox']:focus::-webkit-input-placeholder,
input[type='textbox']:valid::-webkit-input-placeholder,
.ui-widget-content.ui-corner-all.txtbox:focus::-webkit-input-placeholder,
.ui-selectmenu:focus::-webkit-input-placeholder,
.ui-widget-content.ui-corner-all.txtbox:valid::-webkit-input-placeholder,
.ui-selectmenu:valid::-webkit-input-placeholder,
input[type='text']:focus::-webkit-input-placeholder,
input[type='text']:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}
input[type='textbox']::-webkit-input-placeholder,
input[type='text']::-webkit-input-placeholder,
.ui-widget-content.ui-corner-all.txtbox::-webkit-input-placeholder,
a.ui-selectmenu.ui-selectmenu-dropdown::-webkit-input-placeholder {
  color: #ddd !important;
  font-size: 12px !important;
  top: 20px;
  position: relative;
}
input[type="text"]:focus,
input.ui-widget-content:focus,
.ui-selectmenu:focus,
input[type='password']:focus,
button.ui-button-icon-only.ui-corner-right.ui-button-icon.comboboxbtn:focus {
  outline: 0;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background-position: 0% 100% !important;
}
.ui-selectmenu {
  padding-top: 12px !important;
}
.ui-selectmenu.ui-selectmenu-dropdown {
  border-bottom: 1px solid #e1e1e1 !important;
  padding-top: 0 !important;
}
.ui-selectmenu.ui-selectmenu-dropdown span.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s {
  margin-top: 5px !important;
  padding: 0;
}
.ui-selectmenu-menu {
  border: 1px solid #e1e1e1;
}
a.ui-spinner-button {
  position: absolute !important;
  box-shadow: none !important;
  margin: 0 !important;
}
span.ui-spinner.ui-widget.ui-widget-content.ui-corner-all {
  border: 1px solid #e1e1e1 !important;
}
.ui-dialog.ui-draggable .ui-widget-header {
  background: none !important;
}
.ui-dialog.ui-draggable .ui-dialog-titlebar {
  border-bottom: none;
}
.ui-dialog.ui-draggable .ui-dialog-title {
  font-weight: bold;
  color: #666;
}
.ui-dialog.ui-draggable .ui-dialog-titlebar-close {
  background: none !important;
  box-shadow: none !important;
}
.ui-dialog-content .ui-multiselect li {
  border: none;
}
.ui-dialog-content .customDialogFooter {
  padding: 10px 0 !important;
}
img.ui-datepicker-trigger {
  display: inline-block;
  background: url("../../web/grafx/new/date_range.png") no-repeat !important;
  height: 24px;
  width: 24px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
  cursor: pointer;
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
div#ui-datepicker-div .ui-datepicker-header {
  background: none;
  border-bottom: none;
}
/**
   grid less.
*/
.ui-widget-content:not(.ui-extmultiselect-menu):not(.ui-selectmenu) {
  border: none !important;
}
.ui-widget-content.jqgrow.ui-row-ltr {
  border: 1px solid #e1e1e1 !important;
}
.ui-widget-content.jqgrow.ui-row-ltr.ui-state-zebra,
.ui-widget-content.jqgrow.ui-row-ltr.ui-state-highlight {
  background: #fff;
}
.ui-jqgrid-sortable {
  color: #888;
  padding: 12px 0;
}

.ui-widget-content .ui-state-default:not(.ui-accordion-header):not(.ui-button) {
    background: #f3f3f3 !important;
}

a.ui-selectmenu.ui-state-default:not(.ui-accordion-header):not(.ui-button) {
    background: none !important;
}

.ui-widget-content .ui-state-default:not(.ui-accordion-header):not(.ui-th-column) div:not(.toggle-on):not(.toggle-off) {
    color: #6b6b6b !important;
    font-weight: bold;
}

.sapUiIconCls.icon-calendar.portletSettingsIcon {
  background-image: url("../grafx/new/date_range.png");
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.sapUiIconCls.icon-action-settings.portletSettingsIcon {
  background-image: url("../grafx/new/more_vert_black.png");
  background-color: transparent !important;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  display: block;
  margin-right: 0px;
  padding: 0 !important;
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.icon-calendar:before,
.icon-action-settings:before {
  content: '';
}
.gridPagerControlCls {
  border: none;
  background: #fff;
}
.gridPagerControlCls span.gridPagerFirstLastBtn {
  background: #fff;
  border: none;
  box-shadow: none;
}
.gridPagerControlCls .ui-state-disabled,
.gridPagerControlCls .ui-widget-content .ui-state-disabled,
.gridPagerControlCls .ui-widget-header .ui-state-disabled {
  opacity: 1 !important;
}
.gridPagerControlCls .gridPagerCurrentSelectedPg {
  background: none;
  color: #666;
  font-weight: bold;
  box-shadow: none;
}
.gridPagerControlCls a.gridPagerPgNumberCls {
  background: none;
  color: #888;
  box-shadow: none;
}
.gridPagerControlCls select.ui-pg-selbox {
  border: none;
  color: #888;
  outline: none;
}
.gridSummaryContainerCls .ui-widget-content:not([type=text]) {
  border: none;
  border-bottom: #e1e1e1;
  background: #fff;
}
.gridSummaryContainerCls table .ui-pg-table.gridPagerControlCls {
  background: #fff;
  border: none;
}
.gridSummaryContainerCls table .ui-pg-table.gridPagerControlCls td select.ui-pg-selbox {
  border: none;
  color: #666;
  outline: none;
  margin-left: 25px !important;
}
.gridSummaryContainerCls .ui-jqgrid-sortable {
  color: #8B8888;
  font-weight: normal;
}
.gridSummaryContainerCls .ui-jqgrid .ui-paging-info {
  color: #666;
}
.gridSummaryContainerCls .gridPagerFirstLastBtn {
  border: none;
  background: none;
  box-shadow: none;
}
.gridSummaryContainerCls span.gridPagerCurrentSelectedPg {
  background: none;
  color: #888;
  box-shadow: none;
}
.gridSummaryContainerCls .ui-state-disabled,
.gridSummaryContainerCls .ui-widget-content .ui-state-disabled,
.gridSummaryContainerCls .ui-widget-header .ui-state-disabled {
  opacity: 0.8 !important;
}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column:first-child div {
  padding-left: 0;
  padding-bottom: 10px;
  margin-left: 13px;
}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column:first-child div input[type="checkbox"] {
  margin: 0;
  margin-bottom: 5px;
}
/**
   This files is for resolving any issues or customizing any element's style to fix issue, if any.
*/
#reportOnDivID.acntDashboard_masterItemHolder {
  margin-top: -19px;
  margin-left: 10px;
}
form#editBusinessForm > table {
  padding: 0 10px;
}
.paneWrapper tr.header > td {
  line-height: 20px;
  padding-left: 5px;
}
td.tbrd_t {
  border-color: #e1e1e1;
}
/*.adminPageStyle input[type="checkbox"]{
    margin-bottom: 10px;
}*/
.dashboardCustomDiv .selectBoxHolder {
  margin-top: 1px;
}
.ui-helper-reset.pane.ui-widget {
  border: 1px solid #e1e1e1;
  border-top: none;
  margin-top: 5px;
}
.ui-helper-reset.pane.ui-widget .pane-header,
.customAccordianBgClass.adminAccordianCls .pane-header {
  border: none;
  background-color: #e1e1e1 !important;
  height: 25px;
  line-height: 25px;
}
input#cb_achEntriesGridId {
  left: -15px;
  top: 0px;
  height: 17px;
}
.loading-indicator.ui-widget-overlay {
  top: 0 !important;
}
.ui-dialog .ui-dialog-buttonpane {
  height: 35px;
}
.sessionReportCls {
  margin-top: 0;
}
.ui-selectmenu,
ui-selectmenu.ui-selectmenudropdown {
  margin-top: 7px;
}
.acntDashboard_itemHolder {
  margin-right: 15px !important;
}
#reportOnDivID.acntDashboard_masterItemHolder {
  margin-top: 0 !important;
  margin-left: 0 !important;
  display: flex !important;
}
.ui-selectmenu-menu.ui-selectmenu-open {
  border: none;
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-selectmenu-menu-dropdown {
  border: 1px solid #e1e1e1 !important;
}
div#searchDestinationBankDialogID .approvalDialogHt {
  height: 350px;
}
.skipActionHolderDivAppend .ui-button.ui-selectmenu {
  padding-top: 7px !important;
  width: 60px !important;
  margin-bottom: 9px;
  margin-left: 5px;
}
.btn-row {
  display: flex;
  align-items: center;
  justify-content: center;
  float: none;
}
.miscTabItem > input[type="checkbox"] {
  margin: 0;
}
#deliveryOptionsGrid input[type="radio"] {
  margin-left: 8px;
}
/* account and cashflow form alignment */
.acntDashboard_masterItemHolder > div,
.acntDashboard_masterHolder > div {
  vertical-align: bottom;
}
.searchDashboardRenderCls table {
  /*display: flex;*/
}
.searchDashboardRenderCls table td {
  padding: 2px 8px;
}
.searchDashboardRenderCls table td label,
.searchDashboardRenderCls table td span.sectionsubhead.dashboardLabelMargin {
  padding-top: 6px;
}
.tblFlex td {
  display: inline-flex;
}
table.permissionTblWithBorder td.tbrd_t {
  padding-bottom: 10px;
}
table.permissionTblWithBorder td.tbrd_t.columndata {
  padding-bottom: 0px;
}
table.permissionTblWithBorder tr:not(.header) td {
  padding-bottom: 10px;
}
.alignItemsDivision {
  vertical-align: top;
  margin-top: 10px;
}
.largeFormContent .blockContent .blockRow span {
  vertical-align: super;
}
a#searchDestBank,
a#searchBankBillPayPayee2,
a#searchBank {
  vertical-align: bottom;
}
a#acctFileUploadID,
a#addGroupAdminButtonId {
  vertical-align: middle;
}
.showTitle .portlet-header > span.portlet-title {
  display: block !important;
}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column:first-child div {
  margin-left: 0 !important;
}
.onlineAccContentDiv a.ui-button {
  vertical-align: middle;
}
div#dbExternalAccountSummary #manageExternalAccountsLink {
  box-shadow: none;
}
.memo > b {
  margin-right: 10px;
}
input#sessionActivityCheck {
  margin-bottom: 15px;
}
a#importBatchesSubmitId {
  vertical-align: middle;
}
a#addBatchSubmitId {
  vertical-align: middle;
}
a#pagedSelectID-menu {
  vertical-align: bottom;
}

.ppayHoverDetailsMaster {
    display: none;
    width: 100%;
    height: 91%;
    top: 50px;
    left: 0;
    position: fixed;
    z-index: 10001!important;
}

.winTitle {
  display: block;
  color: #6d6d6d;
    font-weight: bold;
}

.checkDetailsSection {
  width: 100%;
  margin-top: 20px;
}

.fieldLbl {
  color: #777777;
  text-align: right;
  padding-right: 10px;
}

.fieldVal {
  color: #000;
}

.actionItemHolder {
  text-align: center;
}

.actionItemHolder input {
  margin-left: 50px;
}

.ppayDetailsWinOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

.ppayHoverDetailsHolder {
	width: 50%;
	height: 93%;
	position: relative;
	margin: auto;
	background: rgba(255,255,255,1);
	padding: 20px;
	top: 7px;
	box-shadow: 0px 0px 10px #3c3c3c;
	overflow-x: hidden;
	overflow-y: auto;
}

.ppayDetailsHover {
  display: block;
}

.lowerZIndex {
  z-index: 0!important;
}

.imagePlaceholderText {
  text-align: center;
  width: 100%;
  color: #a5a5a5;
  float: left;
  margin-top: 10%;
}

.chkImgHolder {
    border: 1px solid #d6d6d6;
    margin: 15px 0;
    min-height: 500px;
    max-height: 550px;
    overflow: auto;
}

hr {
  border-bottom-color: #fff;
  border-top: 1px solid #ccc;
  border-left: none;
}

.imgPanControls {
    /* position: absolute;
    bottom: 20px; */
	position: relative;
    margin-top: 20px;
}
.borderNone {
  border: none !important;
}
.mobileDeviceDropdown {
  width: 60% !important;
}
.ui-extmultiselect-filter, .ui-extmultiselect-header ul, .ui-extmultiselect-checkboxes li {
  font-size: 13px;
}
.noAccountSelected {
    font-size: 14px !important;
    font-family: Ubuntu!important;
    margin-top: 5px;
}

.noAccountSelected a[class=sapUiLnk] {
    font-size: 14px !important;
    color: #0000ff !important;
    font-family: Ubuntu!important;
    margin-left: 5px;
}

.cutoffTimeMsgsHolder {
    width: 60%;
    left: 25%;
   	top: 70px;
    background: #f3f3f3;
	border: 1px solid #e8e7e7;
    position: absolute;
}

.cutoffTimeMsg {
    width: 50%;
    float: left;
    font-weight: normal;
    box-sizing: border-box;
    padding-left: 5px;
}

.cutoffTimeMsgsHolder p {
	padding: 5px;
}