/**
   main less.
*/

body{
    background: #f0f0f0;
}


@import "constants.less";
@import "utils.less";
@import "theme.less";
@import "topbar.less";
@import "menu.less";
@import "home.less";
@import "dashboard.less";
/*@import "newCustomStyles.less";*/
@import "functions.less";
@import "commonControls.less";
@import "grid.less";
@import "customStyles.less";
