/**
   topbar less.
*/

.topBarBankLogo{
	background: none;
	width: 0;
	min-width: 0;
}

.topbarCenterDiv{
	display: none;
}

.topbarRightDiv {
    height: auto;
    width: auto;
    min-width: auto !important;
    margin-right: 25px;
    position: fixed;
    top: 0;
    right: 0;
    & li.ffiUiIcoMedium.globalMsgIcoCls {
	  background-size: 60%;
	  background-repeat: no-repeat;
	  margin: 10px 10px 0 0;
	}
	& .headerBarLinks {
	    margin: 0;
	    padding: 0;
	    & > a {
		  background-size: 90%;
		  background-repeat: no-repeat;
		}
	}
	& .newNotifiationIndicatorCls {
	    border-radius: 50%;
	    margin: -10px 0px 0px 0px;
	    padding: 4px 3px;
	    font-size: 12px;
	    box-shadow: -1px 1px 2px #000000;
	}
}

.topbarLeftDiv {
    width: 100%;
    padding-left: 30px;
    box-sizing: border-box;
}

.bookmarkBoxHolder {
	display: block;
    height: 15px;
    width: 11px;
    float: left;
    padding: 0;
    position: absolute;
    left: 40px;
	& input#shortcutSearchInput {
		height: 35px;
		border-radius: 20px;
		display: inline-block;
		font-weight: 100;
		border: none;
		outline: none;
		color: #555;
		padding: 3px;
		padding-left: 35px;
		width: 0px;
		position: absolute;
		top: 0;
		left: -104px;
		background: none;
		background-color: transparent !important;
		z-index: 3;
		transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
		cursor: pointer;
		&:focus {
		  width: 240px;
		  z-index: 1;
		  cursor: text;
		  background-color: rgba(70,70,70,0.95) !important;
		  color: #fff !important;
		  border: none;
		  padding-left: 45px;
		}
	}
	& input#shortcutSearchInput:focus:hover {
	  border-bottom: 1px solid @BORDER_COLOR;
	}
}

.bookmarkSearchIconHolder {
    height: 30px;
    width: 30px;
    float: right;
    background: url("../grafx/new/search.png");
    background-size: 70%;
    background-position: inherit;
    background-repeat: no-repeat;
    text-indent: -10000px;
    border: none;
    top: 10px;
    right: 70px;
    z-index: 3;
    cursor: pointer;
    transition: opacity .4s ease;
    margin-top: 0;
    &:hover {
	 /* opacity: 0.8;*/
	}
}

.shortcutHolderAnchor {
    margin: 0 !important;
}

li.shortcutHeaderItem.ui-menu-item > a {
	pointer-events: none;
	&.ui-state-focus {
	    background: transparent !important;
	    text-shadow: none !important;
	}
}


.profileInfoContainer {
	height: 45px;
    margin-top: 10px;
    position: fixed;
    cursor: pointer;
    & .avatar{
		height: 35px;
	    width: 35px;
	    float: left;
	    background: url("../grafx/new/user.png");
	    background-size: 70%;
	    margin-top: 2px;
	    background-position: inherit;
	    background-repeat: no-repeat;
	}
	& .userFullName{
		opacity: 0.9;
	}
}

.profileInfoContainer:hover > .profileActivityContent{
	max-height: 999px;
	visibility: visible;
}

/* ----------- ICONS OVERRIDE ------------- */
.ffiUiIcoMedium{
	&.ffiUiIco-icon-cloud, &.ffiUiIco-icon-cloud-active{
	    background-image: url("../grafx/new/globalMsg.png");
	    display: block;
	    width: 47px;
	   /* height: 27px;*/
	    background-position: inherit;
	}
	&.ffiUiIco-icon-mail {
		background-image: url("../grafx/new/messages.png");
	    display: block;
	    width: 40px;
	    height: 40px;
	    background-position: inherit;
	}
	&.ffiUiIco-icon-alert{
		background-image: url("../grafx/new/alerts.png");
	    display: block;
	    width: 34px;
	    height: 40px;
	    background-position: inherit;
	}
	&.ffiUiIco-icon-printer{
		background-image: url("../grafx/new/print.png");
	    display: block;
	    width: 44px;
	    height: 40px;
	    background-position: inherit;
        display: none; /*TODO: move to the personal settings box*/
	}
	&.ffiUiIco-icon-approval{
		background-image: url("../grafx/new/approval.png");
	    display: block;
	    width: 33px;
	    /*height: 26px;*/
	    background-position: inherit;
	}
}
a#logoutLink {
    background-image: url("../grafx/new/logout.png");
    display: block;
    width: 25px;
    height: 25px;
    background-position: inherit;
    border: 0;
    margin-top: 12px;
    margin: 0;
    padding: 0;
    margin-top: 9px;
    & > span {
	    display: none;
	}
}
.globalMsgIcoCls{
	margin-right: 3%;
}
/* ----------- ICONS OVERRIDE ------------- */

/* ----------- PROFILE ACTIVITY BOX ----------- */
.profileActivityContent{
	max-height: 0;
	width: 230px;
	font-size: 14px;
	border: 1px solid @BORDER_COLOR;
	position: absolute;
	top: 36px;
	left: -28px;
	z-index: 2;
	visibility: hidden;
	overflow: hidden;
	-webkit-transition: max-height 0.25s; 
    -moz-transition: max-height 0.25s; 
    -ms-transition: max-height 0.25s; 
    -o-transition: max-height 0.25s; 
    transition: max-height 0.25s;  
	& > span {
		height: 50px;
		background-color: #f2f2f2;
		width: 200px;
		padding-left: 30px;
		color: #065292;
		border-bottom: 1px solid #ccc;
		display: block;
		font-size: 15px;
		line-height: 45px;
		&:hover{
			background: #fff;
			-webkit-transition: background 0.25s ease-in-out;
			-moz-transition: background 0.25s ease-in-out;
			-o-transition: background 0.25s ease-in-out;
			transition: background 0.25s ease-in-out;
		}
	}
}

/* ----------- PROFILE ACTIVITY BOX ----------- */
