.formPanel {
}

.formPane {
    /* width: 700px; */
    float: left;
}

.templatePane {
    padding-top: 1em;
    /* padding-left: 2em; */
    border-left: groove;
    /* width: 200px; */
    float: right;
}
